Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

formatting, mark for scipy
  pvlib/pvarray.py
  pvlib/tests/test_pvarray.py
Due: core

adjust import, add docstring
  pvlib/pvarray.py
  pvlib/tests/test_pvarray.py
Due: core

Improve docstring for get_ground_diffuse (#1953)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/irradiance.py
Due: core

Enable numba and nrel-pysam in py3.12 anaconda environments (#1964)
  ci/requirements-py3.12.yml
Due: none

Docstring suggestion from Kevin
  pvlib/shading.py
Due: core

Update link to example?
  pvlib/shading.py
Due: core

Link, please work
  pvlib/shading.py
Due: core

Update shading.py
  pvlib/shading.py
Due: core

Lintaaaaaaarrrgh
  pvlib/shading.py
Due: core

use "with open" from code review
  pvlib/iotools/solrad.py
Due: remote-data

Fix ValuerError message formatting in infer_temperature_model to address linter issues
  pvlib/modelchain.py
Due: core

Capitalize beginning of error message in modelchain.infer_temperature_model
  pvlib/modelchain.py
Due: core

Update pvlib/shading.py
  pvlib/shading.py
Due: core

Support PEP621 (#1910)
  pyproject.toml
  setup.py
Due: none

set minimum numba in pyproject.toml
  pyproject.toml
Due: none

Have pvlib.iotools.read_solrad return metadata (#1968)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/iotools/solrad.py
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

remove stray empty line
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

fix broken test
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

fix problem with read_solrad for 404 URLs
  pvlib/iotools/solrad.py
Due: remote-data

Update pvlib/modelchain.py
  pvlib/modelchain.py
Due: core

Create `pvlib.iotools.get_solrad` (#1967)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/solrad.py
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

add example script and static plot images
  docs/examples/system-models/README.rst
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/_images/OEDI_9068_daily_timeseries.png
  docs/sphinx/source/_images/OEDI_9068_inverter1_comparison.png
  docs/sphinx/source/_images/OEDI_9068_inverter2_comparison.png
Due: none

configure sphinx-gallery to not execute this one
  docs/sphinx/source/conf.py
Due: none

lint
  docs/examples/system-models/plot_oedi_9068.py
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

fix backticks issue
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Projected zenith convenience function (#1904)
  docs/sphinx/source/_images/Anderson_Mikofski_2020_Fig5.jpg
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/shading.py
  pvlib/tests/test_shading.py
  pvlib/tracking.py
Due: core

Format issues
  pvlib/tests/test_shading.py
Due: core

Implementation
  pvlib/shading.py
Due: core

Minimal test
  pvlib/tests/test_shading.py
Due: core

Array -> Axis
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core
