Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Add gallery example for OEDI system 9068 (#1985)
  docs/examples/system-models/README.rst
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/_images/OEDI_9068_daily_timeseries.png
  docs/sphinx/source/_images/OEDI_9068_inverter1_comparison.png
  docs/sphinx/source/_images/OEDI_9068_inverter2_comparison.png
  docs/sphinx/source/conf.py
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

finalize whatsnew
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

address the many pandas deprecation warnings
  pvlib/inverter.py
  pvlib/iotools/bsrn.py
  pvlib/iotools/solcast.py
  pvlib/iotools/srml.py
  pvlib/iotools/surfrad.py
  pvlib/tests/iotools/test_sodapro.py
  pvlib/tests/test_clearsky.py
  pvlib/tests/test_irradiance.py
  pvlib/tests/test_location.py
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_pvsystem.py
  pvlib/tests/test_shading.py
  pvlib/tests/test_snow.py
  pvlib/tests/test_solarposition.py
  pvlib/tests/test_temperature.py
  pvlib/tests/test_tracking.py
Due: core, remote-data

roll back the change from M to ME
  pvlib/iotools/bsrn.py
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_sodapro.py
  pvlib/tests/test_clearsky.py
Due: core, remote-data

lint
  pvlib/tests/iotools/test_sodapro.py
Due: remote-data

Address pandas deprecation warnings (#1995)
  pvlib/inverter.py
  pvlib/iotools/solcast.py
  pvlib/iotools/surfrad.py
  pvlib/tests/iotools/test_sodapro.py
  pvlib/tests/test_clearsky.py
  pvlib/tests/test_irradiance.py
  pvlib/tests/test_location.py
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_pvsystem.py
  pvlib/tests/test_shading.py
  pvlib/tests/test_snow.py
  pvlib/tests/test_solarposition.py
  pvlib/tests/test_temperature.py
  pvlib/tests/test_tracking.py
Due: core, remote-data

Update docs/sphinx/source/whatsnew/v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Create v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Finalize 0.10.4 (#1994)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Update plot_oedi_9068.py
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Update v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Updated pd.date_range-API in plot_sunpath_diagrams.py
  docs/examples/solar-position/plot_sunpath_diagrams.py
Due: none

changed colorbar for plots in plot_sunpath_diagrams.py
  docs/examples/solar-position/plot_sunpath_diagrams.py
Due: none

Add quantum_efficiency_to_spectral_responsivity and spectral_responsivity_to_quantum_efficiency
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Remove linear_shade_loss
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Update plot_sunpath_diagrams.py
  docs/examples/solar-position/plot_sunpath_diagrams.py
Due: none

Update test_tracking.py
  pvlib/tests/test_tracking.py
Due: core

Update tracking.py
  pvlib/tracking.py
Due: core

First implementation of the new shaded fraction model (missing figure)
  docs/sphinx/source/_images/Anderson_Mikofski_2020_Fig9.png
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Create Anderson_Jensen_2024_Fig3.png
  docs/sphinx/source/_images/Anderson_Jensen_2024_Fig3.png
Due: none

Update shading.py
  pvlib/shading.py
Due: core

VCS tricks to port linear shade loss model to another branch
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

lintaaargggg
  pvlib/shading.py
Due: core

Add thumbnail (hopefully)
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Multiline config vars not allowed?
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Fill reference
  pvlib/shading.py
Due: core

Next release 0.10.5?
  pvlib/shading.py
Due: core

who knows if this works
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Trim extra spaces
  docs/examples/system-models/plot_oedi_9068.py
Due: none

another try
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Another try, remove config from output
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/conf.py
Due: none

Update conf.py
  docs/sphinx/source/conf.py
Due: none

Bad news, RTD works incrementally - locally it works
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Try to remove config option code block
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
