Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Apply cwhanse suggestion
  pvlib/iotools/tmy.py
Due: remote-data

Apply cwhanse suggestion
  pvlib/irradiance.py
Due: core

Modified cwhanse suggestion
  pvlib/modelchain.py
Due: core

Update modelchain.py
  pvlib/modelchain.py
Due: core

Some None's missed
  pvlib/irradiance.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
Due: core

``none``'s, some more ``'s to variables and some other nones
  pvlib/iam.py
  pvlib/iotools/pvgis.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/solarposition.py
Due: core, remote-data

Special ``none`` cases (please review)
  pvlib/iotools/pvgis.py
Due: remote-data

Linter
  pvlib/iotools/pvgis.py
Due: remote-data

Run more regexes
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/irradiance.py
Due: core, remote-data

More Nones
  pvlib/clearsky.py
  pvlib/irradiance.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/temperature.py
Due: core

Update irradiance.py
  pvlib/irradiance.py
Due: core

Revert "Special ``none`` cases (please review)"
  pvlib/iotools/pvgis.py
Due: remote-data

Apply suggestions from code review
  pvlib/iam.py
  pvlib/irradiance.py
  pvlib/location.py
  pvlib/solarposition.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Function prototype
  pvlib/shading.py
Due: core

Fix CAMS message error handler - Issue#1799
  pvlib/iotools/sodapro.py
Due: remote-data

Update shading.rst
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
Due: none

Update shading.py
  pvlib/shading.py
Due: core

Minimal test
  pvlib/tests/test_shading.py
Due: core

Substitute changing to float64 dtype using map with base functionality that's accessible across Pandas versions
  pvlib/tests/test_singlediode.py
Due: core

Added username to Contributors
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update line break in test_clearsky to adhere to line length limit
  pvlib/tests/test_clearsky.py
Due: core

fix Python Flake8 Linter error
  pvlib/iotools/sodapro.py
Due: remote-data

Implementation
  pvlib/shading.py
Due: core

Fix, fix, fix, fix & format
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Format issues
  pvlib/tests/test_shading.py
Due: core

Extend tests (compare with singleaxis) & format with ruff
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Format fixes
  pvlib/tests/test_shading.py
Due: core

Address pandas FutureWarnings in test suite (#1900)
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/tests/iotools/test_srml.py
  pvlib/tests/test_clearsky.py
  pvlib/tests/test_irradiance.py
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_singlediode.py
Due: core, remote-data

Apply suggestions from code review
  docs/sphinx/source/user_guide/weather_data.rst
Due: none

revisions
  docs/sphinx/source/user_guide/weather_data.rst
Due: none

Fix associated UT and add contribution in WhatsNews
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iotools/sodapro.py
  pvlib/tests/iotools/test_sodapro.py
Due: remote-data

Upgrade tests
  pvlib/tests/test_shading.py
Due: core

Array -> Axis
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

type
  pvlib/tests/test_shading.py
Due: core

Whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

xd
  pvlib/tests/test_shading.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
