Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Revert change in minimum pandas version
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.9-min.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/tests/test_tools.py
  pyproject.toml
Due: core

Fix test
  pvlib/tests/test_tools.py
Due: core

Remove pytz from tools
  pvlib/iotools/pvgis.py
  pvlib/location.py
  pvlib/temperature.py
  pvlib/tests/iotools/test_midc.py
  pvlib/tests/test_clearsky.py
  pvlib/tests/test_location.py
  pvlib/tests/test_solarposition.py
  pvlib/tests/test_tools.py
  pvlib/tools.py
Due: core, remote-data

Remove remaining direct dependency on pytz
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.9-min.yml
  ci/requirements-py3.9.yml
  docs/tutorials/solarposition.ipynb
  pvlib/location.py
  pvlib/tests/test_location.py
  pvlib/tests/test_solarposition.py
  pyproject.toml
Due: core

Appease the linter
  pvlib/location.py
Due: core

Comment out pytz dep
  pyproject.toml
Due: none

Revert to just pyproject.toml changes (no zoneinfo changes)
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.9-min.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/tutorials/solarposition.ipynb
  pvlib/iotools/pvgis.py
  pvlib/location.py
  pvlib/temperature.py
  pvlib/tests/iotools/test_midc.py
  pvlib/tests/test_clearsky.py
  pvlib/tests/test_location.py
  pvlib/tests/test_solarposition.py
  pvlib/tests/test_tools.py
  pvlib/tools.py
  pyproject.toml
Due: core, remote-data

leave out numba
  ci/requirements-py3.13.yml
Due: none

and pysam
  ci/requirements-py3.13.yml
Due: none

revert learning page
  docs/sphinx/source/user_guide/bifacial.rst
  docs/sphinx/source/user_guide/clearsky.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/introtutorial.rst
  docs/sphinx/source/user_guide/modelchain.rst
  docs/sphinx/source/user_guide/pvsystem.rst
  docs/sphinx/source/user_guide/singlediode.rst
  docs/sphinx/source/user_guide/timetimezones.rst
  docs/sphinx/source/user_guide/weather_data.rst
Due: none

add section label to index.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

delete learning
  docs/sphinx/source/learning/index.rst
Due: none

fix yaml syntax issue
  ci/requirements-py3.13.yml
Due: none

Update index.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

update extras maxdepth in index.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

add 3.13 to remote-data tests also
  .github/workflows/pytest-remote-data.yml
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

user guide label test
  docs/sphinx/source/index.rst
Due: none

remove user guide label test (passed)
  docs/sphinx/source/index.rst
Due: none

remove learning from index
  docs/sphinx/source/index.rst
Due: none

Type Location's tz and pytz attributes as advertised
  pvlib/location.py
  pvlib/tools.py
Due: core

Add timezone type checks to Location init test
  pvlib/location.py
  pvlib/tests/test_location.py
Due: core

Don't parameterize repetitive tests
  pvlib/tests/test_tools.py
Due: core

Update whatsnew for Location bugfix
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Update docstring
  pvlib/tools.py
Due: core

Improve whatsnew formatting
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

change subsection title -> modeling topcis
  docs/sphinx/source/user_guide/index.rst
Due: none

Update v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

add a function to test inputs for gti_dirint
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

linter
  pvlib/tests/test_irradiance.py
Due: core

fix . + [ ]
  pvlib/irradiance.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

in decimal degrees -> [°]
  pvlib/irradiance.py
Due: core

reinsert .
  pvlib/irradiance.py
Due: core

fix CI
  .github/workflows/pytest.yml
Due: none

pin sphinx-hoverxref version to 1.4.x, where x>2
  pyproject.toml
Due: none
