Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Fix redundant multiplication
  pvlib/irradiance.py
Due: core

Move whatsnew entry to 0.16.0
  docs/sphinx/source/whatsnew/v0.15.3.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

[MAINT] Fix some gallery files not being executed (#2792)
  docs/examples/system-models/noplot_oedi_9068.py
  docs/sphinx/source/conf.py
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pyproject.toml
Due: none

Update docs/sphinx/source/whatsnew/v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Minor doc updates based on review
  pvlib/iotools/psm4.py
Due: remote-data

fit_sandia_field, rename fit_sandia to fit_sandia_lab
  docs/sphinx/source/reference/pv_modeling/inverter.rst
  pvlib/inverter.py
  tests/test_inverter.py
Due: core

statsmodels decorator
  pvlib/inverter.py
  tests/test_inverter.py
Due: core

hush flake8
  pvlib/inverter.py
  tests/test_inverter.py
Due: core

Change economic zone to plural
  pvlib/iotools/psm4.py
Due: remote-data

Fix flake8 E127 continuation line indentation
  tests/test_soiling.py
Due: core

Add contributor entry
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

DOC: fix broken links (NREL, EnergyPlus, git-scm, Wikipedia ΔT)
  docs/sphinx/source/user_guide/getting_started/installation.rst
  pvlib/iotools/epw.py
  pvlib/solarposition.py
  pvlib/spectrum/irradiance.py
Due: core, remote-data

Add whatsnew entry for broken links fix
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Add dni to VARIABLE_MAP in get_era5 iotools function
  pvlib/iotools/era5.py
Due: remote-data

Add dni to example variable in doc
  pvlib/iotools/era5.py
Due: remote-data

Convert dni from J to W
  pvlib/iotools/era5.py
Due: remote-data

Change dni to bhi
  pvlib/iotools/era5.py
Due: remote-data

Update v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Update test_era5.py
  tests/iotools/test_era5.py
Due: remote-data

Fix linter
  tests/iotools/test_era5.py
Due: remote-data

Remove king from tests
  tests/test_irradiance.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
Due: core

Fix long lines
  pvlib/irradiance.py
Due: core

Fix sun_rise_set_transit_spa day-of-interest to local calendar day
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/solarposition.py
  tests/test_solarposition.py
Due: core

Stop ModelChain from filling missing DC/AC values with zero (gh-1409)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
Due: core

Maint: Normalize line endings and add .gitattributes (#2805)
  .gitattributes
  pvlib/data/12839.tm2
  pvlib/data/sam-library-sandia-modules-2015-6-30.csv
  pvlib/iotools/bsrn.py
  pvlib/iotools/solcast.py
  tests/data/midc_raw_short_header_20191115.txt
  tests/data/precise_iv_curves_parameter_sets1.csv
  tests/data/precise_iv_curves_parameter_sets2.csv
  tests/iotools/test_solcast.py
Due: core, remote-data

Add marion_diffuse_tracking
  docs/sphinx/source/reference/pv_modeling/iam.rst
  pvlib/iam.py
  tests/test_iam.py
Due: core

Edit output key definitions for consistency between functions
  pvlib/irradiance.py
Due: core

Correct docstrings
  pvlib/irradiance.py
Due: core

Fix sun_rise_set_transit_spa day-of-interest to local calendar day (#2820)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/solarposition.py
  tests/test_solarposition.py
Due: core

clean up/ simplify/move import to top
  pvlib/iam.py
  pvlib/spectrum/response.py
Due: core

Replace interp1d #2394
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
  pvlib/spectrum/response.py
  tests/test_iam.py
Due: core

Replace CubicSpline by make_interp_spline k=3
  pvlib/iam.py
  pvlib/spectrum/response.py
Due: core

remove list input
  pvlib/iam.py
  tests/test_iam.py
Due: core

linting
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
Due: core

Remove ifinstance check/Use np.interp
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
Due: core
