Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
Due: none

Update tests
  pvlib/tests/iotools/test_solaranywhere.py
Due: remote-data

added test for _get_solcast
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

linting
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

Address several numpy/pandas deprecation warnings; clean up test output (#1930)
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  pvlib/iotools/bsrn.py
  pvlib/ivtools/sdm.py
  pvlib/scaling.py
  pvlib/snow.py
  pvlib/soiling.py
  pvlib/solarposition.py
  pvlib/tests/bifacial/test_utils.py
  pvlib/tests/iotools/test_pvgis.py
Due: core, remote-data

Update flake8.yml
  .github/workflows/flake8.yml
Due: none

Update v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update solaranywhere documentation
  pvlib/iotools/solaranywhere.py
Due: remote-data

Add additional solaranywhere tests
  pvlib/tests/iotools/test_solaranywhere.py
Due: remote-data

Update .github/workflows/flake8.yml
  .github/workflows/flake8.yml
Due: none

Update filestructure of get_srml
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Update iotools.rst
  docs/sphinx/source/reference/iotools.rst
Due: none

Update __init__.py
  pvlib/iotools/__init__.py
Due: remote-data

Add ValueError 2-letter test
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Remove print statement
  pvlib/iotools/srml.py
Due: remote-data

Update test name
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Flake updates
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Implement review changes from kandersolar
  pvlib/iotools/solaranywhere.py
  pvlib/tests/iotools/test_solaranywhere.py
Due: remote-data

Last minor changes
  pvlib/iotools/solcast.py
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

Update test_solaranywhere.py
  pvlib/tests/iotools/test_solaranywhere.py
Due: remote-data

Updated error message when temperature_model_parameters is null after inference to be more informative to user
  pvlib/pvsystem.py
Due: core

feat: add additional test coverage
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

feat: add additional test coverage (#5)
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

Add test for raising value error when instantiating array without required args to infer temperature_model_parameters
  pvlib/tests/test_pvsystem.py
Due: core

Correct if condition in checking temperature_model_parameters after inference
  pvlib/pvsystem.py
Due: core

add functionality to load Solcast API data to `iotools` (#1875)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/solcast.py
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

clean up 0.10.3 whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Create v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Apply suggestions from code review
  pvlib/iotools/solaranywhere.py
  pvlib/tests/iotools/test_solaranywhere.py
Due: remote-data

Switch to isinstance
  pvlib/iotools/solaranywhere.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Add functions to read and retrieve SolarAnywhere irradiance data (#1497)
  .github/workflows/flake8.yml
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  pvlib/data/Burlington, United States SolarAnywhere Time Series 20210101 to 20210103 Lat_44_4675 Lon_-73_2075 SA format.csv
  pvlib/data/Burlington, United States SolarAnywhere Typical GHI Year Lat_44_465 Lon_-73_205 SA format.csv
  pvlib/data/variables_style_rules.csv
  pvlib/iotools/__init__.py
  pvlib/iotools/solaranywhere.py
  pvlib/tests/conftest.py
  pvlib/tests/iotools/test_solaranywhere.py
Due: core, remote-data

Finalize 0.10.3 (#1934)
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Added some additional details to the error message to make it informative for user to diagnose
  pvlib/pvsystem.py
Due: core

Add raises section in docstring of Array to describe error
  pvlib/pvsystem.py
Due: core

Update pvsystem user guide to reflect requirement for temperature model parameters
  docs/sphinx/source/user_guide/pvsystem.rst
Due: none

Update instances of pvsystem instantiation in test_pvsystem tests to reflect new required argument
  pvlib/tests/test_pvsystem.py
Due: core

edits from EIC review
  paper/paper.md
Due: none

formatting tweak
  paper/paper.md
Due: none

formatting tweak, again
  paper/paper.md
Due: none
