Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

added magnus_tetens equations
  pvlib/spectrum/magnus_tetens.py
  pvlib/tests/conftest.py
  pvlib/tests/spectrum/test_magnus_tetens.py
  pyproject.toml
  uv.lock
Due: core

line too long in solarposition.py
  pvlib/solarposition.py
Due: core

revert solarposition.py to pre-PR state
  pvlib/solarposition.py
Due: core

Update pvlib/clearsky.py
  pvlib/clearsky.py
Due: core

Show distribution file sizes in `publish.yml` GH Actions workflow (#2278)
  .github/workflows/publish.yml
Due: none

[DOC]: Add docstring example to the contributing docs (#2254)
  docs/sphinx/source/_images/example_function_screenshot.png
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Update pvlib/solarposition.py
  pvlib/solarposition.py
Due: core

review
  docs/sphinx/source/whatsnew/v0.11.2.rst
  pvlib/pvsystem.py
Due: core

Update docs/sphinx/source/whatsnew/v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

true up docstring
  pvlib/pvsystem.py
Due: core

Change Variables and Symbols page into a Glossary of terms (#2234)
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/nomenclature.rst
  docs/sphinx/source/user_guide/variables_style_rules.rst
  docs/sphinx/source/user_guide/weather_data.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.3.0.txt
  pvlib/data/variables_style_rules.csv
  pvlib/iotools/midc.py
  pvlib/irradiance.py
Due: core, remote-data

Update pvlib/pvsystem.py
  pvlib/pvsystem.py
Due: core

float not int
  pvlib/pvsystem.py
Due: core

tab
  pvlib/pvsystem.py
Due: core

pacify the linter
  pvlib/pvsystem.py
Due: core

Accept float in PVSystem.get_irradiance (#2227)
  docs/sphinx/source/whatsnew/v0.11.2.rst
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

update whatsnew and glossary page
  docs/sphinx/source/user_guide/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Update spectrl2.py
  pvlib/spectrum/spectrl2.py
Due: core

Update irradiance.py
  pvlib/spectrum/irradiance.py
Due: core

typo
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

update spectrl2.py and spectrum irradiance.py
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/spectrl2.py
Due: core

grammar -- periods before/after units(?)
  pvlib/spectrum/irradiance.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/user_guide/nomenclature.rst
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/spectrl2.py
Due: core

set default magnus coefficients per conversation in #1744
  pvlib/spectrum/magnus_tetens.py
Due: core

revise error, add POA to docstring
  pvlib/clearsky.py
Due: core

Update v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

fix whatsnew formatting
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

formatting attempt #2
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

add `spectra` and `spectra_components` to nomenclature page (#2264)
  docs/sphinx/source/user_guide/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/spectrl2.py
Due: core

irradiation -> irradiance, add units
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

Update conf.py
  docs/sphinx/source/conf.py
Due: none

example/test
  pvlib/irradiance.py
Due: core

Update readthedocs.yml
  readthedocs.yml
Due: none

undo
  readthedocs.yml
Due: none

add extension to conf.py
  docs/sphinx/source/conf.py
Due: none

add option to provide init guess
  pvlib/ivtools/sdm.py
  pvlib/tests/ivtools/test_sdm.py
Due: core

remove whitespace
  pvlib/ivtools/sdm.py
Due: core

ci/requirements
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.9-min.yml
  ci/requirements-py3.9.yml
Due: none

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
