Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

overcast condition
  pvlib/irradiance.py
Due: core

Update tracking.py
  pvlib/tracking.py
Due: core

update clearness index
  pvlib/irradiance.py
Due: core

Update contributing.rst
  docs/sphinx/source/contributing.rst
Due: none

add scientific-python.org URL
  docs/sphinx/source/contributing.rst
Due: none

Update docs/examples/irradiance-transposition/plot_seasonal_tilt.py
  docs/examples/irradiance-transposition/plot_seasonal_tilt.py
Due: none

update hyperlinked text
  docs/sphinx/source/contributing.rst
Due: none

link between user guide sections
  docs/sphinx/source/contributing.rst
Due: none

Revert benchmarks/benchmarks/solarposition.py
  benchmarks/benchmarks/solarposition.py
Due: none

Revert test_lookup_linke_turbidity_nointerp
  pvlib/tests/test_clearsky.py
Due: core

Revert solrad.py
  pvlib/iotools/solrad.py
Due: remote-data

Revert plot_seasonal_tilt.py except notes
  docs/examples/irradiance-transposition/plot_seasonal_tilt.py
Due: none

Update pvlib/tracking.py
  pvlib/tracking.py
Due: core

linter, one more ``
  pvlib/tracking.py
Due: core

Add reference to `tracking.singleaxis` (#2198)
  pvlib/tracking.py
Due: core

First setup
  docs/sphinx/source/citations.bib
  docs/sphinx/source/conf.py
  pvlib/shading.py
  pyproject.toml
Due: core

Better documentation
  docs/sphinx/source/citations.bib
  docs/sphinx/source/conf.py
Due: none

Create average_photon_energy.py
  docs/examples/spectrum/average_photon_energy.py
Due: none

correct doi role
  docs/examples/spectrum/plot_spectrl2_fig51A.py
Due: none

(possible?) clarification to wording
  docs/examples/spectrum/plot_spectrl2_fig51A.py
Due: none

move references
  docs/examples/spectrum/plot_spectrl2_fig51A.py
Due: none

Update plot_spectrl2_fig51A.py
  docs/examples/spectrum/plot_spectrl2_fig51A.py
Due: none

Update average_photon_energy.py
  docs/examples/spectrum/average_photon_energy.py
Due: none

linter
  docs/examples/spectrum/plot_spectrl2_fig51A.py
Due: none

Update pvlib/singlediode.py
  pvlib/singlediode.py
Due: core

fix a typo at the singlediode function (#2179)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/singlediode.py
Due: core

Miscellaneous updates to spectrl2 gallery example (#2208)
  docs/examples/spectrum/plot_spectrl2_fig51A.py
Due: none

Update variables_style_rules.csv (#2164)
  pvlib/data/variables_style_rules.csv
Due: core

Update conf.py
  docs/sphinx/source/conf.py
Due: none

Update irradiance.py
  pvlib/spectrum/irradiance.py
Due: core

test latex and custom role units
  docs/sphinx/source/conf.py
  pvlib/irradiance.py
  pvlib/spectrum/irradiance.py
Due: core

add various attempts
  docs/sphinx/source/conf.py
  pvlib/irradiance.py
  pvlib/spectrum/irradiance.py
Due: core

remove latex commands
  docs/sphinx/source/conf.py
  pvlib/irradiance.py
Due: core

Update test_sun_rise_set_transit_spa with delta_t
  pvlib/tests/test_solarposition.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
