Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Fix spelling mistakes
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Fix typo
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Apply suggestions from code review
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Fix stickler
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Improve intro text
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Implement feedback from Ioannis
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Update conf.py
  docs/sphinx/source/conf.py
Due: none

was this a typo?
  docs/sphinx/source/conf.py
Due: none

rename function
  docs/sphinx/source/conf.py
Due: none

whatsnew entry
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

copilot review
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Update v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Implement changes from review
  pvlib/iotools/pvgis.py
Due: remote-data

Delete v0.13.0.rst
  docs/sphinx/source/whatsnew/v0.13.0.rst
Due: none

Add bad/basic outputformat tests
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Delete tmy_45.000_8.000_2005_2023.txt
  tests/data/tmy_45.000_8.000_2005_2023.txt
Due: core

Update pvlib/iotools/sodapro.py
  pvlib/iotools/sodapro.py
Due: remote-data

Fix dtypes in get_pvgis_tmy when outputformat='epw' (#2417)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
Due: remote-data

Update CAMS documentation (#2457)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/sodapro.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

lint
  pvlib/iotools/sodapro.py
Due: remote-data

Deprecate `parse_psm3` and `parse_cams` (#2458)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/psm3.py
  pvlib/iotools/sodapro.py
  tests/iotools/test_psm3.py
  tests/iotools/test_sodapro.py
Due: remote-data

Update docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/reference/iotools.rst
Due: none

reorganize, add blurbs
  docs/sphinx/source/reference/iotools.rst
Due: none

expand the blurbs
  docs/sphinx/source/reference/iotools.rst
Due: none

Correct tests
  tests/iotools/test_pvgis.py
Due: remote-data

Simplify tests
  tests/iotools/test_pvgis.py
Due: remote-data

Apply suggestions from code review
  docs/sphinx/source/reference/iotools.rst
Due: none

Add inputs to metadata for get_pvgis_hourly
  pvlib/iotools/pvgis.py
Due: remote-data

Update doc string for read_pvgis_hourly
  pvlib/iotools/pvgis.py
Due: remote-data

Update tests
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Fix linter
  pvlib/iotools/pvgis.py
Due: remote-data

Add whatsnew entry
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Change server parameter to url in get_cams
  pvlib/iotools/sodapro.py
Due: remote-data

Update test_sodapro.py
  tests/iotools/test_sodapro.py
Due: remote-data

Update read_pvgis_tmy description
  pvlib/iotools/pvgis.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
