Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Remove deprecated `spectrum.get_am15g` function (#2409)
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.9.3.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/irradiance.py
  tests/spectrum/test_irradiance.py
Due: core

Remove deprecated `pvsystem.sapm_spectral_loss` (#2244)
  docs/sphinx/source/reference/pv_modeling/system_models.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Change default method in Location.get_sun_rise_set_transit
  pvlib/location.py
Due: core

Update v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Change whatsnew file
  docs/sphinx/source/whatsnew/v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

subfolders according to current subsections
  docs/sphinx/source/user_guide/extras/faq.rst
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/user_guide/getting_started/installation.rst
  docs/sphinx/source/user_guide/getting_started/introtutorial.rst
  docs/sphinx/source/user_guide/getting_started/package_overview.rst
  docs/sphinx/source/user_guide/modeling_topics/bifacial.rst
  docs/sphinx/source/user_guide/modeling_topics/clearsky.rst
  docs/sphinx/source/user_guide/modeling_topics/index.rst
  docs/sphinx/source/user_guide/modeling_topics/modelchain.rst
  docs/sphinx/source/user_guide/modeling_topics/pvsystem.rst
  docs/sphinx/source/user_guide/modeling_topics/singlediode.rst
  docs/sphinx/source/user_guide/modeling_topics/timetimezones.rst
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
Due: none

fix minor docs error from #2244
  docs/sphinx/source/reference/pv_modeling/system_models.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

index.rst file additions/modifications
  docs/sphinx/source/user_guide/extras/index.rst
  docs/sphinx/source/user_guide/getting_started/index.rst
  docs/sphinx/source/user_guide/getting_started/installation.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/index.rst
Due: none

edit maxdepth
  docs/sphinx/source/user_guide/index.rst
Due: none

userguide/index
  docs/sphinx/source/user_guide/index.rst
Due: none

Update index.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

recover original rendering format
  docs/sphinx/source/user_guide/extras/index.rst
  docs/sphinx/source/user_guide/getting_started/index.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/index.rst
Due: none

change max depth
  docs/sphinx/source/user_guide/index.rst
Due: none

Change default method in Location.get_sun_rise_set_transit (#2410)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/location.py
Due: core

refer to subsecton index in main index
  docs/sphinx/source/user_guide/index.rst
Due: none

remove extra spaces
  docs/sphinx/source/user_guide/extras/index.rst
  docs/sphinx/source/user_guide/getting_started/index.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

try hidden?
  docs/sphinx/source/user_guide/index.rst
Due: none

Revert "try hidden?"
  docs/sphinx/source/user_guide/index.rst
Due: none

Revert "remove extra spaces"
  docs/sphinx/source/user_guide/extras/index.rst
  docs/sphinx/source/user_guide/getting_started/index.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

Revert "refer to subsecton index in main index"
  docs/sphinx/source/user_guide/index.rst
Due: none

misc cleanup
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

rename 0.11.3 to 0.12.0
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.12.0.rst
Due: none

add missed edits to contributing guide for new tests location
  docs/sphinx/source/contributing/testing.rst
Due: none

remove missed `fail_on_pvlib_version` decorator for get_am15g
  tests/spectrum/test_irradiance.py
Due: core

remove duplicated entries
  docs/sphinx/source/whatsnew/v0.12.0.rst
Due: none

a few more rst fixes
  docs/sphinx/source/whatsnew/v0.12.0.rst
Due: none

remove spaces
  docs/sphinx/source/user_guide/extras/index.rst
  docs/sphinx/source/user_guide/getting_started/index.rst
Due: none

match subsection order
  docs/sphinx/source/user_guide/modeling_topics/index.rst
Due: none

more extra spaces
  docs/sphinx/source/user_guide/modeling_topics/index.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.12.0.rst
  docs/sphinx/source/whatsnew/v0.12.0.rst
Due: none

Finalize v0.12.0 (#2413)
  docs/sphinx/source/contributing/testing.rst
  docs/sphinx/source/reference/pv_modeling/system_models.rst
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.12.0.rst
  tests/spectrum/test_irradiance.py
Due: core

Revert "more extra spaces"
  docs/sphinx/source/user_guide/modeling_topics/index.rst
Due: none

Remove conversion from datetime to date for d/M freqs
  pvlib/iotools/sodapro.py
Due: remote-data

Add deprecation warning
  pvlib/pvsystem.py
Due: core

Create v0.13.0.rst
  docs/sphinx/source/whatsnew/v0.13.0.rst
Due: none

Fix imports
  pvlib/pvsystem.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
