Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Apply suggestions from Cliff
  docs/sphinx/source/contributing/style_guide.rst
Due: none

Update example_function_screenshot.png
  docs/sphinx/source/_images/example_function_screenshot.png
Due: none

Update cron schedule (#2269)
  .github/workflows/top-ranked-issues.yml
Due: none

fix-linting-errors-add-blank-lines
  pvlib/tests/test_spa.py
Due: core

Attemp # 1
  .gitignore
  pyproject.toml
Due: none

Fine-tune inclusion via no-automatic data inclusion
  pyproject.toml
Due: none

Fix flake8 warnings
  pvlib/tests/iotools/test_bsrn.py
  pvlib/tests/iotools/test_psm3.py
  pvlib/tests/iotools/test_pvgis.py
  pvlib/tests/iotools/test_srml.py
  pvlib/tests/test_soiling.py
  pvlib/tests/test_tracking.py
Due: core, remote-data

Delete aod550_tcwv_20121101_test.nc (#2276)
  pvlib/data/aod550_tcwv_20121101_test.nc
Due: core

add step to print dist file sizes
  .github/workflows/publish.yml
Due: none

show installed size as well
  .github/workflows/publish.yml
Due: none

tweak how installed file sizes are checked
  .github/workflows/publish.yml
Due: none

fix syntax issue
  .github/workflows/publish.yml
Due: none

one more tweak
  .github/workflows/publish.yml
Due: none

Update docs/sphinx/source/whatsnew/v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Apply suggestions from code review
  .github/workflows/publish.yml
Due: none

2 blank lines before a function, one blank line at the end of a file.
  pvlib/tests/test_spa.py
Due: core

modify tests
  pvlib/tests/test_irradiance.py
Due: core

one last linter fix
  pvlib/tests/test_spa.py
Due: core

add whatsnew entry, contributors
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Account for gregorian/julian offset before 1582 in `spa.julian_day_dt` (#2249)
  docs/sphinx/source/whatsnew/v0.11.2.rst
  pvlib/spa.py
  pvlib/tests/test_spa.py
Due: core

Add style guide for references in `contributing/style_guide.rst` (#2226)
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

changed default types to float in solarposition.py
  pvlib/solarposition.py
Due: core

edit docstring
  pvlib/pvsystem.py
Due: core

add ValueError when window is too short
  pvlib/clearsky.py
  pvlib/tests/test_clearsky.py
Due: core

clean up error msg
  pvlib/clearsky.py
Due: core

test catches up
  pvlib/tests/test_clearsky.py
Due: core

add to Raises docstring section
  pvlib/clearsky.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

clarify error message
  pvlib/clearsky.py
  pvlib/tests/test_clearsky.py
Due: core

add underscore
  docs/sphinx/source/user_guide/glossary.rst
Due: none

changed reference label
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/user_guide/glossary.rst
Due: none

switched to floats in the docstrings and removed type hints
  pvlib/solarposition.py
Due: core

update labels
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/weather_data.rst
  pvlib/iotools/midc.py
Due: remote-data

name: nomenclature, update labels
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/glossary.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/weather_data.rst
  pvlib/iotools/midc.py
Due: remote-data

update whatsnew wording
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

update file name
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none
