Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

refactor: delete instead of deprecate functions parse_bsrn, parse_epw, parse_cams, get_orientation and delete decorator for deprecation for get_cams
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/reference/modelchain.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/bsrn.py
  pvlib/iotools/epw.py
  pvlib/iotools/sodapro.py
  pvlib/modelchain.py
  tests/iotools/test_bsrn.py
  tests/iotools/test_epw.py
  tests/iotools/test_sodapro.py
  tests/test_modelchain.py
Due: core, remote-data

refactor: delete instead of deprecate liujordan
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/irradiance.py
  tests/test_clearsky.py
  tests/test_irradiance.py
Due: core

refactor: deprecate dead code
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/bsrn.py
  pvlib/iotools/epw.py
  pvlib/iotools/sodapro.py
  pvlib/irradiance.py
  pvlib/modelchain.py
  pvlib/tracking.py
  tests/test_clearsky.py
  tests/test_irradiance.py
  tests/test_modelchain.py
Due: core, remote-data

add mpp calculation
  pvlib/mismatch.py
  tests/test_mismatch.py
Due: core

refactor to parallel singlediode, v_from_i functions
  pvlib/mismatch.py
  tests/test_mismatch.py
Due: core

Implement suggestions by cwhanse
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Apply batched suggestions from code review
  pvlib/pvsystem.py
Due: core

Implement suggestions by kandersolar
  pvlib/irradiance.py
  pvlib/pvsystem.py
Due: core

Add gueymard2003 to atmosphere.APPARENT_ZENITH_MODELS
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/atmosphere.py
  tests/test_location.py
Due: core

Reference the pull request in the whatsnew entry
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Remove marion_diffuse as default
  pvlib/pvsystem.py
Due: core

Update tests/test_pvsystem.py
  tests/test_pvsystem.py
Due: core

Address minor numpy deprecation (#2856)
  tests/test_clearsky.py
Due: core

Replace all instances of `OrderedDict` with `dict` (#2855)
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/user_guide/modeling_topics/clearsky.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/clearsky.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  tests/test_clearsky.py
  tests/test_irradiance.py
  tests/test_pvsystem.py
Due: core

Fix backticks
  pvlib/pvsystem.py
Due: core

Implement suggestions by kandersolar and echedey-ls
  docs/sphinx/source/reference/pv_modeling/iam.rst
  pvlib/iam.py
  tests/test_iam.py
Due: core

Add whatsnew entry
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Small fix to _get_marion_interpolator
  pvlib/iam.py
Due: core

Rename zenith to solar_zenith in the decomposition models
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Fill in PR number in whatsnew
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Add support for diffuse IAM in the `Array` and `PVSystem` classes (#2845)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Accept gueymard2003 in Location.get_airmass (#2857)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/atmosphere.py
  tests/test_location.py
Due: core

bump min python to 3.11; update min deps accordingly
  .github/workflows/publish.yml
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11-min.yml
  pvlib/singlediode.py
  pyproject.toml
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

fix missed numpy version
  benchmarks/asv.conf.json
Due: none

and missed scipy
  benchmarks/asv.conf.json
Due: none

Fix RuntimeWarning in singlediode when v_oc is zero
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/singlediode.py
  tests/test_singlediode.py
Due: core

Set v_mp and p_mp to exactly 0 where v_oc is 0
  pvlib/singlediode.py
  tests/test_singlediode.py
Due: core

Drop python 3.10; increase required dependency versions (#2860)
  .github/workflows/publish.yml
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11-min.yml
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/singlediode.py
  pyproject.toml
Due: core

rough merge of v0.15.3 and 0.16.0 whatsnews
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

fix backticks
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

miscellaneous cleanup
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

push out some deprecation removals
  pvlib/iam.py
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: core, remote-data

a bit more cleanup
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

add missing contributors
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

final tweaks
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Increment release date
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

increment release date
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

changes from review
  docs/sphinx/source/reference/bifacial.rst
  docs/sphinx/source/reference/irradiance/index.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Finalize v0.16.0 (#2863)
  docs/sphinx/source/reference/bifacial.rst
  docs/sphinx/source/reference/irradiance/index.rst
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/iam.py
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: core, remote-data

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
