Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Update pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/infinite_sheds.py
Due: core

Update infinite_sheds.py
  pvlib/bifacial/infinite_sheds.py
Due: core

Update infinite_sheds.py to add shaded fraction to returned variables in infinite_sheds.get_irradiance and infinite_sheds.get_irradiance_poa (#1871)
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/bifacial/infinite_sheds.py
  pvlib/tests/bifacial/test_infinite_sheds.py
Due: core

Update documentation
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/irradiance.py
Due: core

Add tests.
  pvlib/tests/test_temperature.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Adapt to reviewer preferences.
  pvlib/irradiance.py
Due: core

Address Flake failures.
  pvlib/temperature.py
  pvlib/tests/test_temperature.py
Due: core

Flake again.
  pvlib/temperature.py
Due: core

Update what's new.
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Add Cliff's statement
  pvlib/irradiance.py
Due: core

Remove errant line.
  pvlib/temperature.py
Due: core

create tools._logwrightomega function
  pvlib/tests/test_tools.py
  pvlib/tools.py
Due: core

create _logwright_i_from_v and v_from_i; integrate into _lambertw
  pvlib/singlediode.py
Due: core

add method='logwright' in pvlib.pvsystem functions
  pvlib/pvsystem.py
Due: core

doc stub
  docs/sphinx/source/user_guide/singlediode.rst
Due: none

Adapt to flake preferences.
  pvlib/irradiance.py
Due: core

Add example.
  docs/examples/operating-temperature/README.rst
  docs/examples/operating-temperature/plot_dynamic_faiman.py
  pvlib/data/tmod_sample_data_subset.csv
Due: core

Rework example.
  docs/examples/operating-temperature/README.rst
  docs/examples/operating-temperature/plot_dynamic_faiman.py
Due: none

Add import.
  docs/examples/operating-temperature/plot_dynamic_faiman.py
Due: none

Rework example some more.
  docs/examples/operating-temperature/plot_dynamic_faiman.py
Due: none

More example tweaks.
  docs/examples/operating-temperature/plot_dynamic_faiman.py
Due: none

Remove errant line.
  docs/examples/operating-temperature/plot_dynamic_faiman.py
Due: none

Bug fix.
  docs/examples/operating-temperature/plot_dynamic_faiman.py
Due: none

Create requirements-py3.12.yml
  ci/requirements-py3.12.yml
Due: none

add 3.12 to GH Actions test workflows
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

nix solarfactors
  ci/requirements-py3.12.yml
Due: none

fix yaml syntax
  ci/requirements-py3.12.yml
Due: none

Remove model pseudo-option.
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Flake
  pvlib/irradiance.py
Due: core

Update pvlib/iotools/solcast.py
  pvlib/iotools/solcast.py
Due: remote-data

midpoint docstring
  pvlib/iotools/solcast.py
Due: remote-data

add translator for OND files
  pvlib/inverter.py
  pvlib/tests/test_inverter.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
