Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

minor formatting fixes
  pvlib/atmosphere.py
Due: core

update test parameter names
  pvlib/tests/test_atmosphere.py
Due: core

updated error message
  pvlib/tests/test_atmosphere.py
Due: core

fixed error message vol.2
  pvlib/tests/test_atmosphere.py
Due: core

updated tests
  pvlib/atmosphere.py
  pvlib/tests/test_atmosphere.py
Due: core

Update v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

changed wid to omega_ideal and added to the comments explaining the origin of the notation
  pvlib/tracking.py
Due: core

changed wid to omega_ideal
  pvlib/tracking.py
Due: core

- fixed flake8 concerts - autoformatting by black
  pvlib/tracking.py
Due: core

additional flake8 lints
  pvlib/tracking.py
Due: core

remove spectral prefix
  pvlib/spectrum/__init__.py
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/response.py
Due: core

Revert "Remove warnings in docs (#2128)"
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/examples/floating-pv/plot_floating_pv_cell_temperature.py
  docs/sphinx/source/_static/version-alert.js
  docs/sphinx/source/user_guide/faq.rst
Due: none

changed w to omega in tracking.py's singleaxis function
  pvlib/tracking.py
Due: core

changed w to omega in tracking.py's singleaxis function (#2146)
  pvlib/tracking.py
Due: core

replace year and tzinfo in pvgis_tmy coerce year
  pvlib/iotools/pvgis.py
Due: remote-data

remove unused imports from pvgis.py for flake8
  pvlib/iotools/pvgis.py
Due: remote-data

change private function name to _coerce_and_roll_pvgis_tmy
  pvlib/iotools/pvgis.py
Due: remote-data

spot check rolled pvgis TMY values after converting tz
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

RMAD func definition addendum
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
Due: none

update file names
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/response.py
Due: core

added perez modelchain example
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

formatting
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

cleaned up
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

linter
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

linter 2
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

added whatsnew
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Add RMAD eq to docstring
  pvlib/bifacial/loss_models.py
Due: core

Update utc_offset description
  pvlib/iotools/pvgis.py
Due: remote-data

change coerce_year and utc_offset defaults to None in pvgis TMY
  pvlib/iotools/pvgis.py
Due: remote-data

rename roll_utc_offset in get_pvgis_tmy
  pvlib/iotools/pvgis.py
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

Update pvlib/iotools/pvgis.py with suggestions
  pvlib/iotools/pvgis.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Update docs/examples/irradiance-transposition/use_perez_modelchain.py
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

added plt tight layout
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
