Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Make shapely an optional dependency
  pyproject.toml
Due: none

Update __init__.py
  pvlib/spectrum/__init__.py
Due: core

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Delete test_pelland.py
  pvlib/tests/test_pelland.py
Due: core

Add AOD mapping
  pvlib/iotools/meteonorm.py
Due: remote-data

Update test_spectrum.py
  pvlib/tests/test_spectrum.py
Due: core

correct function name
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

move to v0.11.0
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

restore v0.10.5 whatsnew
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Update v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Add docstring Notes to lookup_linke_turbidity
  pvlib/clearsky.py
Due: core

Add tools._pandas_to_utc
  pvlib/clearsky.py
  pvlib/irradiance.py
  pvlib/solarposition.py
  pvlib/tools.py
Due: core

Make leap_day=True default for PSM3 (new) (#1991)
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/iotools/psm3.py
  pvlib/tests/iotools/test_psm3.py
Due: remote-data

Remove deprecated admonition duplicate
  pvlib/spectrum/mismatch.py
Due: core

Unit formatting went too far
  pvlib/spectrum/mismatch.py
Due: core

Function rename to get_reference_spectrum
  docs/examples/spectrum/plot_standard_ASTM_G173-03.py
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Clean warnings from test logs
  pvlib/tests/test_spectrum.py
Due: core

Fix wrongly made test
  pvlib/tests/test_spectrum.py
Due: core

Other get_am15g references in code
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Update plot_standard_ASTM_G173-03.py
  docs/examples/spectrum/plot_standard_ASTM_G173-03.py
Due: none

lintar
  pvlib/tests/test_spectrum.py
Due: core

Order of commits matter
  pvlib/tests/test_spectrum.py
Due: core

Rm units of function not in scope
  pvlib/spectrum/mismatch.py
Due: core

Update PAR_direct_and_diffuse_sfs.py
  PAR_direct_and_diffuse_sfs.py
Due: none

Fix parameter names
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

More explicit 2D shaded fraction
  pvlib/shading.py
Due: core

Explicitier explicit
  pvlib/shading.py
Due: core

Update shading.py
  pvlib/shading.py
Due: core

Only if life was VCS to revert my errors so easily
  pvlib/tests/test_shading.py
Due: core

Nix image in docstring
  pvlib/shading.py
Due: core

Clear-up irrdiance loss, not pwr loss - yet again
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

rewording
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Remove figure of junction boxes in example
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Duplicated singleaxis call
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

When did I change this?
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Rename function
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
