Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Align reference
  pvlib/spectrum/mismatch.py
Due: core

Rework random matching
  pvlib/tests/test_pvsystem.py
Due: core

First regex
  pvlib/bifacial/pvfactors.py
  pvlib/iam.py
  pvlib/inverter.py
  pvlib/iotools/bsrn.py
  pvlib/iotools/crn.py
  pvlib/iotools/midc.py
  pvlib/iotools/psm3.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/iotools/solrad.py
  pvlib/iotools/srml.py
  pvlib/iotools/surfrad.py
  pvlib/irradiance.py
  pvlib/ivtools/sdm.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/scaling.py
  pvlib/singlediode.py
  pvlib/snow.py
  pvlib/soiling.py
  pvlib/spa.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/spectrl2.py
  pvlib/tests/test_pvsystem.py
  pvlib/tests/test_singlediode.py
  pvlib/tools.py
Due: core, remote-data

Second regex iteration
  pvlib/iotools/bsrn.py
  pvlib/iotools/crn.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/iotools/srml.py
  pvlib/ivtools/sdm.py
Due: core, remote-data

Update irradiance.py
  pvlib/irradiance.py
Due: core

Prevent `v_oc` to be negative in `_lambertw`
  docs/sphinx/source/whatsnew/v0.10.0.rst
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

Add helper function to interpolate thresholds
  pvlib/clearsky.py
Due: core

Update docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Target small negative elements only
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

Add infer_limits functionality in detect_clearsky
  pvlib/clearsky.py
Due: core

Update comments/docstrings
  pvlib/clearsky.py
Due: core

Add ValueError message
  pvlib/clearsky.py
Due: core

Fix typo
  pvlib/clearsky.py
Due: core

Update prepare_curves docstring
  pvlib/ivtools/mismatch.py
Due: core

Update spacing
  pvlib/tests/ivtools/test_mismatch.py
Due: core

Add tests for ValueErrors
  pvlib/tests/ivtools/test_mismatch.py
Due: core

adding flake8 linter workflow
  .github/workflows/flake8-pr-annotation-matcher.json
  .github/workflows/flake8.yml
Due: none

lint only changed files
  .github/workflows/flake8.yml
Due: none

Update init
  pvlib/ivtools/__init__.py
Due: core

move changed files to env variable
  .github/workflows/flake8.yml
Due: none

remove filename flag
  .github/workflows/flake8.yml
Due: none

remove trailing dot
  .github/workflows/flake8.yml
Due: none

rename job
  .github/workflows/flake8.yml
Due: none

pass filenames as positional arguments
  .github/workflows/flake8.yml
Due: none

pipe filenames to xargs
  .github/workflows/flake8.yml
Due: none

change to check pvlib repo
  .github/workflows/flake8.yml
Due: none

some doc clarifications
  pvlib/inverter.py
  pvlib/pvsystem.py
Due: core

only lint python files
  .github/workflows/flake8.yml
Due: none

missing parenthesis
  .github/workflows/flake8.yml
Due: none

skip linting if no Python files edited
  .github/workflows/flake8.yml
Due: none

try env instead of output
  .github/workflows/flake8.yml
Due: none

reformatting
  .github/workflows/flake8-linter-matcher.json
  .github/workflows/flake8.yml
Due: none

Apply suggestions from code review
  pvlib/iotools/acis.py
Due: remote-data

formatting
  pvlib/pvsystem.py
Due: core

more from review
  pvlib/iotools/acis.py
Due: remote-data

Prevent `v_oc` to be negative in `_lambertw` (#1782)
  docs/sphinx/source/whatsnew/v0.10.0.rst
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
