Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Correct deprecation version
  pvlib/irradiance.py
Due: core

Change OrderedDict to Dict
  pvlib/irradiance.py
Due: core

Fix wrong reference on irradiance.reindl (#2776)
  pvlib/irradiance.py
Due: core

fix: restore test
  tests/test_location.py
Due: core

fix: doc rst timetimezones
  docs/sphinx/source/user_guide/modeling_topics/timetimezones.rst
Due: none

refactor: deprecate pytz in favor of builtin zoneinfo (#2757)
  docs/sphinx/source/user_guide/modeling_topics/timetimezones.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
  docs/tutorials/solarposition.ipynb
  pvlib/iotools/pvgis.py
  pvlib/location.py
  pvlib/solarposition.py
  pvlib/tools.py
  tests/iotools/test_midc.py
  tests/test_clearsky.py
  tests/test_location.py
  tests/test_solarposition.py
Due: core, remote-data

Apply suggestions from code review
  pvlib/iotools/meteonorm.py
Due: remote-data

Add triple quote - fix linter
  pvlib/iotools/meteonorm.py
Due: remote-data

Add test
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Fix test
  tests/iotools/test_meteonorm.py
Due: remote-data

Use demo_url in test
  tests/iotools/test_meteonorm.py
Due: remote-data

Update whatsnew
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Update fail_on_pvlib_version
  tests/iotools/test_meteonorm.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.15.2.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Deprecate and disable `data_version` parameter in `get_meteonorm_tmy` (#2781)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Address pandas deprecation warnings in test suite (#2778)
  tests/test_pvsystem.py
Due: core

set release date to June 16
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

add missing contributors
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

clean up formatting
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

restore whatsnew entry mistakenly deleted in #2762
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

rst formatting fix
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

cleanup and imperative
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Finalize v0.15.2 (#2784)
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Add explicit WMO temperature range to rh_from_tdew notes
  pvlib/atmosphere.py
Due: core

Clarify rh_from_tdew variable naming, comments and references
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/atmosphere.py
  tests/test_atmosphere.py
Due: core

Change OrderedDict to dict
  pvlib/irradiance.py
Due: core

Remove ifinstance check/Use np.interp
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
Due: core

linting
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
Due: core

Add tests for isotropic with return_components=True
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Change OrderedDict to Dict in perez and perez_driesse
  pvlib/irradiance.py
Due: core

create and list v0.15.3 whatsnew
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Create and list v0.15.3 whatsnew (#2786)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Apply suggestions from code review
  pvlib/bifacial/ants2d.py
Due: core

clarifications from review by @cwhanse
  pvlib/bifacial/ants2d.py
Due: core

Update pvlib/bifacial/ants2d.py
  pvlib/bifacial/ants2d.py
Due: core

transfer whatsnew entries to 0.15.3
  docs/sphinx/source/whatsnew/v0.15.2.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

fix bad merge
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

compute airmass, dni_extra as needed
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

clarifying comments
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/utils.py
Due: core
