Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Adopt ghi_clear variable name for clearsky GHI (#2306)
  docs/sphinx/source/whatsnew/v0.11.2.rst
  pvlib/clearsky.py
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

update release date
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

nix empty/redundant sections
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

reorder entries
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

use present tense
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

discussion -> discuss
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

add missing contributors
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

final tweaks
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

fix duplicate contributor entry
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Finalize v0.11.2 (#2335)
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

create v0.11.3 whatsnew page
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Create and list whatsnew page for v0.11.3 (#2336)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

clarify threshold_depth
  pvlib/snow.py
  pvlib/tests/test_snow.py
Due: core

add note about default value
  pvlib/snow.py
Due: core

Update modelchain docstrings
  pvlib/modelchain.py
Due: core

Make sapm iam function use common interface
  pvlib/iam.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/tests/test_iam.py
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_pvsystem.py
  pyproject.toml
Due: core

Appease flake8
  pvlib/iam.py
Due: core

Harmonize IAM and spectral correction and update IAM inference
  pvlib/iam.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/spectrum/test_mismatch.py
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_pvsystem.py
Due: core

Appease the linter
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_pvsystem.py
Due: core

Fix spectral correction example
  docs/examples/spectrum/spectral_factor.py
Due: none

added python 3.13 requirements.yml
  ci/requirements-py3.13.yml
Due: none

Update pytest-remote-data.yml
  .github/workflows/pytest-remote-data.yml
Due: none

removed try-except importlib block for python 2.7 compatibility
  pvlib/solarposition.py
Due: core

moved ephem imports to the top of the file
  pvlib/solarposition.py
Due: core

changed ImportError to ModuleNotFoundError for spa_calc
  pvlib/solarposition.py
Due: core

applied linting commad 'ruff check --fix' to the whole directory tree
  docs/examples/irradiance-transposition/use_perez_modelchain.py
  docs/tutorials/atmosphere.ipynb
  docs/tutorials/pvsystem.ipynb
  docs/tutorials/solarposition.ipynb
  docs/tutorials/tmy.ipynb
  docs/tutorials/tmy_and_diffuse_irrad_models.ipynb
  pvlib/iotools/psm3.py
  pvlib/temperature.py
  pvlib/tests/iotools/test_psm3.py
  pvlib/tests/ivtools/test_sde.py
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_temperature.py
  pvlib/tests/test_tracking.py
Due: core, remote-data

replaced depricated distutils with setuptools imports
  pvlib/spa_c_files/setup.py
Due: core

move check for snow depth
  pvlib/snow.py
  pvlib/tests/test_snow.py
Due: core

comments
  pvlib/snow.py
Due: core

Bound python, non-optional deps, and some optional deps above
  pyproject.toml
Due: none

Add tests for tools.localize_to_utc
  pvlib/tests/test_tools.py
Due: core

Add tests for datetime_to_djd and djd_to_datetime
  pvlib/tests/test_tools.py
  pvlib/tools.py
Due: core

Update what's new
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Appease the linter
  pvlib/tests/test_tools.py
Due: core

Fix pandas equality tests for Python 3.9
  pvlib/tests/test_tools.py
Due: core

Fix pandas equality tests for Python 3.9 more
  pvlib/tests/test_tools.py
Due: core

Fix pandas equality tests for Python 3.9 more more
  pvlib/tests/test_tools.py
Due: core

Bump miniimum pandas to fix bad test failure
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.9-min.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pyproject.toml
Due: none

Try alternative pandas test fix
  pvlib/tests/test_tools.py
Due: core
