Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Update pvlib/spectrum/mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

test for output type
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Update pvlib/tests/test_spectrum.py
  pvlib/tests/test_spectrum.py
Due: core

Update v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Add PVSPEC spectral correction factor model (#2072)
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Code Review from Kevin
  pvlib/tests/test_spectrum.py
Due: core

linter :D
  pvlib/spectrum/mismatch.py
Due: core

Fix trigonometry - double testing with a spreadsheet
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Move section of PAR
  docs/sphinx/source/reference/irradiance/components.rst
  docs/sphinx/source/reference/irradiance/decomposition.rst
Due: none

I should read more carefully
  docs/sphinx/source/reference/irradiance/components.rst
  docs/sphinx/source/reference/irradiance/decomposition.rst
Due: none

create spectral_factor_jrc
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Fix flake8
  docs/examples/irradiance-transposition/plot_seasonal_tilt.py
  pvlib/iotools/solrad.py
  pvlib/tests/test_clearsky.py
  pvlib/tests/test_solarposition.py
  pvlib/tests/test_spectrum.py
Due: core, remote-data

Power losses model
  docs/examples/shading/plot_martinez_shade_loss.py
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

equations rendering
  pvlib/shading.py
Due: core

Remove stupid keyword-only params requirement
  pvlib/spectrum/mismatch.py
Due: core

Delete PAR_direct_and_diffuse_sfs.py
  PAR_direct_and_diffuse_sfs.py
Due: none

get, read, parse PSM3: set `map_variables=True` by default
  pvlib/iotools/psm3.py
  pvlib/tests/iotools/test_psm3.py
Due: remote-data

Update pvlib/transformer.py
  pvlib/transformer.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

normalise coefficients
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Move albedo dictionary
  pvlib/albedo.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/tests/test_irradiance.py
Due: core

fixed linter
  pvlib/irradiance.py
Due: core

fixed linter vol.2
  pvlib/irradiance.py
Due: core

Add extraterrestrial and direct spectra of ASTM G173-03 standard spectrum (AM1.5) (#2039)
  docs/examples/spectrum/plot_standard_ASTM_G173-03.py
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/data/ASTMG173.csv
  pvlib/data/astm_g173_am15g.csv
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Change `poa_direct_and_circumsolar` to `poa_direct`
  docs/examples/shading/plot_martinez_shade_loss.py
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
