Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Issue #2245 - Linting/ PEP8
  pvlib/bifacial/utils.py
Due: core

Revert "Issue #2245 utils.py"
  pvlib/bifacial/infinite_sheds.py
Due: core

Fix whatsnew after main merge
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Fix for the different results for Procedural and Object oriented examples
  docs/sphinx/source/user_guide/introtutorial.rst
Due: none

Address Cliff's comment
  pvlib/tools.py
Due: core

Adjust Location documentation
  pvlib/location.py
Due: core

Fix indent
  pvlib/location.py
Due: core

More docstring tweaks
  pvlib/location.py
Due: core

Try to fix bad parens
  pvlib/location.py
Due: core

Rearrange docstring
  pvlib/location.py
Due: core

Appease the linter
  pvlib/location.py
Due: core

Document pytz attribute as read only
  pvlib/location.py
Due: core

Consistent read only
  pvlib/location.py
Due: core

Update from solar_zenith to ghi Update docs\sphinx\source\whatsnew\v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/bifacial/infinite_sheds.py
Due: core

Update pvlib/location.py per review comment
  pvlib/location.py
Due: core

Add breaking change to whatsnew and fix linting
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/location.py
Due: core

Restructure user guide with subsections (#2310)
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

create user guide subection
  docs/sphinx/source/user_guide/index.rst
Due: none

rename, fix gallery example link, update cell tech
  docs/sphinx/source/user_guide/model_comparison.rst
Due: none

update name and location
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

rename, add layer
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

review
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/irradiance.py
Due: core

Updated the docs
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Change in docs
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Fix for the different results for Procedural and Object oriented exam… (#2367)
  docs/sphinx/source/user_guide/introtutorial.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

update test
  pvlib/tests/test_irradiance.py
Due: core

references, table format, updated text
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

series input for ghi in test_infinite_sheds.py
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/utils.py
  pvlib/tests/bifacial/test_infinite_sheds.py
Due: core

Update docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Issue #2245 Infinite sheds beam fraction on ground zenith guardrail syntax bug (#2359)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/utils.py
  pvlib/tests/bifacial/test_infinite_sheds.py
Due: core

Clarify breaking change in whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

added goes4
  pvlib/iotools/goes4.py
Due: remote-data

added goes4 to iotools __init__.py
  pvlib/iotools/__init__.py
Due: remote-data

change zenith to solar_zenith
  pvlib/iotools/goes4.py
Due: remote-data

fixed references to psm3
  pvlib/iotools/goes4.py
Due: remote-data

fixed some linter issues
  pvlib/iotools/goes4.py
Due: remote-data

uppdated whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

fixed more formating issues
  pvlib/iotools/goes4.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
