Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

data file
  pvlib/data/Huawei_Sun2000_40KTL_US_SLR.OND
Due: core

Add DOI + minor changes.
  docs/examples/operating-temperature/plot_dynamic_faiman.py
  pvlib/temperature.py
Due: core

Flake
  docs/examples/operating-temperature/plot_dynamic_faiman.py
Due: none

Continuous version of the Perez transposition model implementation (#1876)
  docs/sphinx/source/reference/irradiance/transposition.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

improve martin_ruiz to physical, generalize tests
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

fix examples, split convert and fit examples
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

linter, improve coverage
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
  pvlib/tests/test_iam.py
Due: core

spacing
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
Due: none

fix reverse order test
  pvlib/tests/test_iam.py
Due: core

improve examples
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
  pvlib/iam.py
Due: core

print parameters
  docs/examples/reflections/plot_fit_iam_models.py
Due: none

tentative test fix
  pvlib/tests/test_solarposition.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

remove v0.10.2 whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Revert "remove v0.10.2 whatsnew"
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

put v0.10.2.rst right again
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Fix spurious test error with pandas 2.1 (#1891)
  pvlib/tests/test_solarposition.py
Due: core

require scipy>=1.5.0
  pvlib/iam.py
  pvlib/tests/conftest.py
  pvlib/tests/test_iam.py
Due: core

linter
  pvlib/iam.py
Due: core

linter
  pvlib/tests/conftest.py
Due: core

list roadmap page in user guide index
  docs/sphinx/source/user_guide/index.rst
Due: none

draft roadmap page
  docs/sphinx/source/user_guide/roadmap.rst
Due: none

formatting fix
  docs/sphinx/source/user_guide/roadmap.rst
Due: none

Add some more detail
  docs/sphinx/source/user_guide/roadmap.rst
Due: none

flak8 formatting
  pvlib/iotools/solcast.py
Due: remote-data

Update plot_singlediode.py
  docs/examples/iv-modeling/plot_singlediode.py
Due: none

Update whatsnew.rst
  docs/sphinx/source/whatsnew.rst
Due: none

Update v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew.rst
Due: none

Fix plotting in plot_singlediode.py gallery page (#1895)
  docs/examples/iv-modeling/plot_singlediode.py
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

fix doi external links
  pvlib/bifacial/utils.py
  pvlib/iam.py
  pvlib/ivtools/utils.py
  pvlib/shading.py
  pvlib/soiling.py
  pvlib/spectrum/spectrl2.py
  pvlib/temperature.py
Due: core

Cahnged expected reference in test_detect_clearskY_window to 1 from True to avoid Futurewarning
  pvlib/tests/test_clearsky.py
Due: core

Change reference to etr in ibird function to avoid FutureWarning
  pvlib/tests/test_clearsky.py
Due: core

In test_modelchain, update all instances when referring to series by position to using iloc to get rid of FutureWarning
  pvlib/tests/test_modelchain.py
Due: core

Update to iloc method for referencing by position in test_irradiance to get rid of FutureWarning
  pvlib/tests/test_irradiance.py
Due: core

In test_singlediode change applymap to map to get rid of FutureWarning
  pvlib/tests/test_singlediode.py
Due: core

Test_srml update to select using iloc to get rid of FutureWarning
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Apply cwhanse suggestion
  pvlib/clearsky.py
Due: core

Apply cwhanse suggestion
  pvlib/iotools/pvgis.py
Due: remote-data
