Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Delete pvlib/ivtools/sdm/Villalva.ipynb
  pvlib/ivtools/sdm/Villalva.ipynb
Due: core

Add files via upload
  pvlib/ivtools/sdm/villalva.py
Due: core

Update __init__.py
  pvlib/ivtools/sdm/__init__.py
Due: core

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

Add files via upload
  docs/examples/iv-modeling/plot_villalva.py
Due: none

Clarify shorthand SPA - Solar Position Algorithm (#2885)
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/spa.py
Due: core

Update pvlib/ivtools/sdm/villalva.py
  pvlib/ivtools/sdm/villalva.py
Due: core

Update villalva.py
  pvlib/ivtools/sdm/villalva.py
Due: core

elevation/apparent elevation order switch
  pvlib/spa.py
Due: core

Update v0.16.2.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

fix spelling typo in NumFocus alt-text
  README.md
Due: none

Remove deprecated reference pvlib.bifacial.pvfactors_timeseries
  pvlib/bifacial/__init__.py
Due: core

Remove pvlib.irradiance.SURFACE_ALBEDOS
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Remove deprecated parameter 'apparent_azimuth' from 'pvlib.tracking.singleaxis'
  pvlib/tracking.py
Due: core

Support PySAM on Python 3.14 via nlr-pysam package
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.13.yml
  ci/requirements-py3.14.yml
  pyproject.toml
Due: none

calc_surface_orientiation returns scalar when input is scalar (#2882)
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

Add dataset option to get_era5 (#2780)
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.16.2.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

Fix `solar_position()` return statement docstring (#2887)
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/spa.py
Due: core

docs: add jason-writer to whatsnew contributors
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

fix spelling typo in NumFocus alt-text (#2888)
  README.md
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

docs: standardize naming, voice, and styling consistency in README
  README.md
Due: none

Update pvlib/pvsystem.py
  pvlib/pvsystem.py
Due: core

Update pvlib/ivtools/sdm/__init__.py
  pvlib/ivtools/sdm/__init__.py
Due: core

Document the index convention of read_epw
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/iotools/epw.py
Due: remote-data

Add the pull request number to the what's new entry
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

Add Villalva parameters to PV modeling documentation
  docs/sphinx/source/reference/pv_modeling/sdm.rst
Due: none

Revise references in pvsystem.py documentation
  pvlib/pvsystem.py
Due: core

Suppress E231 warnings in plot_villalva.py
  docs/examples/iv-modeling/plot_villalva.py
Due: none

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
