Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

lint
  pvlib/pvsystem.py
  pvlib/tracking.py
Due: core

stickler
  pvlib/tests/test_modelchain.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Lazify various calls to all() by using generators instead of comprehensions (#1829)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/tests/iotools/test_pvgis.py
  pvlib/tests/iotools/test_srml.py
  pvlib/tests/test_modelchain.py
Due: core, remote-data

Update `singlediode.bishop88` parameter types in docs (#1821)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/singlediode.py
Due: core

`pvsystem.singlediode` with `method='newton'` can be passed `pd.Series` of length one. (#1822)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/pvsystem.py
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

update 3
  docs/examples/shading/plot_simple_irradiance_adjustment_for_horizon_shading.py
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

simplify weight function
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

remove unnecessary doc entries
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

whatsnew cleanup
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

encoding parameter, and fix parsing both file buffers and file-like objects
  pvlib/iotools/panond.py
Due: remote-data

docstring improvements
  pvlib/iotools/panond.py
Due: remote-data

test improvements
  pvlib/tests/iotools/test_panond.py
Due: remote-data

lint
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

update FAQ entry on PAN/OND files
  docs/sphinx/source/user_guide/faq.rst
Due: none

allow single Arrays
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Allow PVSystems to be created with single Arrays (#1854)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

remove duplicate whatsnew entry
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/user_guide/faq.rst
  pvlib/iotools/panond.py
Due: remote-data

Allow asymmetrical rotation limits in `pvlib.tracking.singleaxis` (v2) (#1852)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
  pvlib/tests/test_tracking.py
  pvlib/tracking.py
Due: core

make parse function private
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

fix overlooked whatsnew issue
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Create `pvlib.iotools.read_panond` for reading .pan and .ond files (#1749)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/user_guide/faq.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/data/CPS SCH275KTL-DO-US-800-250kW_275kVA_1.OND
  pvlib/data/ET-M772BH550GL.PAN
  pvlib/iotools/__init__.py
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: core, remote-data

move 2018 files to subdirectory
  paper/2018/codemeta.json
  paper/2018/paper.bib
  paper/2018/paper.md
Due: none

initial files for 2023 manuscript
  paper/community.pdf
  paper/functions_06_010.pdf
  paper/paper.bib
  paper/paper.md
  paper/scripts/functions_per_module.py
  paper/scripts/make_ts_plots.py
  paper/scripts/timeline2.py
  paper/timeline2.pdf
Due: none

add joss build job
  .github/workflows/joss-pdf.yml
Due: none

Apply suggestions from code review (@adamrjensen)
  paper/paper.md
Due: none

Apply suggestions from code review (@cwhanse)
  paper/paper.md
Due: none

typo and core developers
  paper/paper.md
Due: none

Apply suggestions from code review (@wholmgren)
  paper/paper.md
Due: none

2015 -> 2013
  paper/paper.md
Due: none

remove scripts
  paper/scripts/functions_per_module.py
  paper/scripts/make_ts_plots.py
  paper/scripts/timeline2.py
Due: none

Add description to prilliman unit_mass
  pvlib/temperature.py
Due: core

Fix typo
  pvlib/temperature.py
Due: core

Typo fix
  pvlib/temperature.py
Due: core

Update v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Apply suggestions from code review (@adriesse)
  paper/paper.md
Due: none

Enhance description of unit_mass in prilliman temperature model (#1857)
  pvlib/temperature.py
Due: core
