Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Fix some broken links (#1957)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/iam.py
  pvlib/iotools/srml.py
  pvlib/irradiance.py
  pvlib/solarposition.py
  pvlib/temperature.py
Due: core, remote-data

undo edits to v0.10.3 whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

remove outdated links
  docs/sphinx/source/user_guide/clearsky.rst
Due: none

remake USN link
  docs/sphinx/source/user_guide/timetimezones.rst
Due: none

repair reference to 2014 paper
  docs/sphinx/source/index.rst
Due: none

remove old links
  docs/sphinx/source/user_guide/variables_style_rules.rst
Due: none

Update get_ground_diffuse description (#1883)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/irradiance.py
Due: core

remove extinct links
  docs/sphinx/source/user_guide/installation.rst
  docs/sphinx/source/user_guide/variables_style_rules.rst
Due: none

fix NREL link
  pvlib/clearsky.py
Due: core

remove v0.2 note
  docs/sphinx/source/user_guide/timetimezones.rst
Due: none

fix links
  pvlib/clearsky.py
  pvlib/irradiance.py
  pvlib/solarposition.py
Due: core

fix link to Anaconda
  docs/sphinx/source/user_guide/installation.rst
Due: none

Enable numba and nrel-pysam in py3.12 anaconda environments
  ci/requirements-py3.12.yml
Due: none

Add Huld PV model (#1940)
  docs/sphinx/source/reference/pv_modeling/system_models.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/pvarray.py
  pvlib/tests/test_pvarray.py
  pvlib/tests/test_pvsystem.py
Due: core

use `noqa` for docstring with long url
  pvlib/clearsky.py
Due: core

Fix more broken links (#1960)
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/clearsky.rst
  docs/sphinx/source/user_guide/installation.rst
  docs/sphinx/source/user_guide/timetimezones.rst
  docs/sphinx/source/user_guide/variables_style_rules.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/clearsky.py
  pvlib/irradiance.py
  pvlib/solarposition.py
Due: core

Flip arguments order
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

I forgot :skull:
  pvlib/tests/test_shading.py
Due: core

Linter are you happy now?
  pvlib/tests/test_shading.py
Due: core

create get_solrad function
  pvlib/iotools/solrad.py
Due: remote-data

Remove port test and add edge cases test
  pvlib/tests/test_shading.py
Due: core

Update test_shading.py
  pvlib/tests/test_shading.py
Due: core

Indentation xd
  pvlib/tests/test_shading.py
Due: core

I forgot how to code
  pvlib/tests/test_shading.py
Due: core

Align data
  pvlib/tests/test_shading.py
Due: core

Add init.py and iotools.rst entry
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/__init__.py
Due: remote-data

Apply suggestions from code review
  pvlib/iotools/solrad.py
Due: remote-data

See Also cross-links with read_solrad
  pvlib/iotools/solrad.py
Due: remote-data

move Examples section below References
  pvlib/iotools/solrad.py
Due: remote-data

don't use "inclusive" with pd.date_range
  pvlib/iotools/solrad.py
Due: remote-data

station.lower()
  pvlib/iotools/solrad.py
Due: remote-data

add test
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

lint
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

add another test for coverage
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

Remove junk
  pvlib/iotools/solrad.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
