Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

apply decorator: dirindex, dni, complete irradiance
  pvlib/irradiance.py
Due: core

dni() deprecation test
  pvlib/tests/test_irradiance.py
Due: core

initial creation
  docs/sphinx/source/index.rst
  docs/sphinx/source/learning/bifacial.rst
  docs/sphinx/source/learning/clearsky.rst
  docs/sphinx/source/learning/index.rst
  docs/sphinx/source/learning/introtutorial.rst
  docs/sphinx/source/learning/modelchain.rst
  docs/sphinx/source/learning/nomenclature.rst
  docs/sphinx/source/learning/pvsystem.rst
  docs/sphinx/source/learning/singlediode.rst
  docs/sphinx/source/learning/timetimezones.rst
  docs/sphinx/source/learning/weather_data.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

Update pvlib/tests/test_irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

return glossary to user guide
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

add @fail_on_pvlib_version("0.12") decorator
  pvlib/tests/test_irradiance.py
Due: core

Update test_irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Update irradiance.py
  pvlib/irradiance.py
Due: core

ongoing...
  pvlib/irradiance.py
Due: core

remove links
  pvlib/pvsystem.py
Due: core

remove obsolete Notes docstring section
  pvlib/iotools/pvgis.py
Due: remote-data

Fix PVGIS TMY tests (#2305)
  docs/sphinx/source/whatsnew/v0.11.2.rst
  pvlib/data/pvgis_tmy_test.csv
  pvlib/data/pvgis_tmy_test.dat
  pvlib/data/tmy_45.000_8.000_2005_2020.csv
  pvlib/data/tmy_45.000_8.000_2005_2020.epw
  pvlib/data/tmy_45.000_8.000_2005_2020.json
  pvlib/data/tmy_45.000_8.000_2005_2020.txt
  pvlib/data/tmy_45.000_8.000_2005_2023.csv
  pvlib/data/tmy_45.000_8.000_2005_2023.epw
  pvlib/data/tmy_45.000_8.000_2005_2023.json
  pvlib/data/tmy_45.000_8.000_2005_2023.txt
  pvlib/data/tmy_45.000_8.000_userhorizon.json
  pvlib/iotools/pvgis.py
  pvlib/tests/iotools/test_pvgis.py
Due: core, remote-data

Update docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/contributing/style_guide.rst
Due: none

correct version number
  pvlib/irradiance.py
Due: core

reinstate database file link
  pvlib/pvsystem.py
Due: core

indent
  pvlib/pvsystem.py
Due: core

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

Update v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/contributing/style_guide.rst
Due: none

Fix link variables_style_rules -> nomenclature
  docs/sphinx/source/contributing/style_guide.rst
Due: none

Fix bulleted list (hopefully 🙏 )
  docs/sphinx/source/contributing/style_guide.rst
Due: none

added some unit tests for different coefficients and input types
  pvlib/tests/conftest.py
  pvlib/tests/test_atmosphere.py
Due: core

Update tracking.py
  pvlib/tracking.py
Due: core

Remove broken link in pvsystem.retrieve_sam (#2312)
  pvlib/pvsystem.py
Due: core

add parameters, capital letters...
  pvlib/ivtools/sdm.py
Due: core

Update irradiance component definitions in `nomenclature.rst` (#2289)
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

correct units and reference
  pvlib/ivtools/sdm.py
Due: core

units
  pvlib/ivtools/sdm.py
Due: core

Update pvlib/ivtools/sdm.py
  pvlib/ivtools/sdm.py
Due: core

review
  pvlib/pvsystem.py
Due: core

remove returns name
  pvlib/pvsystem.py
Due: core

do not format bulleted list into citation block
  pvlib/pvsystem.py
Due: core

Format strings as code
  pvlib/pvsystem.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
