Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Update modelchain.py
  pvlib/modelchain.py
Due: core

Update solarposition.py
  pvlib/solarposition.py
Due: core

Revert solarposition and test_solarposition changes
  pvlib/solarposition.py
  pvlib/tests/test_solarposition.py
Due: core

Had to use main instead of master xd
  pvlib/solarposition.py
  pvlib/tests/test_solarposition.py
Due: core

:sob:
  pvlib/solarposition.py
  pvlib/tests/test_solarposition.py
Due: core

more max_rows behavior matching
  pvlib/bifacial/utils.py
Due: core

deprecate npoints and vectorize parameters
  pvlib/bifacial/infinite_sheds.py
  pvlib/tests/bifacial/test_infinite_sheds.py
  pvlib/tests/bifacial/test_utils.py
Due: core

more deprecation
  pvlib/bifacial/infinite_sheds.py
Due: core

replace npoints-based test with alternative
  pvlib/tests/bifacial/test_utils.py
Due: core

lint
  pvlib/bifacial/utils.py
  pvlib/tests/bifacial/test_utils.py
Due: core

add-test_julian_day_issue_2207
  pvlib/tests/test_spa.py
Due: core

Miscellaneous `iam.py` docstring updates (#2251)
  pvlib/iam.py
Due: core

[MAINT]: Decorator to warn about changed parameter names & allow for deprecation period (#2237)
  pvlib/_deprecation.py
  pvlib/tests/test__deprecation.py
Due: core

Change location.get_sun_rise_set_transit default method
  pvlib/location.py
Due: core

Partially move `test_conftest` to `test__deprecation`
  pvlib/tests/test__deprecation.py
  pvlib/tests/test_conftest.py
Due: core

Add no cover directive in a comment
  pvlib/tests/test__deprecation.py
Due: core

Update variables_style_rules.csv
  pvlib/data/variables_style_rules.csv
Due: core

Update v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

not sure what happened here after merge with main
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Replace freq '1M' with '1ME'
  pvlib/iotools/bsrn.py
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_sodapro.py
  pvlib/tests/test_clearsky.py
Due: core, remote-data

Switch ME to MS
  pvlib/iotools/bsrn.py
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_sodapro.py
  pvlib/tests/test_clearsky.py
Due: core, remote-data

Modify turbidity tess
  pvlib/tests/test_clearsky.py
Due: core

Correct date_range in srml and bsrn
  pvlib/iotools/bsrn.py
  pvlib/iotools/srml.py
Due: remote-data

Remove label option for sodapro functions
  pvlib/iotools/sodapro.py
  pvlib/tests/iotools/test_sodapro.py
Due: remote-data

add website reference example
  docs/sphinx/source/contributing/style_guide.rst
Due: none

`aoi` definition in variables_style_rules.csv (#2247)
  pvlib/data/variables_style_rules.csv
Due: core

reset top ranking issues
  scripts/update_top_ranking_issues.py
Due: none

flake8 fixes
  scripts/update_top_ranking_issues.py
Due: none

Update style_guide.rst
  docs/sphinx/source/contributing/style_guide.rst
Due: none

Update example_function_screenshot.png
  docs/sphinx/source/_images/example_function_screenshot.png
Due: none

updated aoi definition #2247
  docs/sphinx/source/user_guide/glossary.rst
Due: none

update references old variables style rules page
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/weather_data.rst
  pvlib/iotools/midc.py
Due: remote-data

[MAINT]: Partially move `test_conftest` to `test__deprecation` (#2262)
  docs/sphinx/source/whatsnew/v0.11.2.rst
  pvlib/tests/test__deprecation.py
  pvlib/tests/test_conftest.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
