Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

pass clearsky_model to get_clearsky
  pvlib/modelchain.py
  pvlib/tests/test_modelchain.py
Due: core

add bug fix note
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

test for correct argument
  pvlib/tests/test_modelchain.py
Due: core

install pytest-remotedata from conda-forge
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
Due: none

nix `unit='T'` in pd.to_timedelta
  pvlib/iotools/bsrn.py
Due: remote-data

Fix StringIO error regex for python 3.12
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

use iloc with pandas Series
  pvlib/snow.py
  pvlib/soiling.py
Due: core

use pandas bfill()/ffill() instead of fillna(method='...')
  pvlib/scaling.py
Due: core

avoid incompatible dtypes in solarposition.ephemeris
  pvlib/solarposition.py
Due: core

convert np array of length 1 to scalar
  pvlib/scaling.py
Due: core

use numpy.errstate in bifacial.utils tests
  pvlib/tests/bifacial/test_utils.py
Due: core

Fix another pandas iloc warning
  pvlib/ivtools/sdm.py
Due: core

Fix and document clearsky_model for ModelChain (#1924)
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/modelchain.py
  pvlib/tests/test_modelchain.py
Due: core

comment on pandas version
  pvlib/iotools/solcast.py
Due: remote-data

Delete racking_model check in infer_temperature_model of model_chain
  pvlib/modelchain.py
Due: core

change internal linspace to one degree intervals
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

Document author order according to commit count
  paper/paper.md
Due: none

use linspace(0, 90, 91)
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

Add functions to fit and convert IAM models (#1827)
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
  docs/sphinx/source/reference/pv_modeling/iam.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iam.py
  pvlib/tests/conftest.py
  pvlib/tests/test_iam.py
Due: core

In pvsystem __init__ raise error if temperarure_model_parameters is still None after attempt to infer
  pvlib/pvsystem.py
Due: core

Grammatical typo correction in ValueError in null temp_model_params check
  pvlib/pvsystem.py
Due: core

Adams's feedback
  pvlib/iotools/solcast.py
Due: remote-data

Update pvlib/iotools/solcast.py
  pvlib/iotools/solcast.py
Due: remote-data

Update iotools.rst
  docs/sphinx/source/reference/iotools.rst
Due: none

Update v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update __init__.py
  pvlib/iotools/__init__.py
Due: remote-data

Address code review by kandersolar
  pvlib/iotools/solaranywhere.py
  pvlib/tests/iotools/test_solaranywhere.py
Due: remote-data

Adams's feedback
  pvlib/iotools/solcast.py
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

Update v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
Due: none
