Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Apply suggestions from code review
  docs/sphinx/source/user_guide/getting_started/installation.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/spectrum/irradiance.py
Due: core

DOC: fix broken links (NREL, EnergyPlus, git-scm, Wikipedia ΔT) (#2818)
  docs/sphinx/source/user_guide/getting_started/installation.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/iotools/epw.py
  pvlib/solarposition.py
  pvlib/spectrum/irradiance.py
Due: core, remote-data

Apply suggestions from code review
  pvlib/irradiance.py
Due: core

Remove duplicated lines
  pvlib/irradiance.py
Due: core

copy lat/lon to top level
  pvlib/iotools/merra2.py
  tests/iotools/test_merra2.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.15.3.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Update pvlib/iotools/surfrad.py
  pvlib/iotools/surfrad.py
Due: remote-data

Update tests/iotools/test_surfrad.py
  tests/iotools/test_surfrad.py
Due: remote-data

Update test_surfrad.py
  tests/iotools/test_surfrad.py
Due: remote-data

allow variables from multiple datasets
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/iotools/merra2.py
  tests/iotools/test_merra2.py
Due: remote-data

fix bug
  pvlib/iotools/merra2.py
Due: remote-data

Delete uv.lock
  uv.lock
Due: none

Fix TypeError in dc_ohms_from_percent for single-array list input (#2830)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Fix `perez` ZeroDivisionError on scalar dhi=0 (#2826)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Apply suggestion from @RDaxini
  pvlib/pvsystem.py
Due: core

lint
  pvlib/irradiance.py
Due: core

what's new PR number
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Move to v0.16.0
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Fix delta_kt_prime halving single valid neighbor difference (gh-1847) (#2821)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Clarify rh_from_tdew variable naming, comments and references (#2782)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/atmosphere.py
  tests/test_atmosphere.py
Due: core

Add warning to schlick and schlick_diffuse
  pvlib/iam.py
Due: core

Correct column names in logical record 0500 in get/read_bsrn (#2841)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/iotools/bsrn.py
  tests/iotools/test_bsrn.py
Due: remote-data

Add get_surfrad iotools function (#2836)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/surfrad.py
  tests/iotools/test_surfrad.py
Due: remote-data

rework variable tables per review
  pvlib/iotools/merra2.py
Due: remote-data

more cleanup
  pvlib/iotools/merra2.py
Due: remote-data

T2M: convert K to C
  pvlib/iotools/merra2.py
Due: remote-data

lint
  pvlib/iotools/merra2.py
Due: remote-data

Adapt `get_merra2` to new API endpoint (#2839)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/iotools/merra2.py
  tests/iotools/test_merra2.py
Due: remote-data

fix whatsnew
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Remove `g_poa_effective` renamed kwarg warning in `pvsystem.pvwatts_dc()` (#2704)
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/pvsystem.py
Due: core

Adjust tests
  tests/test_irradiance.py
Due: core

Add PVSystem test
  pvlib/modelchain.py
  tests/test_pvsystem.py
Due: core

Update docs/sphinx/source/whatsnew/v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Add breaking change to whatsnew
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Add diffuse components support: `get_sky_diffuse`, `poa_components`, and `get_total_irradiance` (#2800)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Add support for `iam.schlick` to `ModelChain` (#2832)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/iam.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  tests/test_modelchain.py
  tests/test_pvsystem.py
Due: core

fix: refactor doc comments and keep internal _prep_inputs_tracking
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
