Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Clean up unhelpful comment
  pvlib/pvsystem.py
Due: core

Resolve nNsVth Naming
  pvlib/pvsystem.py
Due: core

Clean up var naming comment
  pvlib/pvsystem.py
Due: core

fix: Address linting issues
  pvlib/pvsystem.py
Due: core

docs: Add contributor/contribution to whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Clarify output variable mapping in calcparams_ functions (#2405)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/pvsystem.py
Due: core

edit whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

remove infer_spectral_model
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
Due: core

lint
  pvlib/modelchain.py
Due: core

review
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/modelchain.py
Due: core

Apply suggestions from code review
  pvlib/snow.py
Due: core

edits
  pvlib/snow.py
Due: core

remove reference to infer_spectral_model method
  docs/sphinx/source/reference/modelchain.rst
Due: none

[BUG]: don't infer spectral model in ModelChain (#2253)
  docs/sphinx/source/reference/modelchain.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
Due: core

Fix omission in snow_coverage_nrel (#2292)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/snow.py
  tests/test_snow.py
Due: core

Fix `get_pvgis_tmy` for `outputformat='csv'` (#2395)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/iotools/pvgis.py
  tests/data/tmy_45.000_8.000_2005_2023.csv
  tests/iotools/test_pvgis.py
Due: core, remote-data

whatsnew cleanup
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

add missing contributors
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

nix `recolumn`; default `map_variables` to `True`
  pvlib/iotools/tmy.py
Due: remote-data

ditch the associated tests
  tests/iotools/test_tmy.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

remove unused imports
  pvlib/iotools/tmy.py
  tests/iotools/test_tmy.py
Due: remote-data

more whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

remove get_am15g
  pvlib/spectrum/irradiance.py
Due: core

update associated tests
  tests/spectrum/test_irradiance.py
Due: core

remove from spectrum init
  pvlib/spectrum/__init__.py
Due: core

remove from API reference docs
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
Due: none

remove from system_models.rst
  docs/sphinx/source/reference/pv_modeling/system_models.rst
Due: none

Update v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

re-do deletion
  pvlib/atmosphere.py
  tests/test_atmosphere.py
Due: core

remove links to reference
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.7.0.rst
Due: none

slight wording change in whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

exclamation marks in old whatsnew files
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.9.3.rst
Due: none

I guess ! and ~ don't work together
  docs/sphinx/source/whatsnew/v0.9.3.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

add ! v0.6.1 and 10.0.0
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
Due: none

[MAINT]: Remove deprecated `pvlib.atmosphere.first_solar_spectral_correction` (#2131)
  docs/sphinx/source/reference/airmass_atmospheric.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.7.0.rst
  pvlib/atmosphere.py
  tests/test_atmosphere.py
Due: core

Remove expired `read_tmy3` deprecations (#2408)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/iotools/tmy.py
  tests/iotools/test_tmy.py
Due: remote-data
