Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Updated notes and comments
  pvlib/iotools/panond.py
Due: remote-data

improved testing panond reader
  pvlib/tests/iotools/test_panond.py
Due: remote-data

edited comments for grammar/spelling
  pvlib/iotools/panond.py
Due: remote-data

Minor comment updates and sphinx doc update
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/panond.py
Due: remote-data

Allow dates to be strings in iotools get functions (#1800)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/iotools/bsrn.py
  pvlib/iotools/midc.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/iotools/srml.py
Due: remote-data

Update v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Update whatsnew, example
  docs/examples/iv-modeling/plot_mismatch.py
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Update whatsnew
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

whatsnew fix
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Github action to schedule running the sphinx linkchecker
  .github/workflows/links_check.yml
Due: none

Modify max_angle to accept tuples in addition to single values
  pvlib/pvsystem.py
  pvlib/tests/test_tracking.py
  pvlib/tracking.py
Due: core

Fix test error
  pvlib/data/detect_clearsky_threshold_data.csv
  pvlib/tests/test_clearsky.py
Due: core

breaking workflow command into more steps
  .github/workflows/flake8.yml
Due: none

Remove Stickler-CI integration files (#1723)
  .stickler.yml
  MANIFEST.in
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Add check on length of data
  pvlib/clearsky.py
  pvlib/tests/test_clearsky.py
Due: core

Added check that optimizer succeeded
  pvlib/clearsky.py
  pvlib/tests/test_clearsky.py
Due: core

bishop88 works with pandas.Series of length one
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

fix to many cases when arguments would be converted
  pvlib/singlediode.py
Due: core

use base ref variable instead of hard-coding main branch
  .github/workflows/flake8.yml
Due: none

Handling output for old version of scipy
  pvlib/clearsky.py
Due: core

docstring improvements
  pvlib/iam.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

correct docstring section order
  pvlib/iam.py
Due: core

Apply suggestions from code review
  pvlib/iam.py
Due: core

Update pvlib/clearsky.py
  pvlib/clearsky.py
Due: core

Update pvlib/tests/test_clearsky.py
  pvlib/tests/test_clearsky.py
Due: core

Add suggestions from code review
  pvlib/clearsky.py
  pvlib/tests/test_clearsky.py
Due: core

add text
  pvlib/pvsystem.py
  pvlib/tracking.py
Due: core

add comment to docs/sphinx/source/whatsnew/v0.10.2
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Update tools.py
  pvlib/tools.py
Due: core

Update test_tools.py
  pvlib/tests/test_tools.py
Due: core

Update pvlib/iam.py
  pvlib/iam.py
Due: core

update whatsnew and remove lint error example
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/singlediode.py
Due: core

Apply working ubuntu workflow
  .github/workflows/links_check.yml
Due: none

Delete nitpicky
  docs/sphinx/source/conf.py
Due: none

Ah, I forgot this
  .github/workflows/links_check.yml
Due: none
