Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update tests/test_irradiance.py
  tests/test_irradiance.py
Due: core

TST: remove orphaned times_single reference from dirint test
  tests/test_irradiance.py
Due: core

STY: fix line length and blank lines in dirint docstring
  pvlib/irradiance.py
Due: core

fix: remove zero-fill in singlediode DC model to preserve NaNs (Closes #1409)
  pvlib/modelchain.py
Due: core

fix: replace deprecated pytz property with tz
  docs/tutorials/solarposition.ipynb
Due: none

docs: comments update
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/location.py
  pvlib/solarposition.py
Due: core

docs: replace pytz references with zoneinfo in timetimezones.rst file
  docs/sphinx/source/user_guide/modeling_topics/timetimezones.rst
Due: none

Apply suggestion from @cwhanse
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Apply suggestion from @cwhanse
  tests/test_snow.py
Due: core

docs: fix broken pandas link
  docs/sphinx/source/user_guide/modeling_topics/timetimezones.rst
Due: none

refactor: deprecate dead code
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/clearsky.py
  pvlib/iotools/bsrn.py
  pvlib/iotools/epw.py
  pvlib/iotools/sodapro.py
  pvlib/irradiance.py
  pvlib/modelchain.py
  pvlib/tracking.py
  tests/test_clearsky.py
  tests/test_irradiance.py
  tests/test_modelchain.py
Due: core, remote-data

Add bifacial scaling to Townsend snow loss model (#2756)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/snow.py
  tests/test_snow.py
Due: core

Update nasa_power VARIABLE_MAP with additional parameters
  pvlib/iotools/nasa_power.py
  tests/iotools/test_nasa_power.py
Due: remote-data

Fix flake8 E501/E702 in test file
  tests/iotools/test_nasa_power.py
Due: remote-data

Fix all styles violations after linter switch to Ruff
  docs/examples/irradiance-transposition/use_perez_modelchain.py
  pvlib/singlediode.py
  pvlib/spa.py
  pvlib/spectrum/mismatch.py
  pvlib/tracking.py
  tests/iotools/test_midc.py
  tests/test_clearsky.py
  tests/test_pvsystem.py
Due: core, remote-data

Address review comments: move unit conversion note to Notes section, simplify inline comments
  pvlib/iotools/nasa_power.py
Due: remote-data

changes from review
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/utils.py
Due: core

allow perez_driesse
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

add reference to utils functions
  pvlib/bifacial/utils.py
Due: core

move g0, g1 to end of function signatures
  pvlib/bifacial/utils.py
Due: core

fix whatsnew merge
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

sec -> cos
  pvlib/irradiance.py
Due: core

Correct typos in `perez` and `perez_driesse` docstrings (#2770)
  pvlib/irradiance.py
Due: core

Change more instances of tilt to slope and update descriptions/depr. versions
  docs/examples/solar-tracking/plot_single_axis_tracking_on_sloped_terrain.py
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

Appease the :snowflake::eight:
  pvlib/tracking.py
Due: core

update tests for #1867
  tests/bifacial/test_utils.py
Due: core

Correct era5 timestamp convention
  pvlib/iotools/era5.py
Due: remote-data

Add Whatsnew
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Add support for return_components to Reindl
  pvlib/irradiance.py
Due: core

Add dni_clear to variable map
  pvlib/iotools/nasa_power.py
Due: remote-data

Update notes section
  pvlib/iotools/nasa_power.py
Due: remote-data

Fix linter
  pvlib/iotools/nasa_power.py
Due: remote-data

Update docstrings for Reindl
  pvlib/irradiance.py
Due: core

Update whatsnew based on reviewer feedback
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Correct ERA5 timestamp convention (#2773)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/era5.py
Due: remote-data

Parse read_nsrdb_psm4 header with csv module to keep quoted commas
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/psm4.py
  tests/iotools/test_psm4.py
Due: remote-data

Split test_get_nasa_power_all_variable_map_parameters_valid into two batches
  tests/iotools/test_nasa_power.py
Due: remote-data

Remove empty horizon brightening component from haydavies
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Add return_components to isotropic
  pvlib/irradiance.py
Due: core

Add deprecation warning for pvlib.irradiance.king
  pvlib/irradiance.py
Due: core
