Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Make times just one statement
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Fix uncomplete example in docstring
  pvlib/shading.py
Due: core

flake is a snowflake :snowflake:
  pvlib/shading.py
Due: core

Delete Centralized_and_split_PV_junction_boxes_cesardd.jpg
  docs/sphinx/source/_images/Centralized_and_split_PV_junction_boxes_cesardd.jpg
Due: none

Rename function to get_reference_spectra
  docs/examples/spectrum/plot_standard_ASTM_G173-03.py
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Remove example description
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Change example title
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Ints for number of blocks
  pvlib/shading.py
Due: core

Rephrasing of shaded fraction 2D
  pvlib/shading.py
Due: core

Lindholm temperature model and tests
  docs/sphinx/source/reference/pv_modeling/temperature.rst
  pvlib/temperature.py
  pvlib/tests/test_temperature.py
Due: core

Update docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Implement code review changes
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

fix linter
  pvlib/temperature.py
  pvlib/tests/test_temperature.py
Due: core

Remove dhi_clear in variable mapping
  pvlib/iotools/solaranywhere.py
Due: remote-data

Update pvlib/spectrum/mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Update pvlib/tests/test_spectrum.py
  pvlib/tests/test_spectrum.py
Due: core

Update spectrum.rst
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
Due: none

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Update what's new
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Add docstring Notes to _pandas_to_doy
  pvlib/tools.py
Due: core

Revert _datetimelike_scalar_to_datetimeindex
  pvlib/tools.py
Due: core

Revert tests.test_irradiance.times
  pvlib/tests/test_irradiance.py
Due: core

Replace lowercase utc with uppercase
  pvlib/tests/test_clearsky.py
Due: core

Fix clearsky lookup_linke_turbidity and _interpolate_turbidity
  pvlib/clearsky.py
Due: core

Albedo function
  docs/sphinx/source/reference/irradiance/albedo.rst
  docs/sphinx/source/reference/irradiance/index.rst
  pvlib/__init__.py
  pvlib/albedo.py
  pvlib/tests/test_albedo.py
Due: core

fixed test tolerance
  pvlib/tests/test_albedo.py
Due: core

fix linter
  pvlib/albedo.py
Due: core

changed format of function description
  pvlib/albedo.py
Due: core

update watsnew
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Change accuracy of test function
  pvlib/tests/test_temperature.py
Due: core

Remove deprecated pvlib.iotools.read_srml_month_from_solardat function (#1989)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Implement review changes
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/iotools/midc.py
Due: remote-data

Update value
  pvlib/tests/test_temperature.py
Due: core

Update test_albedo.py
  pvlib/tests/test_albedo.py
Due: core

Update test_temperature.py
  pvlib/tests/test_temperature.py
Due: core
