Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Update docs/sphinx/source/whatsnew/v0.15.0.rst
  docs/sphinx/source/whatsnew/v0.15.0.rst
Due: none

DOC: clarify Linke turbidity usage in ineichen
  pvlib/clearsky.py
Due: core

DOC: clarify Linke turbidity source and usage for Ineichen clearsky model
  pvlib/clearsky.py
Due: core

remove unused imports
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

update release date
  docs/sphinx/source/whatsnew/v0.15.0.rst
Due: none

Remove irradiance.py deprecations; finalize v0.15.0 (#2666)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.14.1.rst
  docs/sphinx/source/whatsnew/v0.15.0.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

update test_meteonorm expected values for new year
  tests/iotools/test_meteonorm.py
Due: remote-data

Update test_meteonorm expected values for new year (#2676)
  tests/iotools/test_meteonorm.py
Due: remote-data

create whatsnew file for next release
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Create whatsnew file for next release (#2677)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Add whatsnew note for simple_efficiency division-by-zero fix
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Fix division-by-zero in transformer.simple_efficiency
  pvlib/transformer.py
  tests/test_transformer.py
Due: core

fix flake8
  tests/test_transformer.py
Due: core

fixing docs
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Update tests to expect ValueError in _degrees_to_index
  tests/test_tools.py
Due: core

Use ValueError instead of IndexError in _degrees_to_index
  pvlib/tools.py
Due: core

Fix flake8 line length in _degrees_to_index test
  tests/test_tools.py
Due: core

Update clearsky tests to expect ValueError for out-of-range lat/lon
  tests/test_clearsky.py
Due: core

Add simple_efficiency tests for numpy array inputs
  tests/test_transformer.py
Due: core

fix flake
  tests/test_transformer.py
Due: core

Update pvlib/transformer.py
  pvlib/transformer.py
Due: core

Fix ZeroDivisionError in simple_efficiency when load_loss=0 (#2646)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/transformer.py
  tests/test_transformer.py
Due: core

Update tests/test_clearsky.py
  tests/test_clearsky.py
Due: core

DOC: move Ineichen example and clarify Linke turbidity references
  pvlib/clearsky.py
Due: core

Fix swapped reference numbering in get_bsrn docstring
  pvlib/iotools/bsrn.py
Due: remote-data

Fix swapped reference numbering in get_bsrn docstring (#2680)
  pvlib/iotools/bsrn.py
Due: remote-data

update
  pvlib/iotools/bsrn.py
Due: remote-data

swapping content for 2 and 4
  pvlib/iotools/bsrn.py
Due: remote-data

missing _ fix applied
  pvlib/iotools/bsrn.py
Due: remote-data

Fix doctest outputs for ModelChain run_model examples
  pvlib/modelchain.py
Due: core

Fix doctests for run_model_from_poa and run_model_from_effective_irradiance
  pvlib/modelchain.py
Due: core

first draft
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/iam.rst
Due: none

tweaks
  docs/sphinx/source/user_guide/modeling_topics/iam.rst
Due: none

Fix docstring examples for ModelChain methods
  pvlib/modelchain.py
Due: core

Fix ModelChain doctest examples
  pvlib/modelchain.py
Due: core

Fix pvwatts doctest parameters in examples
  pvlib/modelchain.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
