Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

bruh
  pvlib/tests/test_shading.py
Due: core

Minor Python optimization a la tracking.singleaxis
  pvlib/shading.py
Due: core

Comment and minor optimizations
  pvlib/shading.py
Due: core

Typo found by Mikofski
  pvlib/tracking.py
Due: core

Surface -> Axis
  pvlib/shading.py
Due: core

Elevation -> Zenith
  pvlib/shading.py
Due: core

Elev -> Zenith
  pvlib/tests/test_shading.py
Due: core

further improvements
  docs/sphinx/source/user_guide/weather_data.rst
Due: none

update iotools citation and ARJ grant numbers
  paper/paper.bib
  paper/paper.md
Due: none

Add reverse transposition function and two helpers.
  pvlib/irradiance.py
Due: core

Add missing import.
  pvlib/irradiance.py
Due: core

Add to docs under transposition until a better place is found/made.
  docs/sphinx/source/reference/irradiance/transposition.rst
Due: none

Minor doc string fixes.
  pvlib/irradiance.py
Due: core

Fix line code length in test_sodapro.py
  pvlib/tests/iotools/test_sodapro.py
Due: remote-data

Add full_output option similar to newton().
  pvlib/irradiance.py
Due: core

First example for reverse transposition.
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

Second example for reverse transposition.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

Some improvements to the two examples.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

Placate flake8.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
Due: none

Add tests for reverse transpostion.
  pvlib/tests/test_irradiance.py
Due: core

Refine examples and fix test.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
  pvlib/tests/test_irradiance.py
Due: core

Update whatsnew.
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Refine examples.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

Try to get rid of matplotlib warning in example.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

Remove unused import.
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

add comparisons to other tools
  paper/paper.bib
  paper/paper.md
Due: none

edit project description in README, RTD, PyPI
  README.md
  docs/sphinx/source/index.rst
  setup.py
Due: none

Apply suggestions from code review
  paper/paper.bib
  paper/paper.md
Due: none

revision re: other open-source projects
  paper/paper.md
Due: none

bibtex tweaks
  paper/paper.bib
Due: none

Add window_length keyword argument to detect_clearsky example in clearsky.rst user guide
  docs/sphinx/source/user_guide/clearsky.rst
Due: none

Update v0.10.03.rst "what's new" file to reflect change
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Apply suggestions from code review
  README.md
  docs/sphinx/source/index.rst
  setup.py
Due: none

adopt reviewer suggestions
  README.md
  docs/sphinx/source/index.rst
  setup.py
Due: none

Removed cs.index and window_length arguments from clearsky.detect_clearsky in clearsky.rst user guide
  docs/sphinx/source/user_guide/clearsky.rst
Due: none

Fix typo in contributor ghuser
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

add notes about quotes on Mac
  docs/sphinx/source/contributing.rst
  docs/sphinx/source/user_guide/installation.rst
Due: none

Update geographical coverage description
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iotools/sodapro.py
Due: remote-data

Apply suggestions from code review
  docs/sphinx/source/user_guide/weather_data.rst
Due: none

make :py:mod:`pvlib.iotools` link to API reference
  docs/sphinx/source/reference/iotools.rst
Due: none

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
