Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

move mention of iotools paper
  docs/sphinx/source/user_guide/weather_data.rst
Due: none

cleanup
  docs/sphinx/source/user_guide/weather_data.rst
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Fix error in clear-sky user's guide docs page (#1915)
  docs/sphinx/source/user_guide/clearsky.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

correction in maximum longitude available for CAMS Radiation
  pvlib/iotools/sodapro.py
Due: remote-data

revert of last change
  pvlib/iotools/sodapro.py
Due: remote-data

Create weather data/iotools page in User's Guide (#1754)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/weather_data.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Improve examples based on reviews.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

Settle conflict.
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Try again.
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Remove one space.
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

suggestions from review
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

add reference
  pvlib/iam.py
Due: core

Add doc notes about using quote marks on Mac when installing `optional` et al (#1916)
  docs/sphinx/source/contributing.rst
  docs/sphinx/source/user_guide/installation.rst
Due: none

edits to examples
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
Due: none

add note to convert
  pvlib/iam.py
Due: core

edit note on convert
  pvlib/iam.py
Due: core

edit both notes
  pvlib/iam.py
Due: core

polish the notes
  pvlib/iam.py
Due: core

sum not Sum
  pvlib/iam.py
Due: core

clarify pvlib matlab comparison
  paper/paper.md
Due: none

JOSS-review: comparison to other tools (#1912)
  paper/paper.bib
  paper/paper.md
Due: none

remove history and support statement from setup.py
  setup.py
Due: none

add "university research projects"
  docs/sphinx/source/index.rst
Due: none

README: move history/funding to separate section
  README.md
Due: none

update DOI per bot recommendation
  paper/paper.bib
Due: none

Edit project description in README, RTD, PyPI (#1913)
  README.md
  docs/sphinx/source/index.rst
  setup.py
Due: none

edits
  pvlib/iam.py
Due: core

increase minimum scipy to 1.5.0
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.7-min.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.10.3.rst
  setup.py
Due: none

increase minimum scipy to 1.5.0 (#1919)
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.7-min.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.10.3.rst
  setup.py
Due: none

remove test for scipy
  pvlib/iam.py
  pvlib/tests/conftest.py
  pvlib/tests/test_iam.py
Due: core

edits from review
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
  pvlib/iam.py
Due: core

its not it's
  docs/examples/reflections/plot_convert_iam_models.py
  docs/examples/reflections/plot_fit_iam_models.py
Due: none

Fix temp_dew point mapping
  pvlib/iotools/psm3.py
  pvlib/tests/iotools/test_psm3.py
Due: remote-data

Add whatsnew entry
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update test_srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Fix temp_dew mapping in get_psm3 (#1920)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iotools/psm3.py
  pvlib/tests/iotools/test_psm3.py
Due: remote-data

Skip failing SRML tests (#1921)
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Minimal functionality for early feedback
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
