Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

Microoptimization :rocket:
  pvlib/spectrum/mismatch.py
Due: core

Improve error handling
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

PVlib Issue #1697 Remove the function and all its reference poa_horizontal_ratio.
  docs/sphinx/source/reference/irradiance/components.rst
  docs/tutorials/irradiance.ipynb
  pvlib/irradiance.py
Due: core

Add ppl involved
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

kevin's suggestions
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

update codecov upload action from v3 to v4
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

Update codecov CI configuration to fix PR coverage uploads (#2022)
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

supply codecov upload token to codecov upload jobs
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

Codecov upload follow-up (#2024)
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

change `np.Inf` to `np.inf`
  pvlib/pvsystem.py
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

change `np.NaN` to `np.nan`
  pvlib/iotools/srml.py
  pvlib/iotools/surfrad.py
Due: remote-data

fix np.uint8 range issue
  pvlib/location.py
Due: core

use `scipy.integrate.trapezoid` instead of `np.trapz`
  pvlib/bifacial/utils.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/bifacial/test_utils.py
Due: core

advance minimum scipy from 1.5 to 1.6 for integrate.trapezoid
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.7-min.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pyproject.toml
Due: none

whatsnew PR number
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

lint
  pvlib/tests/test_pvsystem.py
Due: core

get the spacing right
  pvlib/tests/test_pvsystem.py
Due: core

more spacing
  pvlib/tests/test_pvsystem.py
Due: core

install an older version of conda in ASV CI job
  .github/workflows/asv_check.yml
Due: none

Numpy 2.0 compatibility (#2027)
  benchmarks/asv.conf.json
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.7-min.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/bifacial/utils.py
  pvlib/iotools/srml.py
  pvlib/iotools/surfrad.py
  pvlib/location.py
  pvlib/pvsystem.py
  pvlib/singlediode.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/bifacial/test_utils.py
  pvlib/tests/test_singlediode.py
  pyproject.toml
Due: core, remote-data

require python >=3.8
  pyproject.toml
Due: none

update CI configurations
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  benchmarks/asv.conf.json
  ci/requirements-py3.7.yml
  ci/requirements-py3.8-min.yml
  readthedocs.yml
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

remove pre-3.8 cruft
  pvlib/version.py
Due: core

fix h5py/numpy versioning issue for py3.8-min
  ci/requirements-py3.8-min.yml
Due: none

update gallery examples for newer pandas
  docs/examples/shading/plot_partial_module_shading_simple.py
  docs/examples/solar-position/plot_sunpath_diagrams.py
Due: none

broken references in old whatsnews
  docs/sphinx/source/whatsnew/v0.3.0.txt
  docs/sphinx/source/whatsnew/v0.9.1.rst
Due: none

add missing ref to bishop88_* funcs
  pvlib/singlediode.py
Due: core

this was interpreted as code (?)
  pvlib/pvarray.py
Due: core

I think this messes up the indentation
  pvlib/iotools/srml.py
Due: remote-data

Fix unknown references in autosummaries
  pvlib/pvsystem.py
  pvlib/scaling.py
Due: core

This one too
  pvlib/snow.py
Due: core

:rocket:
  pvlib/pvarray.py
Due: core

Undo calcparams_cec, I misread
  pvlib/pvsystem.py
Due: core

Aha, this is the right calcparams_ function
  pvlib/pvsystem.py
Due: core

Dammit, it's always the linter
  pvlib/pvarray.py
  pvlib/scaling.py
Due: core

Fix silently ignoring file path in `pvsystem.retrieve_sam` when `name` is provided (#2020)
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core
