Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

atmosphere.ipynb
  docs/examples/tutorials/atmosphere.py
  docs/tutorials/atmosphere.ipynb
Due: none

List fix
  docs/examples/tutorials/atmosphere.py
Due: none

Python Flake8 linter workflow to replace stickler-ci (#1786)
  .github/workflows/flake8-linter-matcher.json
  .github/workflows/flake8.yml
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Irradiance tuto, missing TODOs
  docs/examples/tutorials/atmosphere.py
  docs/examples/tutorials/irradiance.py
Due: none

rename folder
  docs/examples/tutos_temp/atmosphere.py
  docs/examples/tutos_temp/irradiance.py
Due: none

move folder to docs
  docs/tutos_temp/atmosphere.py
  docs/tutos_temp/irradiance.py
Due: none

bring atmosphere.ipynb back to life
  docs/tutorials/atmosphere.ipynb
Due: none

Make tutorials a gallery (see description TODO)
  docs/examples/README.rst
  docs/sphinx/source/conf.py
  docs/tutos_temp/README.rst
Due: none

I hope this was left commented because of unnecessary and not because it will break something
  docs/sphinx/source/conf.py
Due: none

Btw, this would make it match files ending in .py, and not something like entropy
  docs/sphinx/source/conf.py
Due: none

Rename dirs
  docs/sphinx/source/conf.py
  docs/tutorials/README.rst
  docs/tutorials/atmosphere.ipynb
  docs/tutorials/atmosphere.py
  docs/tutorials/irradiance.ipynb
  docs/tutorials/irradiance.py
  docs/tutorials/pvsystem.ipynb
  docs/tutorials/solarposition.ipynb
  docs/tutorials/tmy.ipynb
  docs/tutorials/tmy_and_diffuse_irrad_models.ipynb
  docs/tutorials/tmy_to_power.ipynb
  docs/tutorials/tracking.ipynb
Due: none

Formatted with black
  docs/tutorials/irradiance.py
Due: none

Revert "Btw, this would make it match files ending in .py, and not something like entropy"
  docs/sphinx/source/conf.py
Due: none

Found it, now it does the reverted change thing
  docs/sphinx/source/conf.py
Due: none

Hmmm
  docs/sphinx/source/conf.py
Due: none

Andddd this
  docs/sphinx/source/index.rst
Due: none

require ephem to build docs
  setup.py
Due: none

Solve timeit problem (hopefully)
  docs/tutorials/irradiance.py
Due: none

fix psm3 request mapping
  pvlib/iotools/psm3.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Fix incorrect `ghi_clear` PSM3 request mapping (#1819)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/iotools/psm3.py
Due: remote-data

I don't know how to make this work
  docs/tutorials/irradiance.py
Due: none

(This was left uncommented but relates to previous commit)
  docs/tutorials/irradiance.py
Due: none

updating bishop88 docs
  pvlib/singlediode.py
Due: core

converting all newton numeric args if not np.isscalar
  pvlib/singlediode.py
Due: core

remove used imports
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

add back newline
  pvlib/tests/test_singlediode.py
Due: core

Infer thresholds for detect_clearsky (#1784)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/clearsky.py
  pvlib/data/detect_clearsky_threshold_data.csv
  pvlib/tests/test_clearsky.py
Due: core

Create solarposition.py with jupyter nbconvert
  docs/tutorials/solarposition.py
Due: none

switch PVSyst params from float back to numeric
  pvlib/singlediode.py
Due: core

update whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Edit solarposition.py
  docs/tutorials/solarposition.py
Due: none

Update irradiance.py
  docs/tutorials/irradiance.py
Due: none

Update atmosphere.py
  docs/tutorials/atmosphere.py
Due: none

Manually transcript pvsystem.ipynb (last one)
  docs/tutorials/pvsystem.py
Due: none

Special thanks to black and my patience
  docs/tutorials/pvsystem.py
Due: none

Adding functions, docstrings draft
  pvlib/iam.py
Due: core

Updating imports, adding docstrings
  docs/examples/reflections/plot_convert_iam_models.py
  pvlib/iam.py
Due: core

Updated rst file
  docs/sphinx/source/reference/pv_modeling/iam.rst
  pvlib/iam.py
Due: core
