Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update irradiance.py
  pvlib/irradiance.py
Due: core

Update test_irradiance.py
  tests/test_irradiance.py
Due: core

update sphinx refs, examples
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
  docs/sphinx/source/reference/irradiance/reverse-transposition.rst
Due: none

Update v0.15.2.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

flake8
  tests/test_irradiance.py
Due: core

test deprecation
  tests/test_irradiance.py
Due: core

freq: d -> D
  tests/test_pvsystem.py
Due: core

`read_nsrdb_psm4`: parse header with the `csv` module to keep quoted commas (#2771)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/psm4.py
  tests/iotools/test_psm4.py
Due: remote-data

Rename `ghi_from_poa_driesse_2023` to `ghi_from_poa_driesse_2024` (#2777)
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
  docs/sphinx/source/reference/irradiance/reverse-transposition.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

fix: refactor doc comments and keep internal _prep_inputs_tracking
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
Due: core

Add dataset option to get_era5
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

Update era5-land test to use np.isclose
  tests/iotools/test_era5.py
Due: remote-data

Add whatsnew entry for nasa_power VARIABLE_MAP additions (PR #2762)
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Add numpy import to test_era5.py
  tests/iotools/test_era5.py
Due: remote-data

Implement suggested changes from review
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

Add whatsnew entry
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Fix linter
  pvlib/iotools/era5.py
Due: remote-data

Add test coverage for `irradiance.dirint` for array and series inputs (#2752)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Address review: simplify whatsnew entry, add self to Contributors (PR #2762)
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Apply suggestion from @echedey-ls
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Apply suggestion from @AdamRJensen - combine whatsnew entries
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Remove data_version parameter from get_meteonorm_tmy
  pvlib/iotools/meteonorm.py
Due: remote-data

Remove data_version from tests
  tests/iotools/test_meteonorm.py
Due: remote-data

Update nasa_power VARIABLE_MAP with additional parameters (#2762)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/nasa_power.py
  tests/iotools/test_nasa_power.py
Due: remote-data

Clarify rh_from_tdew variable naming, comments and references
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/atmosphere.py
  tests/test_atmosphere.py
Due: core

Apply suggestions from code review
  pvlib/iotools/era5.py
Due: remote-data

Fix wrong reference on irradiance.reindl
  pvlib/irradiance.py
Due: core

Reindl IEEE references
  pvlib/irradiance.py
Due: core

Fix ambiguous variable name
  pvlib/irradiance.py
Due: core

Dict output for return_components=True
  pvlib/irradiance.py
Due: core

Update docstrings for Reindl
  pvlib/irradiance.py
Due: core

Add support for return_components to Reindl
  pvlib/irradiance.py
Due: core

Change OrderedDict output to Dict
  pvlib/irradiance.py
Due: core

Add Reindl components test
  tests/test_irradiance.py
Due: core

Fix long line on test
  tests/test_irradiance.py
Due: core

Clarify Reindl component formulation on docstrings
  pvlib/irradiance.py
Due: core

Fix conflicts
  pvlib/irradiance.py
Due: core
