Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Example experimentation
  docs/examples/reflections/plot_convert_iam_models.py
Due: none

Update snow events parameter docs for Townsend snow loss model (#1840)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/snow.py
Due: core

Solve alleged twine warnings on pypi publishing (#1778)
  .github/workflows/publish.yml
  setup.py
Due: none

Update error message in modelchain.py
  pvlib/modelchain.py
Due: core

Implement C1 continuous version of the Erbs diffuse-fraction/decomposition model (#1834)
  docs/sphinx/source/reference/irradiance/decomposition.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Allow non _IAM_MODEL_PARAMS to be passed to IAM models in pvsystem
  pvlib/pvsystem.py
Due: core

Add kwargs test
  pvlib/tests/test_modelchain.py
Due: core

Lazify all()
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/tests/iotools/test_pvgis.py
  pvlib/tests/iotools/test_srml.py
  pvlib/tests/test_modelchain.py
Due: core, remote-data

exact ashrae intercept
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

Update v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Nix `use_system_packages` in RTD config
  readthedocs.yml
Due: none

Nix `use_system_packages` in RTD config (#1846)
  readthedocs.yml
Due: none

Update pvlib/modelchain.py
  pvlib/modelchain.py
Due: core

Update modelchain.py
  pvlib/modelchain.py
Due: core

pvgis gallery example
  docs/examples/shading/far_shading_with_pvgis_horizon_data.py
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

name_update
  docs/examples/shading/plot_far_shading_with_pvgis_horizon_data.py
Due: none

updates_1
  docs/examples/shading/plot_far_shading_with_pvgis_horizon_data.py
Due: none

Make interp IAM method available for modelchain (#1832)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/iam.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_pvsystem.py
Due: core

Adding altitude lookup for location class Set altitude automatically from built-in map when not specified. See https://github.com/pvlib/pvlib-python/pull/1547
  pvlib/location.py
  pvlib/tests/test_location.py
Due: core

Readding change removed by accident by patch
  pvlib/tests/test_location.py
Due: core

Note about fallback to zero when there is no data
  pvlib/location.py
Due: core

Adding description to "what's new"
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Update environment.yml
  .devcontainer/environment.yml
Due: none

Update pvlib/location.py
  pvlib/location.py
Due: core

Fix wording for altitude param
  pvlib/location.py
Due: core

devcontainer updates - Using Python base because Conda dropped support for Python 3.7 https://github.com/conda/conda/issues/12436 - Installing all pvlib dependencies on startup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/environment.yml
Due: none

Pre-installing dependencies in Dockerfile
  .devcontainer/Dockerfile
Due: none

Configuring pytest and default interpreter
  .devcontainer/devcontainer.json
Due: none

editing docstrings mostly
  docs/examples/reflections/plot_convert_iam_models.py
  pvlib/iam.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

fix errors
  docs/examples/reflections/plot_convert_iam_models.py
  pvlib/tests/test_iam.py
Due: core

remove test for weight function size
  pvlib/tests/test_iam.py
Due: core

editing
  docs/examples/reflections/plot_convert_iam_models.py
  pvlib/iam.py
Due: core

Update 2
  docs/examples/shading/plot_simple_irradiance_adjustment_for_horizon_shading.py
Due: none

reflow docstrings for line length limit
  pvlib/pvsystem.py
  pvlib/tracking.py
Due: core

address PR suggestions
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/tracking.py
Due: core

update type hint in SingleAxisTrackerMount
  pvlib/pvsystem.py
Due: core

simplify whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

PR number
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

add SingleAxisTrackerMount test
  pvlib/tests/test_pvsystem.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
