Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

whatsnews
  docs/sphinx/source/whatsnew/v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

remove irrelevant sapm entries from `_DC_MODEL_PARAMS`
  pvlib/pvsystem.py
Due: core

create bug fixes section in whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

add whatsnew entry
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

adjust test
  pvlib/tests/test_modelchain.py
Due: core

Replace zenith with solar_zenith in variable map for pvlib:psm3 (#2381)
  pvlib/iotools/psm3.py
Due: remote-data

fix CSV parsing and test
  pvlib/iotools/pvgis.py
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

lint
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

more fixes
  pvlib/data/tmy_45.000_8.000_2005_2023.csv
  pvlib/iotools/pvgis.py
Due: core, remote-data

hmmmm when did this break? 👀
  docs/sphinx/source/_static/hoverxref-darkmode.css
Due: none

Imma stupid for this, sorry Kevin 🙇
  docs/sphinx/source/_static/tooltips_matching_color_scheme.css
  docs/sphinx/source/conf.py
Due: none

🚀 i did it
  docs/sphinx/source/_static/tooltipster_color_theming.css
  docs/sphinx/source/conf.py
Due: none

Update nomenclature.rst
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

remove space
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

Update v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

correct keys
  pvlib/spectrum/mismatch.py
Due: core

Update test_mismatch.py
  pvlib/tests/spectrum/test_mismatch.py
Due: core

add "series" to module description
  pvlib/spectrum/mismatch.py
Due: core

correct keys for FS modules in `spectrum.spectral_factor_pvspec` (#2400)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/spectrum/mismatch.py
  pvlib/tests/spectrum/test_mismatch.py
Due: core

Code review (Kevin)
  pyproject.toml
Due: none

scipy.interpolate.interp1d updation
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
  pvlib/spectrum/response.py
Due: core

Add `ghi_clear` to glossary (#2397)
  docs/sphinx/source/user_guide/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

[DOC] Tooltips are always shown in light mode, even in dark mode. (#2348)
  docs/sphinx/source/_static/tooltipster_color_theming.css
  docs/sphinx/source/conf.py
  pyproject.toml
Due: none

Apply suggestions from code review
  ci/requirements-py3.13.yml
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Add Python 3.13 to test matrix (#2258)
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  ci/requirements-py3.13.yml
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

add test
  pvlib/tests/test_modelchain.py
Due: core

Update test_solcast.py
  tests/iotools/test_solcast.py
Due: none

repair bad whatsnew merge
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

update whatsnew
  docs/sphinx/source/whatsnew/v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Remove unnecessary SAPM keys in `pvsystem._DC_MODEL_PARAMS` (#2393)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/pvsystem.py
  tests/test_modelchain.py
Due: core

Update whatsnew ordering
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Implement review comments on documentation
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/location.py
Due: core

Missed saving changes and appease the linter
  pvlib/location.py
Due: core

Apply suggestions from code review
  pvlib/location.py
Due: core

Add tests for time conversions in tools package (#2341)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/location.py
  pvlib/tools.py
  tests/test_location.py
  tests/test_tools.py
Due: core

DOC: Clarify output variable mapping in calcparams_desoto, calcparams_cec, and calcparams_pvsyst
  pvlib/pvsystem.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
