Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

private functions for PVsyst SDM auxiliary equations
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/pvsystem.py
Due: core

fix typo
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
Due: core

Extract private functions for each PVsyst SDM auxiliary equation in `calcparams_pvsyst` (#2428)
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/pvsystem.py
Due: core

add function
  pvlib/ivtools/sdm/__init__.py
  pvlib/ivtools/sdm/pvsyst.py
Due: core

add tests
  tests/ivtools/sdm/test_pvsyst.py
Due: core

add to API reference
  docs/sphinx/source/reference/pv_modeling/parameters.rst
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

lint
  pvlib/ivtools/sdm/pvsyst.py
  tests/ivtools/sdm/test_pvsyst.py
Due: core

add suffix to names of private functions
  pvlib/ivtools/sdm/pvsyst.py
Due: core

add irrad/temp tolerance parameters
  pvlib/ivtools/sdm/pvsyst.py
Due: core

add tolerance tests
  tests/ivtools/sdm/test_pvsyst.py
Due: core

fix a couple warnings
  pvlib/ivtools/sdm/pvsyst.py
Due: core

lint
  tests/ivtools/sdm/test_pvsyst.py
Due: core

add missing 0.12.1 to whatsnew.rst
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

add missing 0.12.1 to whatsnew.rst (#2430)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Update tests/conftest.py
  tests/conftest.py
Due: core

change order of optional parameters
  pvlib/ivtools/sdm/pvsyst.py
Due: core

remove sublevel index.rst
  docs/sphinx/source/user_guide/extras/index.rst
  docs/sphinx/source/user_guide/getting_started/index.rst
  docs/sphinx/source/user_guide/modeling_topics/index.rst
Due: none

Update pvlib/iotools/psm4.py
  pvlib/iotools/psm4.py
Due: remote-data

replace statsmodels with np.linalg.lstsq
  pvlib/ivtools/sdm/pvsyst.py
  tests/ivtools/sdm/test_pvsyst.py
Due: core

add _2025 to function name
  docs/sphinx/source/reference/pv_modeling/parameters.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/ivtools/sdm/__init__.py
  pvlib/ivtools/sdm/pvsyst.py
  tests/ivtools/sdm/test_pvsyst.py
Due: core

add note regarding array shape
  pvlib/ivtools/sdm/pvsyst.py
Due: core

lint
  pvlib/ivtools/sdm/pvsyst.py
Due: core

Update pvsyst.py
  pvlib/ivtools/sdm/pvsyst.py
Due: core

Rearrange user guide files into subfolders (#2411)
  docs/sphinx/source/user_guide/extras/faq.rst
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/user_guide/getting_started/installation.rst
  docs/sphinx/source/user_guide/getting_started/introtutorial.rst
  docs/sphinx/source/user_guide/getting_started/package_overview.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/bifacial.rst
  docs/sphinx/source/user_guide/modeling_topics/clearsky.rst
  docs/sphinx/source/user_guide/modeling_topics/modelchain.rst
  docs/sphinx/source/user_guide/modeling_topics/pvsystem.rst
  docs/sphinx/source/user_guide/modeling_topics/singlediode.rst
  docs/sphinx/source/user_guide/modeling_topics/timetimezones.rst
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
Due: none

update pvgis test data files
  tests/data/pvgis_tmy_test.csv
  tests/data/tmy_45.000_8.000_2005_2023.csv
  tests/data/tmy_45.000_8.000_2005_2023.epw
  tests/data/tmy_45.000_8.000_2005_2023.json
  tests/data/tmy_45.000_8.000_2005_2023.txt
Due: core

add ref irr/t as optional args, rename
  pvlib/pvsystem.py
Due: core

make C4-C7 optional in pvlib.pvsystem.sapm
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

make optional in PVSystem and ModelChain as well
  pvlib/modelchain.py
  pvlib/pvsystem.py
  tests/test_modelchain.py
Due: core

incidental cleanup
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

lint
  tests/test_modelchain.py
  tests/test_pvsystem.py
Due: core

add terms to docs
  pvlib/pvsystem.py
Due: core

linter
  pvlib/pvsystem.py
Due: core

Update v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

move whatsnew entry from docs to enhancements
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
