Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

drop wheel; bump setuptools to >=70.1
  pyproject.toml
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Update v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update deprecated license info in pyproject.toml (#2441)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pyproject.toml
Due: none

Revert "Update v0.12.1.rst"
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

list non-required param instead, units, formatting
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/pvsystem.py
Due: core

update names, remove duplicate entry
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

remove ivtools line. mistakenly added during merge branch?
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Update pvlib/pvsystem.py
  pvlib/pvsystem.py
Due: core

adjust test to match new API error message
  tests/iotools/test_solaranywhere.py
Due: remote-data

Drop `wheel` from build requirements; no longer needed as of setuptools 70.1 (#2439)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pyproject.toml
Due: none

Update expected response text in `get_solaranywhere` test (#2442)
  tests/iotools/test_solaranywhere.py
Due: remote-data

fixed default name for psm4 tmy
  pvlib/iotools/psm4.py
Due: remote-data

moved utc earlier
  pvlib/iotools/psm4.py
Due: remote-data

Change rst hyperlink target format
  docs/sphinx/source/whatsnew/v0.X.Y-example.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

replace time_period with time_step
  pvlib/iotools/psm4.py
Due: remote-data

replace 'names' with 'year'
  pvlib/iotools/psm4.py
Due: remote-data

fixed linting issue
  pvlib/iotools/psm4.py
Due: remote-data

Add optional arguments `temperature_ref` and `irradiance_ref` to `pvsystem.sapm` (#2434)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/pvsystem.py
Due: core

Add example whatsnew file (#2418)
  docs/sphinx/source/whatsnew/v0.X.Y-example.rst
Due: none

Update irradiance.py
  pvlib/irradiance.py
Due: core

update rg allen reference + linter
  pvlib/irradiance.py
Due: core

update tests
  tests/iotools/test_psm4.py
Due: remote-data

replace interval with time_step in test_psm4
  pvlib/iotools/psm4.py
  tests/iotools/test_psm4.py
Due: remote-data

replace attributes with parameters in test_psm4
  tests/iotools/test_psm4.py
Due: remote-data

remove alpha and asymmetry
  pvlib/iotools/psm4.py
  tests/data/test_psm4_2023.csv
  tests/data/test_psm4_2023_5min.csv
  tests/data/test_psm4_tmy-2023.csv
  tests/data/test_read_psm4.csv
Due: core, remote-data

add test for psm4 full disc
  tests/data/test_psm4_full_disc_2023.csv
  tests/iotools/test_psm4.py
Due: core, remote-data

rephrase description
  pvlib/irradiance.py
Due: core

add alpha and asymmetry back
  tests/data/test_read_psm4.csv
  tests/iotools/test_psm4.py
Due: core, remote-data

add alpha and asymmetry back to other test files
  tests/data/test_psm4_2023.csv
  tests/data/test_psm4_2023_5min.csv
  tests/data/test_psm4_tmy-2023.csv
Due: core

update param list (excl. param removed by #2433)
  pvlib/pvsystem.py
Due: core

add blank line for bullet list rendering
  pvlib/pvsystem.py
Due: core

separate C param
  pvlib/pvsystem.py
Due: core

Add NSRDB GOES v4 to iotools (#2378)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
  tests/conftest.py
  tests/data/test_psm4_2023.csv
  tests/data/test_psm4_2023_5min.csv
  tests/data/test_psm4_full_disc_2023.csv
  tests/data/test_psm4_tmy-2023.csv
  tests/data/test_read_psm4.csv
  tests/iotools/test_psm3.py
  tests/iotools/test_psm4.py
Due: core, remote-data

Update `get_extra_radiation` references (#2437)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/irradiance.py
Due: core

psm4: combine parse_ and read_ into one function
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
  tests/iotools/test_psm4.py
Due: remote-data

lint
  pvlib/iotools/psm4.py
Due: remote-data
