Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

expose max_rows, more get_irradiance tests
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

fix issue with horizontal array and large max_rows
  pvlib/bifacial/utils.py
  tests/bifacial/test_utils.py
Due: core

fix unshaded_ground_fraction for horizontal special case
  pvlib/bifacial/utils.py
  tests/bifacial/test_ants2d.py
  tests/bifacial/test_utils.py
Due: core

fix row->ground VF edge case
  pvlib/bifacial/utils.py
  tests/bifacial/test_ants2d.py
  tests/bifacial/test_utils.py
Due: core

switch default model from isotropic to perez
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

add hardcoded regression test
  tests/bifacial/test_ants2d.py
Due: core

alphabetize module imports
  pvlib/bifacial/__init__.py
Due: core

docstring work
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/utils.py
Due: core

utils functions: make height and pitch optional
  pvlib/bifacial/utils.py
Due: core

get infinite_sheds working again
  pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/utils.py
  tests/bifacial/test_infinite_sheds.py
  tests/bifacial/test_utils.py
Due: core

polishing
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/utils.py
  tests/bifacial/test_utils.py
Due: core

left interval to neg., calculate i_mp
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

relax tolerance for i_mp
  tests/test_singlediode.py
Due: core

docstring work
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

indent
  pvlib/singlediode.py
Due: core

Apply suggestions from code review
  pvlib/pvsystem.py
Due: core

return same object type that was input
  pvlib/pvsystem.py
Due: core

fix issue with scalars
  pvlib/pvsystem.py
Due: core

another fix
  pvlib/pvsystem.py
Due: core

add tests
  tests/test_pvsystem.py
Due: core

function, tests, whatsnew, docs
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/merra2.py
  tests/conftest.py
  tests/iotools/test_merra2.py
Due: core, remote-data

increase test coverage
  tests/test_pvsystem.py
Due: core

lint
  pvlib/iotools/merra2.py
  tests/iotools/test_merra2.py
Due: remote-data

simplify tz handling
  pvlib/iotools/merra2.py
Due: remote-data

make new earthdata secrets accessible to tests
  .github/workflows/pytest-remote-data.yml
Due: none

more test coverage
  tests/test_pvsystem.py
Due: core

fix shallow copy issue
  pvlib/pvsystem.py
Due: core

Update pvlib/pvsystem.py
  pvlib/pvsystem.py
Due: core

update whatsnew
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

reorganize to clean it up
  pvlib/pvsystem.py
Due: core

function, docs, tests
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/ecmwf.py
  tests/conftest.py
  tests/iotools/test_ecmwf.py
Due: core, remote-data

make api key secret accessible to tests
  .github/workflows/pytest-remote-data.yml
Due: none

bit more docs
  pvlib/iotools/ecmwf.py
Due: remote-data

handle another API error
  pvlib/iotools/ecmwf.py
Due: remote-data

lint
  pvlib/iotools/ecmwf.py
Due: remote-data

Add ECMWF CDS and EarthData API keys to `pytest-remote-data.yml`
  .github/workflows/pytest-remote-data.yml
Due: none

add test for tz-aware inputs
  tests/iotools/test_merra2.py
Due: remote-data

Add ECMWF CDS and EarthData API keys to `pytest-remote-data.yml` (#2574)
  .github/workflows/pytest-remote-data.yml
Due: none

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
