Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Add whatsnew and init entry
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/iotools/__init__.py
Due: remote-data

Added description, issue number, git hub user in the whats new of version 0.11.0
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Issue #1697 Remove the function and all its reference poa_horizontal_ratio. (#2021)
  docs/sphinx/source/reference/irradiance/components.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/tutorials/irradiance.ipynb
  pvlib/irradiance.py
Due: core

Update docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
Due: none

Shaded Fraction on Sloped Terrains - PR1725 partial continuation (#1962)
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
  docs/sphinx/source/_images/Anderson_Jensen_2024_Fig3.png
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Update test_spectrum.py
  pvlib/tests/test_spectrum.py
Due: core

Update test_tools.py
  pvlib/tests/test_tools.py
Due: core

Units formatting
  pvlib/spectrum/mismatch.py
Due: core

Links
  pvlib/spectrum/mismatch.py
Due: core

I'm obsessed with math mode
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Implement reviewer comments
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  pvlib/modelchain.py
Due: core

par shading factor dev commit - to revert
  PAR_direct_and_diffuse_sfs.py
Due: none

Remove deprecated basic_chain method (#1862)
  docs/sphinx/source/reference/modelchain.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  pvlib/modelchain.py
  pvlib/tests/test_modelchain.py
Due: core

Update PAR_direct_and_diffuse_sfs.py
  PAR_direct_and_diffuse_sfs.py
Due: none

Remove second section of the example
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  pvlib/pvsystem.py
Due: core

Minor text upgrade
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
Due: none

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

Example
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/sphinx/source/_images/PV_module_layout_cesardd.jpg
Due: none

Fix whatsmes
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/shading.py
Due: core

Update v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

other img
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/sphinx/source/_images/Centralized_and_split_PV_junction_boxes_cesardd.jpg
Due: none

lintarrrrrr :sob:
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

docs
  docs/examples/shading/plot_martinez_shade_loss.py
  pvlib/shading.py
Due: core

docs refurbishment
  docs/examples/shading/plot_martinez_shade_loss.py
  pvlib/shading.py
Due: core

Update plot_martinez_shade_loss.py
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Create test_pelland.py
  pvlib/tests/test_pelland.py
Due: core

new spectral factor
  pvlib/tests/test_pelland.py
Due: core

Port to namespace `pvlib.bifacial`
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/sphinx/source/reference/effects_on_pv_system_output/loss-models.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/bifacial/__init__.py
  pvlib/bifacial/losses_models.py
  pvlib/pvsystem.py
  pvlib/tests/bifacial/test_losses_models.py
  pvlib/tests/test_pvsystem.py
Due: core

Rename to ``power_mismatch_deline``, document in ``bifacial.rst``
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/sphinx/source/reference/bifacial.rst
  docs/sphinx/source/reference/effects_on_pv_system_output/loss-models.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/bifacial/__init__.py
  pvlib/bifacial/losses_models.py
  pvlib/tests/bifacial/test_losses_models.py
Due: core

fillfactor only for predefined models
  pvlib/bifacial/losses_models.py
  pvlib/tests/bifacial/test_losses_models.py
Due: core

Docstring rewording
  pvlib/bifacial/losses_models.py
Due: core

Linter
  pvlib/bifacial/losses_models.py
  pvlib/pvsystem.py
Due: core

More docs rewording
  pvlib/bifacial/losses_models.py
Due: core

Update docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Units
  pvlib/spectrum/mismatch.py
Due: core

Move to ``irradiance.py``
  docs/examples/agrivoltaics/plot_diffuse_PAR_Spitters_relationship.py
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/reference/irradiance/components.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/irradiance.py
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_irradiance.py
  pvlib/tests/test_spectrum.py
Due: core

Flake8 :knife:
  docs/examples/agrivoltaics/plot_diffuse_PAR_Spitters_relationship.py
  pvlib/spectrum/mismatch.py
Due: core

Coverage CI fix
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Unit formatting, forgot this
  pvlib/spectrum/mismatch.py
Due: core
