Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

fix and whatsnew (#2468)
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Initial commit
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Fix tests, whatsnew, linter
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

remove default values for `year`
  pvlib/iotools/psm4.py
Due: remote-data

Feedback from review
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
  pvlib/iotools/pvgis.py
Due: remote-data

Standardize pvgis_tmy to return (data,meta) (#2470)
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

get rid of `year = str(year)`
  pvlib/iotools/psm4.py
Due: remote-data

Change freq M to MS
  pvlib/iotools/bsrn.py
  pvlib/iotools/srml.py
  tests/test_clearsky.py
Due: core, remote-data

Use MS for test_clearsky
  tests/test_clearsky.py
Due: core

PSM4 `get_` functions: remove default values for `year` (#2471)
  pvlib/iotools/psm4.py
Due: remote-data

Change get_pvgis_tmy coerce_year default to 1990
  pvlib/iotools/pvgis.py
Due: remote-data

Update tests
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Add whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
  tests/iotools/test_pvgis.py
Due: remote-data

Specific testing of default coerce_year value
  tests/iotools/test_pvgis.py
Due: remote-data

Apply suggestions from code review
  pvlib/iotools/pvgis.py
Due: remote-data

Update pvlib/iotools/pvgis.py
  pvlib/iotools/pvgis.py
Due: remote-data

Change to start.date().replace(day=1)
  pvlib/iotools/bsrn.py
  pvlib/iotools/srml.py
Due: remote-data

Change get_pvgis_tmy coerce_year default to 1990 (#2474)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Fix linter
  pvlib/iotools/bsrn.py
Due: remote-data

Change freq M to MS (#2473)
  pvlib/iotools/bsrn.py
  pvlib/iotools/srml.py
  tests/test_clearsky.py
Due: core, remote-data

rename to 0.13.0, general cleanup
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.13.0.rst
Due: none

add missing contributors
  docs/sphinx/source/whatsnew/v0.13.0.rst
Due: none

a couple more 0.12.1->0.13.0 renames
  pvlib/iotools/psm3.py
  pvlib/iotools/sodapro.py
Due: remote-data

move scheduled deprecations from 0.13 to 0.14
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

move scheduled deprecations from 0.13 to 0.14 (#2475)
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Change release date
  docs/sphinx/source/whatsnew/v0.13.0.rst
Due: none

Finalize v0.13.0 (#2476)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.13.0.rst
  pvlib/iotools/psm3.py
  pvlib/iotools/sodapro.py
Due: remote-data

create v0.13.1 whatsnew file
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Create empty whatsnew file for next release (v0.13.1) (#2477)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Rename solar position inputs in tracking.singleaxis
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/examples/solar-tracking/plot_single_axis_tracking.py
  docs/examples/solar-tracking/plot_single_axis_tracking_on_sloped_terrain.py
  pvlib/tracking.py
Due: core

Update v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Update pvfactors.py
  pvlib/bifacial/pvfactors.py
Due: core

Update _fit_desoto_pvsyst_sandia.py
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
Due: core

"Improve pvlib.tracking.singleaxis docstring #2314 added by rached"
  pvlib/tracking.py
Due: core

Outdated NSRDB PSM3 documentation link returns 404 Not Found
  pvlib/iotools/psm3.py
Due: remote-data

docs: update solar angle definitions in nomenclature
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  example.py
Due: none

Enhance Huld model with EU JRC coefficients
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

Refactor Huld model tests for EU JRC coefficients
  tests/test_pvarray.py
Due: core

Add test script for solar angle calculations (Issue #2448)
  test_solar_angles.py
Due: none

Remove test_solar_angles.py and integrate its functionality into tests/test_solarposition.py
  test_solar_angles.py
  tests/test_solarposition.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
