Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

delete psm3.py and test_psm3.py
  pvlib/iotools/psm3.py
  tests/iotools/test_psm3.py
Due: remote-data

update references across the docs
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/user_guide/extras/faq.rst
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.13.0.rst
  docs/sphinx/source/whatsnew/v0.7.0.rst
  docs/sphinx/source/whatsnew/v0.7.1.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  docs/sphinx/source/whatsnew/v0.8.1.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

fix line legth linter error
  tests/spectrum/test_mismatch.py
Due: core

fix tests
  tests/iotools/test_meteonorm.py
Due: remote-data

Update test_mismatch.py
  tests/spectrum/test_mismatch.py
Due: core

fix tests (#2583)
  tests/iotools/test_meteonorm.py
Due: remote-data

fix test bug
  tests/iotools/test_era5.py
Due: remote-data

add modules_per_string to adr_inverter test system (#2577)
  tests/test_modelchain.py
Due: core

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

shorten string in test system
  tests/test_modelchain.py
Due: core

changes from review
  docs/sphinx/source/reference/pv_modeling/sdm.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/singlediode.py
  tests/test_singlediode.py
Due: core

Update docs/sphinx/source/whatsnew/v0.13.2.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Amend sky_diffuse_passias docstring and plot_passias_diffuse_shading (#2584)
  docs/examples/shading/plot_passias_diffuse_shading.py
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/shading.py
Due: core

Remove `psm3.py` (#2582)
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/user_guide/extras/faq.rst
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.13.0.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  docs/sphinx/source/whatsnew/v0.7.0.rst
  docs/sphinx/source/whatsnew/v0.7.1.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  docs/sphinx/source/whatsnew/v0.8.1.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm3.py
  pvlib/iotools/psm4.py
  tests/iotools/test_psm3.py
Due: remote-data

add tests for HTTPError on bad inputs
  tests/iotools/test_merra2.py
Due: remote-data

Use chandrupatla to find MPP in lambertw method (#2571)
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/pvsystem.py
  pvlib/singlediode.py
  tests/test_modelchain.py
  tests/test_singlediode.py
Due: core

Add Batzelis 2017 simple nonlinear PV model (#2563)
  docs/sphinx/source/reference/pv_modeling/sdm.rst
  docs/sphinx/source/reference/pv_modeling/system_models.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/ivtools/sdm/__init__.py
  pvlib/ivtools/sdm/desoto.py
  pvlib/pvarray.py
  pvlib/singlediode.py
  tests/ivtools/sdm/test_desoto.py
  tests/test_pvarray.py
  tests/test_singlediode.py
Due: core

Add function for accessing ERA5 (#2573)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/era5.py
  tests/conftest.py
  tests/iotools/test_era5.py
Due: core, remote-data

add python 3.14 to test matrix
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  ci/requirements-py3.14.yml
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

nix numba
  ci/requirements-py3.14.yml
Due: none

nix pysam
  ci/requirements-py3.14.yml
Due: none

create temperature user guide page
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

Prevent atmos_refract docstring typo regression
  tests/test_solarposition.py
  tests/test_spa.py
Due: core

Fix atmos_refract parameter name typo in docstrings
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/solarposition.py
  pvlib/spa.py
Due: core

Break long lines up in test files
  tests/test_solarposition.py
  tests/test_spa.py
Due: core

Revert "Break long lines up in test files"
  tests/test_solarposition.py
  tests/test_spa.py
Due: core

Revert "Prevent atmos_refract docstring typo regression"
  tests/test_solarposition.py
  tests/test_spa.py
Due: core

Add PR number and contributer name to whatsnew
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Move top ranking script to .github/workflows
  .github/workflows/top-ranked-issues.yml
  .github/workflows/update_top_ranking_issues.py
Due: none

Fix broken user guide references
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/extras/faq.rst
  docs/sphinx/source/user_guide/getting_started/package_overview.rst
Due: none

Fix all broken documentation links from linkchecker
  docs/sphinx/source/contributing/introduction_to_contributing.rst
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/whatsnew/v0.1.0.txt
  docs/sphinx/source/whatsnew/v0.12.0.rst
  docs/sphinx/source/whatsnew/v0.6.0.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
  docs/sphinx/source/whatsnew/v0.7.1.rst
  docs/sphinx/source/whatsnew/v0.7.2.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  docs/sphinx/source/whatsnew/v0.8.1.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.3.rst
  docs/sphinx/source/whatsnew/v0.9.4.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
  pvlib/clearsky.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/solaranywhere.py
  pvlib/iotools/tmy.py
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/mismatch.py
  tests/iotools/test_pvgis.py
Due: core, remote-data

Update GitHub usernames to current handles
  docs/sphinx/source/whatsnew/v0.12.0.rst
  docs/sphinx/source/whatsnew/v0.6.0.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
  docs/sphinx/source/whatsnew/v0.7.1.rst
  docs/sphinx/source/whatsnew/v0.7.2.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  docs/sphinx/source/whatsnew/v0.8.1.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.3.rst
  docs/sphinx/source/whatsnew/v0.9.4.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
Due: none

Remove invalid johnMoseleyArray GitHub username
  docs/sphinx/source/whatsnew/v0.9.5.rst
Due: none

Improve documentation links with DOIs and updated URLs
  docs/sphinx/source/conf.py
  docs/sphinx/source/contributing/how_to_contribute_new_code.rst
  docs/sphinx/source/whatsnew/v0.1.0.txt
  pvlib/clearsky.py
  pvlib/iotools/solaranywhere.py
  pvlib/iotools/tmy.py
  pvlib/spectrum/mismatch.py
Due: core, remote-data

Fix reference formatting to comply with IEEE style guide
  pvlib/clearsky.py
  pvlib/spectrum/mismatch.py
Due: core

add marion's adjustment to pvwatts_dc (#2569)
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Remove `scripts` from source code distribution (#2593)
  .github/workflows/top-ranked-issues.yml
  .github/workflows/update_top_ranking_issues.py
Due: none

Bugfix/atmos refract typo (#2592)
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/solarposition.py
  pvlib/spa.py
Due: core
