Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

NREL mismatch loss addendum (#2147)
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/bifacial/loss_models.py
Due: core

Update test_irradiance.py
  pvlib/tests/spectrum/test_irradiance.py
Due: core

Update irradiance.py
  pvlib/spectrum/irradiance.py
Due: core

mixed up my lambdas and gammas:(
  pvlib/spectrum/irradiance.py
Due: core

change variable name spectral_irr -> spectrum
  pvlib/spectrum/irradiance.py
Due: core

update variable name in docstring + error messages
  pvlib/spectrum/irradiance.py
Due: core

minor adjustment to test_clearsky
  pvlib/tests/test_clearsky.py
Due: core

undo edit to get_solrad
  pvlib/iotools/solrad.py
Due: remote-data

Apply suggestions from code review
  pvlib/spectrum/irradiance.py
Due: core

Update variables_style_rules.csv
  pvlib/data/variables_style_rules.csv
Due: core

Update v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

clarify input tmy_data is UTC...
  pvlib/iotools/pvgis.py
Due: remote-data

fix flake8 in _coerce_and_roll_tmy
  pvlib/iotools/pvgis.py
Due: remote-data

Update plot_oedi_9068.py
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Update pvlib/tests/test_solarposition.py
  pvlib/tests/test_solarposition.py
Due: core

Update hour_angle docstring
  pvlib/solarposition.py
Due: core

Update pvlib/solarposition.py
  pvlib/solarposition.py
Due: core

preliminary michalsky implementation
  pvlib/solarposition.py
Due: core

Update test_mismatch.py
  pvlib/tests/spectrum/test_mismatch.py
Due: core

update output datatype and associated tests
  pvlib/spectrum/irradiance.py
  pvlib/tests/spectrum/test_irradiance.py
Due: core

Update docs/sphinx/source/whatsnew/v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Create function to calculate average photon energy (#2140)
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/spectrum/test_irradiance.py
Due: core

Update docs/examples/irradiance-transposition/use_perez_modelchain.py
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

broke up large code block
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

Perez coeff ModelChain example (#2148)
  docs/examples/irradiance-transposition/use_perez_modelchain.py
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none
