Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Typo in plot_oedi_9068.py (#1996)
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/conf.py
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

handle NaN, add note about regression method, use temp_module
  pvlib/pvarray.py
  pvlib/tests/test_pvarray.py
Due: core

forgot to save
  pvlib/tests/test_pvarray.py
Due: core

lint
  pvlib/pvarray.py
  pvlib/tests/test_pvarray.py
Due: core

Fix tests
  pvlib/tests/test_shading.py
Due: core

Update tests and docstring
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Update test_shading.py
  pvlib/tests/test_shading.py
Due: core

Update docs
  pvlib/shading.py
Due: core

Update shading.py
  pvlib/shading.py
Due: core

whatsnews
  docs/sphinx/source/whatsnew/v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Little improvement to table definitions
  pvlib/shading.py
Due: core

Add docstring examples
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Implement all for spectrum.get_ASTM_G173
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  pvlib/data/ASTMG173.csv
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Full implementation
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  pvlib/data/ASTMG173.csv
  pvlib/data/astm_g173_am15g.csv
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Update midc VARIABLE_MAP
  pvlib/iotools/midc.py
Due: remote-data

:bulb: Add references, improve docs [still missing ref of eq.]
  pvlib/shading.py
Due: core

Update test_singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

Linter :wrench:
  pvlib/tests/test_singlediode.py
Due: core

Change approach completely. Now we are mocking. :construction_worker:
  pvlib/tests/test_singlediode.py
Due: core

Thanks ruff for the formatting :green_heart:
  pvlib/tests/test_singlediode.py
Due: core

Minor updates to docs
  pvlib/spectrum/mismatch.py
Due: core

Add print statements to examples
  pvlib/spectrum/mismatch.py
Due: core

Remove link to outdate tutorials
  docs/sphinx/source/user_guide/package_overview.rst
Due: none

Add example from my other branch
  docs/examples/spectrum/plot_standard_ASTM_G173-03.py
Due: none

Update link to min version requirements
  docs/sphinx/source/user_guide/installation.rst
Due: none

Update additional pvlib publications
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/comparison_pvlib_matlab.rst
Due: none

Use DOI sphinx role
  docs/sphinx/source/index.rst
Due: none

Remove correct tutorial link
  docs/sphinx/source/user_guide/installation.rst
  docs/sphinx/source/user_guide/package_overview.rst
Due: none

Update formatting of additional pvlib publications (#2011)
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/comparison_pvlib_matlab.rst
Due: none

Apply suggestions from code review (Adam)
  pvlib/shading.py
Due: core

More code review from Adam, just deletes extra spaces before suggestion
  pvlib/shading.py
Due: core

Change `l` to `\ell`
  pvlib/shading.py
Due: core

`pvlib.tracking.projected_solar_zenith_angle` to `pvlib.shading.projected_solar_zenith_angle`
  pvlib/shading.py
Due: core

pitch references to `pitch`
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

`trackers_axis_azimuth` to `axis_azimuth`
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Fix Windows/Conda CI error in test_singlediode.py (#2007)
  pvlib/tests/test_singlediode.py
Due: core

Update v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Change `tilt`s to `rotation`s and add `axis_tilt`
  pvlib/shading.py
Due: core
