Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Rename to 'Tutorials'
  docs/tutorials/README.rst
Due: none

Create tmy_and_diffuse_irrad_models.py
  docs/tutorials/tmy_and_diffuse_irrad_models.py
Due: none

Update whatsnew entries
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Create tmy_to_power.py
  docs/tutorials/tmy_to_power.py
Due: none

Create tmy.py
  docs/tutorials/tmy.py
Due: none

Create tracking.py
  docs/tutorials/tracking.py
Due: none

Fix atmosphere.py
  docs/tutorials/atmosphere.py
  docs/tutorials/solarposition.py
Due: none

Remove dependency inside tracking.py
  docs/tutorials/tracking.py
Due: none

Update unordered lists
  docs/tutorials/atmosphere.py
  docs/tutorials/solarposition.py
  docs/tutorials/tmy.py
  docs/tutorials/tmy_to_power.py
  docs/tutorials/tracking.py
Due: none

Rendering updates
  docs/tutorials/atmosphere.py
  docs/tutorials/irradiance.py
  docs/tutorials/pvsystem.py
  docs/tutorials/solarposition.py
  docs/tutorials/tmy.py
  docs/tutorials/tmy_and_diffuse_irrad_models.py
  docs/tutorials/tmy_to_power.py
  docs/tutorials/tracking.py
Due: none

_prepare_newton_inputs only changes shape of x0; refactoring to remove singlediode._get_size_and_shape
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

remove _shape_of_max_size, np.broadcast_shapes handles this
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

np.broadcast_shapes not available for Python 3.7 conda -min
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

Make linter edits
  docs/examples/reflections/plot_convert_iam_models.py
  pvlib/iam.py
Due: core

Fix irradiance?
  docs/tutorials/irradiance.py
Due: none

Update irradiance.py
  pvlib/irradiance.py
Due: core

Align reference
  pvlib/spectrum/mismatch.py
Due: core

Docstring experiment
  pvlib/iam.py
Due: core

Added tests
  pvlib/tests/test_iam.py
Due: core

More linter edits
  pvlib/tests/test_iam.py
Due: core

Remove parenthesis in types
  pvlib/irradiance.py
  pvlib/pvsystem.py
Due: core

Remove none in type definition #1574
  pvlib/clearsky.py
  pvlib/iam.py
  pvlib/iotools/epw.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/tmy.py
  pvlib/irradiance.py
  pvlib/ivtools/sde.py
  pvlib/ivtools/sdm.py
  pvlib/ivtools/utils.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/scaling.py
  pvlib/soiling.py
  pvlib/solarposition.py
Due: core, remote-data

Change if none ocurrences (I)
  pvlib/iotools/sodapro.py
  pvlib/irradiance.py
  pvlib/ivtools/utils.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/solarposition.py
  pvlib/temperature.py
Due: core, remote-data

Change if none ocurrences (II)
  pvlib/clearsky.py
  pvlib/pvsystem.py
Due: core

Too long line
  pvlib/clearsky.py
Due: core

Too long line
  pvlib/iotools/sodapro.py
Due: remote-data

Add print statements to raw timeits
  docs/tutorials/irradiance.py
Due: none

Remove some kind of TODO...
  docs/tutorials/pvsystem.py
Due: none

Docstrings and linter edits
  docs/examples/reflections/plot_convert_iam_models.py
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

Docstrings and linter
  docs/examples/reflections/plot_convert_iam_models.py
  pvlib/iam.py
Due: core

LINTER
  docs/examples/reflections/plot_convert_iam_models.py
Due: none

Improve `schlick_diffuse` docstring (#1812)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/iam.py
Due: core

Docstrings edit
  pvlib/iam.py
Due: core

Added more tests
  pvlib/tests/test_iam.py
Due: core

Annihilate spaces
  pvlib/tests/test_iam.py
Due: core

Update docs/sphinx/source/whatsnew/v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Spacing
  pvlib/iam.py
Due: core

Make interp method available for modelchain
  pvlib/iam.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/tests/test_modelchain.py
Due: core

Update test_pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Update v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none
