Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

First draft of new erbs_driesse function together with test.
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Update reference and whatsnew for docs. Minor improvements.
  docs/sphinx/source/reference/irradiance/decomposition.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Update pvlib/iotools/panond.py
  pvlib/iotools/panond.py
Due: remote-data

Adressing some github comments
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

Addressing github comments pt.2
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

github comments pt.3
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

flake8 formatting
  pvlib/iotools/panond.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Apply Kevin's suggestions
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/tests/test_modelchain.py
  pvlib/tests/test_pvsystem.py
Due: core

Apply Kevin's suggestions
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Update test_modelchain.py
  pvlib/tests/test_modelchain.py
Due: core

Fix example in docstring pvsystem.py (#1833)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/pvsystem.py
Due: core

Flake8 formatting
  pvlib/iotools/__init__.py
Due: remote-data

Deal with minor grievances from Kevin and Flake8.
  pvlib/irradiance.py
Due: core

Delete "new" and update "whatsnew".
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/irradiance.py
Due: core

Fix misleading documentation for surface_azimuth
  pvlib/iotools/pvgis.py
Due: remote-data

Changed default weight function
  pvlib/iam.py
Due: core

Silence numpy warning
  pvlib/iam.py
Due: core

Add docs change to v0.10.2
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Update snow events definition for Townsend model
  pvlib/snow.py
Due: core

Fix incorrect description of surface_azimuth parameter in get_pvgis_hourly (#1838)
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/iotools/pvgis.py
Due: remote-data

Update whatsnew
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Updating tests to work with new default
  pvlib/iam.py
  pvlib/tests/test_iam.py
Due: core

Forgot a comment
  pvlib/tests/test_iam.py
Due: core

Return dict contains scalars now, instead of arrays
  pvlib/iam.py
Due: core

Adding option to not fix n
  pvlib/iam.py
Due: core

Adding straggler tests
  pvlib/tests/test_iam.py
Due: core

Removing examples specific to old default weight function
  docs/examples/reflections/plot_convert_iam_models.py
Due: none

Linter nitpicks
  pvlib/tests/test_iam.py
Due: core

Update docstrings
  pvlib/iam.py
Due: core

Experimenting with example
  docs/examples/reflections/plot_convert_iam_models.py
Due: none

Adjusting figure size
  docs/examples/reflections/plot_convert_iam_models.py
Due: none

Add note on origin of new definition
  pvlib/snow.py
Due: core

Edit gallery example
  docs/examples/reflections/plot_convert_iam_models.py
Due: none

Fixing bounds
  pvlib/iam.py
Due: core

Linter
  docs/examples/reflections/plot_convert_iam_models.py
Due: none
