Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

try out solarfactors
  setup.py
Due: none

use solarfactosr in conda env files too
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
Due: none

Update get functions
  pvlib/iotools/bsrn.py
  pvlib/iotools/midc.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/iotools/srml.py
Due: remote-data

Update pvgis.py
  pvlib/iotools/pvgis.py
Due: remote-data

Update whatsnew and add get_cams
  docs/sphinx/source/whatsnew/v0.10.1.rst
  pvlib/iotools/sodapro.py
Due: remote-data

docs and whatsnew
  docs/sphinx/source/conf.py
  docs/sphinx/source/user_guide/bifacial.rst
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.1.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/bifacial/pvfactors.py
Due: core

More documentation
  docs/examples/bifacial/plot_bifi_model_mc.py
  docs/examples/bifacial/plot_bifi_model_pvwatts.py
  docs/examples/bifacial/plot_pvfactors_fixed_tilt.py
  pvlib/bifacial/pvfactors.py
Due: core

reword for clarity; add a bit of "why"
  docs/sphinx/source/user_guide/bifacial.rst
Due: none

Replace `pvfactors` with `solarfactors` (#1797)
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  docs/examples/bifacial/plot_bifi_model_mc.py
  docs/examples/bifacial/plot_bifi_model_pvwatts.py
  docs/examples/bifacial/plot_pvfactors_fixed_tilt.py
  docs/sphinx/source/conf.py
  docs/sphinx/source/user_guide/bifacial.rst
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.1.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  pvlib/bifacial/pvfactors.py
  setup.py
Due: core

Update whatsnews
  docs/sphinx/source/whatsnew/v0.10.1.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

create lint issues to try out the new linter
  pvlib/iam.py
  pvlib/snow.py
Due: core

Revert "create lint issues to try out the new linter"
  pvlib/iam.py
  pvlib/snow.py
Due: core

create a lint issue in a file with other lint issues
  pvlib/tests/test_clearsky.py
Due: core

Update v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

Add metadata verification to publish.yml
  .github/workflows/publish.yml
Due: none

Add twine to build tools
  .github/workflows/publish.yml
Due: none

code review
  .github/workflows/publish.yml
  setup.py
Due: none

Added system degradation rate to example
  docs/examples/financial/lcoe_sam_validation.py
Due: none

Added example
  docs/examples/iv-modeling/plot_mismatch.py
Due: none

Delete v0.9.6.rst
  docs/sphinx/source/whatsnew/v0.9.6.rst
Due: none

Updated whatsnew v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

use flake8 --diff with flake8 5.0.4
  .github/workflows/flake8.yml
Due: none

call to git fetch
  .github/workflows/flake8.yml
Due: none

use GITHUB_TOKEN for fetching
  .github/workflows/flake8.yml
Due: none

pan ond reader
  pvlib/iotools/panond.py
Due: remote-data

pan ond reader
  pvlib/iotools/__init__.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

set repository read permission
  .github/workflows/flake8.yml
Due: none

try using https link to repo instead of ssh
  .github/workflows/flake8.yml
Due: none

test if GITHUB_TOKEN permissions are not needed
  .github/workflows/flake8.yml
Due: none

add temporary example of linting annotations
  pvlib/singlediode.py
  pvlib/tests/test_clearsky.py
Due: core

Adressing stickler comments
  pvlib/iotools/panond.py
  pvlib/iotools/pvsyst.py
Due: remote-data

Added whatsnew documentation
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Corrected formatting
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

More info in nested levels
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

Added Comments
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

Updated testing script
  pvlib/data/CPS SCH275KTL-DO-US-800-250kW_275kVA_1.OND
  pvlib/data/ET-M772BH550GL.PAN
  pvlib/tests/iotools/test_pvsyst.py
Due: core, remote-data

addressing stickler comments
  pvlib/iotools/panond.py
  pvlib/tests/iotools/test_panond.py
Due: remote-data

stickler comments v3
  pvlib/iotools/panond.py
Due: remote-data

stickler comment correction
  pvlib/iotools/panond.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
