Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

move metadata parsing out of context manager
  pvlib/iotools/psm4.py
Due: remote-data

fix see also
  pvlib/iotools/psm4.py
Due: remote-data

make and test reusable function in pvlib.tools
  pvlib/iotools/psm4.py
  pvlib/tools.py
  tests/test_tools.py
Due: core, remote-data

lint
  pvlib/tools.py
  tests/test_tools.py
Due: core

split up iotools ref page by data provider/source
  docs/sphinx/source/reference/iotools.rst
Due: none

Make `i_x` and `i_xx` SAPM parameters optional (#2433)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/modelchain.py
  pvlib/pvsystem.py
  tests/test_modelchain.py
  tests/test_pvsystem.py
Due: core

Clarify which SAPM parameters are required by `module` in `pvsystem.sapm` (#2435)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/pvsystem.py
Due: core

Update irradiance.py
  pvlib/irradiance.py
Due: core

remove unintended 'optional' for solar_zenith
  pvlib/irradiance.py
Due: core

add ghi
  pvlib/irradiance.py
Due: core

more untis
  pvlib/irradiance.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/psm4.py
Due: remote-data

get rid of `diffuse_fraction`
  pvlib/bifacial/infinite_sheds.py
Due: core

adjust test
  tests/bifacial/test_infinite_sheds.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

lint
  tests/bifacial/test_infinite_sheds.py
Due: core

Remove `diffuse_fraction` calculation from `infinite_sheds` (#2451)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/bifacial/infinite_sheds.py
  tests/bifacial/test_infinite_sheds.py
Due: core

Combine `read_nsrdb_psm4` and `parse_nsrdb_psm4` (#2445)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
  pvlib/tools.py
  tests/iotools/test_psm4.py
  tests/test_tools.py
Due: core, remote-data

cleanup
  pvlib/pvsystem.py
  pvlib/temperature.py
  tests/test_pvsystem.py
Due: core

bit more cleanup
  pvlib/pvsystem.py
  pvlib/temperature.py
Due: core

Add `semi_integrated` parameters for PVsyst temperature model (#2415)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/pvsystem.py
  pvlib/temperature.py
  tests/test_pvsystem.py
Due: core

Fix typos
  docs/sphinx/source/user_guide/modeling_topics/bifacial.rst
  docs/sphinx/source/user_guide/modeling_topics/modelchain.rst
  docs/sphinx/source/user_guide/modeling_topics/pvsystem.rst
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
  pvlib/iotools/bsrn.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/solarposition.py
  pvlib/spa_c_files/README.md
Due: core, remote-data

Add omahs as contributor
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Fix typos (#2454)
  docs/sphinx/source/user_guide/modeling_topics/bifacial.rst
  docs/sphinx/source/user_guide/modeling_topics/modelchain.rst
  docs/sphinx/source/user_guide/modeling_topics/pvsystem.rst
  docs/sphinx/source/user_guide/modeling_topics/weather_data.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/bsrn.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/solarposition.py
  pvlib/spa_c_files/README.md
Due: core, remote-data

Update CAMS documentation
  pvlib/iotools/sodapro.py
Due: remote-data

Update v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Move gridded dataset description to notes
  pvlib/iotools/sodapro.py
Due: remote-data

Fix whatsnew entry
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

FIx previous whatsnew entry
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Add Marion to Whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

deprecate parse_psm3
  pvlib/iotools/psm3.py
  tests/iotools/test_psm3.py
Due: remote-data

deprecate parse_cams
  pvlib/iotools/sodapro.py
  tests/iotools/test_sodapro.py
Due: remote-data

lint
  pvlib/iotools/sodapro.py
Due: remote-data

Add agrivPV gallery example
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
  docs/sphinx/source/_images/agrivoltaics_system.jpg
Due: none

Fix rendering
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
