Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

update docstring for linear shade loss
  pvlib/shading.py
Due: core

shaded fraction consistently
  pvlib/shading.py
Due: core

fix trailing whitespace
  pvlib/tests/test_tracking.py
Due: core

add figure and formulas to shaded fraction
  docs/sphinx/source/_images/FSLR_irrad_shade_loss_slope_terrain.png
  pvlib/shading.py
Due: core

Linter
  pvlib/shading.py
Due: core

Linter
  pvlib/tests/test_shading.py
Due: core

Update implementation based on PSZ PR. See description.
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Update according to changes at PSZA PR
  pvlib/shading.py
Due: core

Clear things, convert Mark's reference to a reference
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Add alternative text to image
  pvlib/shading.py
Due: core

Whatsnew entries
  docs/sphinx/source/whatsnew/v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.9.6.rst
Due: none

Another commit, another try
  pvlib/shading.py
Due: core

Ahhh, I rebased too fast
  pvlib/shading.py
Due: core

whatsnews
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Update v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Update v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Address reviewer comments
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/iotools/solargis.py
  pvlib/tests/iotools/test_solargis.py
  pyproject.toml
Due: remote-data

Fix test issues
  pvlib/iotools/solargis.py
  pvlib/tests/iotools/test_solargis.py
Due: remote-data

Update pandas version in ci/requirements*.yml
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.7-min.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
Due: none

Update test_solcast.py
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

Advance numpy requirement
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.7-min.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pyproject.toml
Due: none

Update test_inconsistent_array_params and test_temperature_model_not_specified with the correct error message from infer_tempertaure_model
  pvlib/tests/test_modelchain.py
Due: core

Fix error message modelchain.infer_temperature_model error to be more informative (#1977)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/modelchain.py
  pvlib/tests/test_modelchain.py
Due: core

Add get_solargis iotools function (#1969)
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.7-min.yml
  ci/requirements-py3.7.yml
  ci/requirements-py3.8.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/solargis.py
  pvlib/iotools/solcast.py
  pvlib/tests/iotools/test_solargis.py
  pvlib/tests/iotools/test_solcast.py
  pyproject.toml
Due: remote-data

asv: bump minimum numpy and pandas versions
  benchmarks/asv.conf.json
Due: none

try numpy 1.17.5?
  benchmarks/asv.conf.json
Due: none

Update test_srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Remove read_srml_month_from_solardat
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Set leap_day=True
  pvlib/iotools/psm3.py
  pvlib/tests/iotools/test_psm3.py
Due: remote-data

ASV: bump numpy and pandas versions to match new requirements (#1987)
  benchmarks/asv.conf.json
Due: none

Update SRML test url and re-enable tests (#1988)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/tests/iotools/test_srml.py
Due: remote-data

updates from review
  docs/examples/system-models/plot_oedi_9068.py
Due: none

Simplify and future-proof numba import in spa.py (#1944)
  pvlib/spa.py
  pvlib/tests/conftest.py
  pvlib/tests/test_spa.py
  pyproject.toml
  setup.py
Due: core

Rename to `shaded_fraction1d`, change params to `surface_*` instead of `tracker_*`
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Left this tracker refs behind
  pvlib/shading.py
Due: core

Change rename in rst entries
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
Due: none

Add another testcase
  pvlib/tests/test_shading.py
Due: core

Improve docs references, clarify nomenclature
  docs/sphinx/source/_images/Anderson_Mikofski_2020_Fig9.png
  docs/sphinx/source/_images/FSLR_irrad_shade_loss_slope_terrain.png
  pvlib/shading.py
Due: core

Update test_shading.py
  pvlib/tests/test_shading.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
