Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Apply suggestions from @AdamRJensen CR
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
  docs/examples/spectrum/average_photon_energy.py
  docs/tutorials/tmy_to_power.ipynb
  pvlib/bifacial/infinite_sheds.py
  pvlib/clearsky.py
  pvlib/inverter.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/snow.py
  pvlib/spa_c_files/README.md
  pvlib/spectrum/mismatch.py
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

Address wholmgren's review on PR #2705
  .github/workflows/pytest-remote-data.yml
  docs/sphinx/source/whatsnew/v0.15.1.rst
  tests/conftest.py
  tests/iotools/test_psm4.py
Due: core, remote-data

chore: add runtime dirs to .gitignore
  .gitignore
Due: none

Fix integer truncation in temperature.fuentes by forcing float dtype and update tests
  pvlib/temperature.py
  tests/test_temperature.py
Due: core

remove from nomenclature, update whatsnew
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Fix numpy array syntax in scaling.py and update tests
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/scaling.py
  tests/test_scaling.py
Due: core

Fix PVSystem module_type docstring default
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/pvsystem.py
Due: core

Fix docstring references in v0.15.1 release notes
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.15.1.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Update pvlib/pvsystem.py
  pvlib/pvsystem.py
Due: core

Note that PRs must include the template checklist (#2707)
  docs/sphinx/source/contributing/how_to_contribute_new_code.rst
Due: none

Update _build_kwargs call in PVSystem.pvwatts_dc to include 'k' and 'cap_adjustment' parameters
  pvlib/pvsystem.py
Due: core

Add 'k' and 'cap_adjustment' parameters to module_parameters in pvwatts_system_kwargs fixture
  tests/test_pvsystem.py
Due: core

Add enhancement entry in v0.15.1 release notes and add contributor
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Update docstring in PVSystem.pvwatts_dc
  pvlib/pvsystem.py
Due: core

Fix linting failure
  pvlib/pvsystem.py
Due: core

Fix linting failure
  tests/test_pvsystem.py
Due: core

start at mismatch.py
  pvlib/mismatch.py
Due: core

Apply suggestion from @RDaxini
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Use `k` and `cap_adjustment` from `Array.module_parameters` in `PVSystem.pvwatts_dc` (#2715)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Fix PVSystem module_type docstring default (#2713)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/pvsystem.py
Due: core

Fix numpy array syntax in scaling.py and update tests (#2712)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/scaling.py
  tests/test_scaling.py
Due: core

add lambertw_pvlib
  pvlib/tools.py
  tests/test_tools.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

formatting
  pvlib/tools.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/tools.py
Due: core

from review
  pvlib/tools.py
  tests/test_tools.py
Due: core

move to ivtools, make private
  pvlib/ivtools/utils.py
  pvlib/tools.py
  tests/ivtools/test_utils.py
  tests/test_tools.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/ivtools/utils.py
Due: core

accept float, restrict to x>=0, simplify test
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/ivtools/utils.py
  tests/ivtools/test_utils.py
Due: core

formatting
  pvlib/ivtools/utils.py
Due: core

small < 100
  pvlib/ivtools/utils.py
Due: core

Apply suggestions from code review
  pvlib/ivtools/utils.py
  tests/ivtools/test_utils.py
Due: core

fix test loop
  tests/ivtools/test_utils.py
Due: core

Fix _m_to_cm: multiply by 100 to convert meters to cm
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

Apply suggestion from @cwhanse
  tests/iotools/test_era5.py
Due: remote-data

Docs: document _m_to_cm conversion fix in changelog
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
