Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Add get_nsrdb_psm4_polar_tmy
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
  tests/data/test_psm4_polar_tmy_2023.csv
  tests/iotools/test_psm4.py
Due: core, remote-data

Fix linter
  pvlib/iotools/psm4.py
  tests/iotools/test_psm4.py
Due: remote-data

Handle 0/0 in perez without NaNs
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Add return_components=True path to tests
  tests/test_irradiance.py
Due: core

Appease flake8
  tests/test_irradiance.py
Due: core

Add and improve tests
  tests/test_irradiance.py
Due: core

Make sure NaN irradiances pass through as expected
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Improve NaN DNI and DHI division combo testing
  tests/test_irradiance.py
Due: core

Push breaking test for discussion purposes
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Fix remaining expected values in broken test
  tests/test_irradiance.py
Due: core

Update docstring for expected NaN airmass behavior
  pvlib/irradiance.py
Due: core

Do not overwrite approapriate NaNs with zero when airmass is NaN
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Update some comments and whatsnew
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
Due: core

Appease flake8 yet again
  pvlib/irradiance.py
Due: core

add tzdata to fix readthedocs build
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pyproject.toml
Due: none

Update docs/sphinx/source/whatsnew/v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Apply suggestion from @cwhanse
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Apply suggestion from @cwhanse
  pvlib/irradiance.py
Due: core

Remove distutil leftover
  docs/sphinx/source/conf.py
Due: none

fix whatsnew and add clarifying tzdata comment
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pyproject.toml
Due: none

Update .gitattributes
  .gitattributes
Due: none

Make meteonorm remote_data tests robust to data changes
  docs/sphinx/source/whatsnew/v0.15.3.rst
  tests/iotools/test_meteonorm.py
Due: remote-data

Add tzdata to fix ReadTheDocs build and vendor timezone data (#2809)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pyproject.toml
Due: none

Update docs/sphinx/source/whatsnew/v0.15.3.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Remove unused clearsky._is_leap_year (closes #2768)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/clearsky.py
Due: core

Add contributor entry to whatsnew
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

BUG: fix kimber cleaning threshold and grace period off-by-one
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/soiling.py
  tests/data/greensboro_kimber_soil_manwash.dat
  tests/data/greensboro_kimber_soil_nowash.dat
  tests/test_soiling.py
Due: core

Address review comments: fix pull number and contributor entry
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Address review comments: fix pull number, contributor entry, restore blank lines
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Remove unused clearsky._is_leap_year (closes #2768) (#2813)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/clearsky.py
Due: core

Remove empty horizon component from `irradiance.haydavies` (#2788)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Change OrderedDict to dict in `perez` and `perez_driesse` (#2789)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/irradiance.py
Due: core

Make meteonorm remote_data tests robust to data changes (#2810)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  tests/iotools/test_meteonorm.py
Due: remote-data

Change prefix NX_ -> noplot_
  docs/examples/system-models/noplot_oedi_9068.py
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Forgot to save conf.py
  docs/sphinx/source/conf.py
Due: none

flake8 needed love
  docs/sphinx/source/conf.py
Due: none

Add tests for erroneous inputs
  pvlib/iotools/psm4.py
  tests/iotools/test_psm4.py
Due: remote-data

Fix linter
  tests/iotools/test_psm4.py
Due: remote-data

Use array_like in docstring style guide
  docs/sphinx/source/contributing/style_guide.rst
Due: none

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
