Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Split get_meteonorm into forecast and observation
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Fix linter
  pvlib/iotools/meteonorm.py
Due: remote-data

Disable caching in setup-micromamba GH Action (#2526)
  .github/workflows/pytest.yml
Due: none

change tick formatting (not the bold purple...)
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

delete alternative table examples
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

adjust tick positions (centering)
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

change parameter key to pvgis5, etc.
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

error message
  pvlib/pvarray.py
Due: core

lint
  tests/test_pvarray.py
Due: core

fix test
  tests/test_pvarray.py
Due: core

Split observation/forecast into four functions
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Fix linter
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/meteonorm.py
Due: remote-data

Implement changes from review from kandersolar
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Set index to be the middle of the period
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Extend test coverage
  tests/iotools/test_meteonorm.py
Due: remote-data

Implements new strategy for output formatting.
  pvlib/irradiance.py
Due: core

Adjusts flake8 formatting.
  pvlib/irradiance.py
Due: core

New wrapper
  pvlib/_deprecation.py
  tests/test__deprecation.py
Due: core

Adds devops documentation page for deprecations
  .gitignore
  docs/sphinx/source/contributing/devops.rst
  docs/sphinx/source/contributing/index.rst
  pvlib/_deprecation.py
Due: core

Flake8'd temperature.py, by removing unused deprecator import
  pvlib/temperature.py
Due: core

Appease flake8
  pvlib/_deprecation.py
Due: core

Fixing the linter always has its side-effects 🔪
  tests/test__deprecation.py
Due: core

a typo and yet again the backticks
  pvlib/_deprecation.py
Due: core

update references in docstring
  pvlib/inverter.py
Due: core

convert loops to numpy
  pvlib/spa.py
Due: core

fix numba inference
  pvlib/spa.py
Due: core

linting
  pvlib/spa.py
Due: core

Add iotools functions for Meteonorm (#2499)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Update v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Update docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

Deprecate in v0.13.1 / Removal in v0.15.0
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

move descriptions, link to nomenclature term
  docs/sphinx/source/user_guide/nomenclature.rst
  pvlib/shading.py
  pvlib/tracking.py
Due: core

merge fix
  tests/test_shading.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Allows reading TMY data from a Path or file-like object
  pvlib/iotools/tmy.py
  pvlib/tools.py
  tests/iotools/test_tmy.py
Due: core, remote-data

Reverts "filename" parameter rename for consistency
  pvlib/iotools/tmy.py
Due: remote-data

Fixes linter issue in tests
  tests/iotools/test_tmy.py
Due: remote-data

Updates "What's New" docs for change
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Adding a couple of more assertions for TMY3 parsing test
  tests/iotools/test_tmy.py
Due: remote-data
