Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Change deprecation version to v0.15.3, fix test
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Apply review feedback: update PSM3→PSM4 references and add contributor
  docs/examples/system-models/oedi_9068.py
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Add support for 'return_components'
  pvlib/irradiance.py
Due: core

Fix docstrings
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

DOC: add Examples to iam.ashrae docstring
  pvlib/iam.py
Due: core

DOC: add whatsnew entry for iam.ashrae Examples
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Add tests
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

DOC: replace deprecated US/Eastern timezone alias with America/New_York
  docs/examples/solar-tracking/plot_discontinuous_tracking.py
Due: none

DOC: add whatsnew entry for timezone fix
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Fix reference ordering in read_bsrn docstring
  pvlib/iotools/bsrn.py
Due: remote-data

Add what's new entry
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.15.3.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Raise error if return_components=True used with king or klucher
  pvlib/irradiance.py
Due: core

Update docs/sphinx/source/whatsnew/v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

RTD config: require previous OS (ubuntu-22.04)
  readthedocs.yml
Due: none

Increase to ubuntu-24.04
  readthedocs.yml
Due: none

Change Dict to dict
  pvlib/irradiance.py
Due: core

docs: fix parameter name mismatches in docstrings
  pvlib/bifacial/infinite_sheds.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/solarposition.py
Due: core

Add contributor entry to v0.15.3 whatsnew
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Maint: Normalize line endings and add .gitattributes
  .gitattributes
  pvlib/data/12839.tm2
  pvlib/data/sam-library-sandia-modules-2015-6-30.csv
  pvlib/iotools/bsrn.py
  pvlib/iotools/solcast.py
  tests/data/midc_raw_short_header_20191115.txt
  tests/data/precise_iv_curves_parameter_sets1.csv
  tests/data/precise_iv_curves_parameter_sets2.csv
  tests/iotools/test_solcast.py
Due: core, remote-data

fix broken contributing link
  .github/CONTRIBUTING.md
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

add tzdata to fix readthedocs build
  pyproject.toml
Due: none

Revert "add tzdata to fix readthedocs build"
  pyproject.toml
Due: none

Fix broken link in GitHub Contributing tab (#2806)
  .github/CONTRIBUTING.md
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Fix interval keyword argument in oedi_9068 gallery example (#2793)
  docs/examples/system-models/oedi_9068.py
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

docs: fix parameter name mismatches in docstrings (#2804)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/bifacial/infinite_sheds.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/solarposition.py
Due: core

Add NSRDB PSM4 polar and polar TMY iotools
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
  tests/data/test_psm4_polar_2023.csv
  tests/iotools/test_psm4.py
Due: core, remote-data

Fix linter
  pvlib/iotools/psm4.py
Due: remote-data

Set utc=True
  tests/iotools/test_psm4.py
Due: remote-data

Add whatsnew, update tests
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/iotools/psm4.py
  tests/iotools/test_psm4.py
Due: remote-data

Fix tests
  tests/iotools/test_psm4.py
Due: remote-data

Set map_variables=False in tests
  tests/iotools/test_psm4.py
Due: remote-data
