Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

add axis_slope definition, as per figure in cross_axis_slope
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

bump deprecation version from 0.13.1 to 0.13.2
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/tracking.py
Due: core

Move Deprecations to its section, instead of Breaking Changes
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Description update of axis_azimuth
  pvlib/pvsystem.py
  pvlib/tracking.py
Due: core

picky linter
  pvlib/pvsystem.py
Due: core

nomenclature cross_axis_slope redaction
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

Cliff's fixing my confusion
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

Fix test for _fit_sandia_cocontent (#2615)
  docs/sphinx/source/whatsnew/v0.13.2.rst
  tests/ivtools/test_sde.py
Due: core

Add longwave_down to ERA5 variable map (#2611)
  pvlib/iotools/era5.py
Due: remote-data

add LWGAB
  pvlib/iotools/merra2.py
Due: remote-data

Update docs/sphinx/source/user_guide/modeling_topics/temperature.rst
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

split paragraph
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

Add guidance about temperature modeling to User Guide (#2591)
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Add function for accessing MERRA-2 (#2572)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/merra2.py
  tests/conftest.py
  tests/iotools/test_merra2.py
Due: core, remote-data

Fix Fuentes int input truncation by forcing float dtype
  pvlib/temperature.py
  tests/test_temperature.py
Due: core

Fixed indentation in run_model_from_poa function
  pvlib/modelchain.py
Due: core

Update fuentes function to ensure floating-point dtype for temperature calculations and adjust corresponding test expectations
  pvlib/temperature.py
  tests/test_temperature.py
Due: core

Add examples for run_model_from_poa and run_model_from_effective_irradiance
  pvlib/modelchain.py
Due: core

Fix typo in GitHub username: solphie → sophie
  docs/sphinx/source/whatsnew/v0.12.0.rst
Due: none

Fix typo in GitHub username: solphie → sophie (#2622)
  docs/sphinx/source/whatsnew/v0.12.0.rst
Due: none

Update pvlib/modelchain.py
  pvlib/modelchain.py
Due: core

Fix lint errors (W291 trailing whitespace)
  pvlib/modelchain.py
Due: core

update metadata checks
  tests/iotools/test_meteonorm.py
Due: remote-data

apply same fix to TMY test
  tests/iotools/test_meteonorm.py
Due: remote-data

clip AOI to max of 90 degrees as discussed in review
  pvlib/spectrum/mismatch.py
  tests/spectrum/test_mismatch.py
Due: core

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add polo spectral factor model (#2491)
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  tests/spectrum/test_mismatch.py
Due: core

Fix meteonorm tests, again (#2623)
  tests/iotools/test_meteonorm.py
Due: remote-data

add `poa_` prefix
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

update infinite_sheds
  pvlib/bifacial/infinite_sheds.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

shorten pr checkbox
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add welcome for pr and issue
  .github/workflows/welcome.yml
Due: none

Remove pandas series usage from ephemeris
  pvlib/solarposition.py
Due: core

Fix line length
  pvlib/solarposition.py
Due: core

Bump deprecation version to 0.14.0 (from 0.13.2)
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/tracking.py
Due: core

Fix lint errors (W291/W293) in modelchain.py
  pvlib/modelchain.py
Due: core

fix issue 2628
  .github/CONTRIBUTING.md
Due: none

Adds faiman_rad and ross models to get_cell_temperature().
  pvlib/pvsystem.py
Due: core
