Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

edit inline comment
  pvlib/inverter.py
Due: core

Update docstring
  pvlib/clearsky.py
Due: core

Clarify PVWatts DC and inverter documentation (#1785)
  pvlib/inverter.py
  pvlib/pvsystem.py
Due: core

add degree days to df descriptions
  pvlib/iotools/acis.py
Due: remote-data

add degree day columns to variable map
  pvlib/iotools/acis.py
  pvlib/tests/iotools/test_acis.py
Due: remote-data

fix valid daterange test oversight
  pvlib/tests/iotools/test_acis.py
Due: remote-data

update links
  docs/examples/iv-modeling/plot_singlediode.py
  docs/sphinx/source/user_guide/comparison_pvlib_matlab.rst
Due: none

Change excessive parentheses from default syntax in parameters
  pvlib/irradiance.py
  pvlib/pvsystem.py
Due: core

Remove trailing dot
  pvlib/bifacial/utils.py
  pvlib/clearsky.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/snow.py
  pvlib/temperature.py
Due: core

Remove colon after default
  pvlib/iotools/bsrn.py
  pvlib/iotools/crn.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/iotools/srml.py
Due: remote-data

default None -> optional (#1574)
  pvlib/clearsky.py
  pvlib/iam.py
  pvlib/iotools/epw.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/iotools/tmy.py
  pvlib/irradiance.py
  pvlib/ivtools/sde.py
  pvlib/ivtools/sdm.py
  pvlib/ivtools/utils.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/scaling.py
  pvlib/soiling.py
  pvlib/solarposition.py
  pvlib/temperature.py
Due: core, remote-data

See also -> See Also (does not affect nothing)
  pvlib/atmosphere.py
  pvlib/bifacial/infinite_sheds.py
  pvlib/clearsky.py
  pvlib/inverter.py
  pvlib/irradiance.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvarray.py
  pvlib/pvsystem.py
  pvlib/solarposition.py
  pvlib/temperature.py
  pvlib/tools.py
  pvlib/tracking.py
Due: core

Update v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Update tmy.py
  pvlib/iotools/tmy.py
Due: remote-data

Add warning message
  pvlib/iotools/srml.py
Due: remote-data

Use assert_frame_equal
  pvlib/tests/iotools/test_srml.py
Due: remote-data

cm -> mm for snow variables
  pvlib/iotools/acis.py
  pvlib/tests/iotools/test_acis.py
Due: remote-data

Add tests, update whatsnew
  docs/sphinx/source/whatsnew/v0.10.0.rst
  pvlib/tests/test_clearsky.py
Due: core

Update whatsnew
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Add mocker test
  pvlib/tests/test_clearsky.py
Due: core

Remove variable O&M caveatp
  pvlib/financial.py
Due: core

revert back to cm for snow
  pvlib/iotools/acis.py
  pvlib/tests/iotools/test_acis.py
Due: remote-data

add orgill hollands decomposition (#1730)
  docs/sphinx/source/reference/irradiance/decomposition.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Update pvlib/tests/iotools/test_srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Change matlab link to the repo page
  docs/sphinx/source/user_guide/comparison_pvlib_matlab.rst
Due: none

improved testing panond reader
  pvlib/tests/iotools/test_panond.py
Due: remote-data

Add get_srml iotools function; deprecate read_srml_month_from_solardat (#1779)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.9.6.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Update outdated pvpmc.sandia.gov links in user guide (#1789)
  docs/examples/iv-modeling/plot_singlediode.py
  docs/sphinx/source/user_guide/comparison_pvlib_matlab.rst
Due: none

Add retrieval functions for daily precip, snow, and temperature data from NOAA RCC ACIS (#1767)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.9.6.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/acis.py
  pvlib/tests/iotools/test_acis.py
Due: remote-data

move 0.9.6 whatsnew content to 0.10.0
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.9.6.rst
Due: none

cleanup
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Add missing contributors
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

fix #1731
  docs/sphinx/source/whatsnew/v0.10.0.rst
  pvlib/modelchain.py
Due: core

create blank 0.10.1 whatsnew
  docs/sphinx/source/whatsnew/v0.10.1.rst
Due: none

fix contributor gh handle
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Add nitpicky = True
  docs/sphinx/source/conf.py
Due: none

Change input oder
  pvlib/iotools/psm3.py
  pvlib/iotools/pvgis.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.10.0.rst
Due: none

Change input order of map_variables and url (#1795)
  docs/sphinx/source/whatsnew/v0.10.0.rst
  pvlib/iotools/psm3.py
  pvlib/iotools/pvgis.py
Due: remote-data

Finalize 0.10.0 (#1793)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.1.rst
  docs/sphinx/source/whatsnew/v0.9.6.rst
  pvlib/modelchain.py
Due: core
