Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Issue 2314, updating docs
  pvlib/tracking.py
Due: core

added tests and test data
  pvlib/data/test_goes4_2023.csv
  pvlib/data/test_goes4_2023_5min.csv
  pvlib/data/test_goes4_tmy-2023.csv
  pvlib/data/test_read_goes4.csv
  pvlib/tests/iotools/test_goes4.py
Due: core, remote-data

fixed linter issues
  pvlib/tests/iotools/test_goes4.py
Due: remote-data

Update docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

solve issue 2377
  pvlib/iotools/psm3.py
Due: remote-data

include solarfactors in python 3.12 tests
  ci/requirements-py3.12.yml
Due: none

issue #2314 updating doc
  pvlib/tracking.py
Due: core

change "goes4" to "psm4"
  pvlib/data/test_psm4_2023.csv
  pvlib/data/test_psm4_2023_5min.csv
  pvlib/data/test_psm4_tmy-2023.csv
  pvlib/data/test_read_psm4.csv
  pvlib/iotools/psm4.py
  pvlib/tests/iotools/test_psm4.py
Due: core, remote-data

fix some missed goes4 instances
  pvlib/iotools/psm4.py
Due: remote-data

Updating Townsends snow model references
  pvlib/snow.py
Due: core

Applying reviews
  pvlib/snow.py
Due: core

Adding a note to the whatsnew file for v0.11.3
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/snow.py
Due: core

Applying review
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

Add myself as contributor and apply reviews
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/snow.py
Due: core

Fix the line length issue
  pvlib/snow.py
Due: core

add intro
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

Adding actual title of the poster
  pvlib/snow.py
Due: core

add transformer to __init__.py
  pvlib/__init__.py
Due: core

update whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

referring to readme
  pyproject.toml
Due: none

Update v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

correct doi syntax
  pvlib/snow.py
Due: core

Updating Townsends snow model references (#2384)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/snow.py
Due: core

init file goes4 --> psm4
  pvlib/iotools/__init__.py
Due: remote-data

use urljoin
  pvlib/iotools/psm4.py
Due: remote-data

use str year in test
  pvlib/tests/iotools/test_psm4.py
Due: remote-data

remove versionchanged doc warning
  pvlib/iotools/psm4.py
Due: remote-data

include solarfactors in python 3.12 tests (#2380)
  ci/requirements-py3.12.yml
Due: none

add transformer to __init__.py (#2388)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/__init__.py
Due: core

Raise helpful exceptions for irradiance.gti_dirint (#2347)
  docs/sphinx/source/whatsnew/v0.11.3.rst
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

add checks for all mapped variables
  pvlib/tests/iotools/test_psm3.py
Due: remote-data

fix code to pass all checks
  pvlib/tests/iotools/test_psm3.py
Due: remote-data

fix function names in whatsnew
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

another whatsnew fix
  docs/sphinx/source/whatsnew/v0.11.3.rst
Due: none

created separate get_nsrdb_psm4_ functions
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
  pvlib/tests/iotools/test_psm4.py
Due: remote-data

update docs for API changes
  docs/sphinx/source/reference/iotools.rst
Due: none

revert back to the 💩 CRLF
  tests/data/midc_raw_short_header_20191115.txt
  tests/data/precise_iv_curves_parameter_sets1.csv
  tests/data/precise_iv_curves_parameter_sets2.csv
Due: none

Update v0.7.2.rst
  docs/sphinx/source/whatsnew/v0.7.2.rst
Due: none

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
