Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Remove test to check for lists
  tests/test_iam.py
Due: core

Fix perez ZeroDivisionError on scalar dhi=0
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Add whatsnew entry for perez scalar dhi=0 fix
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Standardize component names and descriptions
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Apply suggestion from @cwhanse
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Add whatsnew entry
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Adjust docstrings
  pvlib/irradiance.py
Due: core

Fix delta_kt_prime halving single valid neighbor difference (gh-1847)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Trim verbose comment in _delta_kt_prime_dirint (ponytail pass)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
Due: core

DOC: fix read_bsrn reference
  pvlib/iotools/bsrn.py
Due: remote-data

Fix TypeError in dc_ohms_from_percent for single-array list input
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
  uv.lock
Due: core

Add NSRDB PSM4 polar and polar TMY iotools (#2807)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/psm4.py
  tests/data/test_psm4_polar_2023.csv
  tests/data/test_psm4_polar_tmy_2023.csv
  tests/iotools/test_psm4.py
Due: core, remote-data

Update pvlib/iam.py
  pvlib/iam.py
Due: core

Add support for schlick to ModelChain
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/iam.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  tests/test_modelchain.py
Due: core

Edit whatsnew entry
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Fix list indentation
  pvlib/irradiance.py
Due: core

Edit nomenclature
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

Make resolution an input parameter
  pvlib/iam.py
Due: core

Remove schlick from _IAM_MODEL_PARAMS
  pvlib/iam.py
Due: core

Update pvlib/iam.py with warn_deprecated
  pvlib/iam.py
Due: core

Add support for return_components to Reindl (#2775)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Standardize diffuse irradiance component names and descriptions in docstrings (#2827)
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

add imports for interp1d and warn_deprecate
  pvlib/iam.py
Due: core

Add tests for invalid/deprecated interp methods
  pvlib/iam.py
  tests/test_iam.py
Due: core

Linting
  pvlib/iam.py
  tests/test_iam.py
Due: core

Add more tests
  tests/test_irradiance.py
Due: core

Minor fix
  tests/test_irradiance.py
Due: core

Add whatsnew for Deprecate scipy.interpolate
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Replace interp1d #2394 (#2741)
  docs/examples/shading/plot_partial_module_shading_simple.py
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/iam.py
  pvlib/spectrum/response.py
  tests/test_iam.py
Due: core

Clarify rh_from_tdew variable naming, comments and references
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/atmosphere.py
  tests/test_atmosphere.py
Due: core

Add explicit WMO temperature range to rh_from_tdew notes
  pvlib/atmosphere.py
Due: core

Address rh_from_tdew review wording
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/atmosphere.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
