Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

remove test
  tests/test_modelchain.py
Due: core

Update modelchain.rst
  docs/sphinx/source/reference/modelchain.rst
Due: none

Update v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

add method='chandrupatla' for bishop88 functions
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

update tests
  tests/test_pvsystem.py
  tests/test_singlediode.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

doc tweaks
  pvlib/singlediode.py
Due: core

test tweak
  tests/test_pvsystem.py
Due: core

try out skipping chandrupatla on py3.9
  tests/conftest.py
  tests/test_pvsystem.py
  tests/test_singlediode.py
Due: core

Revert solar_zenith to apparent_zenith
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/examples/solar-tracking/plot_single_axis_tracking.py
  docs/examples/solar-tracking/plot_single_axis_tracking_on_sloped_terrain.py
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/tracking.py
Due: core

fix py3.9 skips
  tests/conftest.py
  tests/test_pvsystem.py
  tests/test_singlediode.py
Due: core

One more fix
  pvlib/tracking.py
Due: core

One more more fix
  pvlib/tracking.py
Due: core

Minor Documentation and Typo Fixes (#2481)
  pvlib/bifacial/pvfactors.py
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
Due: core

Apply suggestions from code review
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

more edits from review
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/pvsystem.py
  pvlib/singlediode.py
  tests/test_singlediode.py
Due: core

docs fixes
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/pvsystem.py
  pvlib/singlediode.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/pvsystem.py
Due: core

Clean up some warnings in the tests: `ivtools/sdm/test__fit_desoto_pvsyst_sandia.py` #2494
  pvlib/singlediode.py
  tests/ivtools/sdm/test__fit_desoto_pvsyst_sandia.py
Due: core

Apply suggestions from code review
  docs/examples/solar-tracking/plot_single_axis_tracking.py
  docs/examples/solar-tracking/plot_single_axis_tracking_on_sloped_terrain.py
Due: none

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Rename solar position inputs in tracking.singleaxis (#2480)
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/examples/solar-tracking/plot_single_axis_tracking.py
  docs/examples/solar-tracking/plot_single_axis_tracking_on_sloped_terrain.py
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/tracking.py
Due: core

Create meteonorm.py
  pvlib/iotools/meteonorm.py
Due: remote-data

Add get_meteonorm_tmy
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/meteonorm.py
Due: remote-data

Create nasa_power.py
  pvlib/iotools/nasa_power.py
Due: remote-data

Updated API
  docs/sphinx/source/reference/iotools.rst
Due: none

Update __init__.py
  pvlib/iotools/__init__.py
Due: remote-data

fixed minor typos
  pvlib/iotools/nasa_power.py
Due: remote-data

Implement Adam's feedback
  pvlib/iotools/nasa_power.py
Due: remote-data

update metadata
  pvlib/iotools/nasa_power.py
Due: remote-data

Add private shared parse function
  pvlib/iotools/meteonorm.py
Due: remote-data

Add tests
  tests/iotools/test_nasa_power.py
Due: remote-data

fix lint
  tests/iotools/test_nasa_power.py
Due: remote-data

2nd try
  tests/iotools/test_nasa_power.py
Due: remote-data

update whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Apply suggestions from code review
  pvlib/iotools/nasa_power.py
Due: remote-data

suggestions from code review vol.2
  pvlib/iotools/nasa_power.py
Due: remote-data

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/nasa_power.py
Due: remote-data

lint vol.2
  pvlib/iotools/nasa_power.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
