Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Apply suggestions from code review
  docs/sphinx/source/user_guide/modeling_topics/iam.rst
Due: none

Add guidance about IAM to User Guide (#2683)
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/iam.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Add simple_efficiency tests for numpy array inputs (#2661)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  tests/test_transformer.py
Due: core

prevent oedi example from executing during docs build by renaming file
  docs/examples/system-models/oedi_9068.py
  docs/sphinx/source/conf.py
Due: none

add temperature model comparison example
  docs/examples/iv-modeling/plot_temperature_model_comparison.py
Due: none

fixing blank figures
  docs/examples/iv-modeling/plot_temperature_model_comparison.py
Due: none

fixing flake8
  docs/examples/iv-modeling/plot_temperature_model_comparison.py
Due: none

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update v0.15.1.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.15.1.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Add `aod` and `clearsky_index` to glossary, link terms in `spectrum.rst` (#2663)
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Add examples for run_model_from_poa() and run_model_from_effective_irradiance() (#2621)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/modelchain.py
Due: core

Apply suggestions from code review
  docs/examples/system-models/plot_modelchain_model_variations.py
Due: none

Fix delta_kt_prime calculation for series with internal NaN values
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Update whatsnew with PR number and contributor name
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

`ModelChain` model variation example to `system-models` (#2691)
  docs/examples/system-models/oedi_9068.py
  docs/examples/system-models/plot_modelchain_model_variations.py
  docs/sphinx/source/conf.py
Due: none

Add AI acknowledgement checkbox and welcome comment (#2624)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/welcome.yml
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Fix latlon_to_xy longitude scaling and update related tests
  pvlib/scaling.py
  tests/test_scaling.py
Due: core

calculate surface angles using unit normal
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

formatting
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

more formatting
  tests/test_tracking.py
Due: core

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

Create v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Migrate NREL references to NLR (National Laboratory of the Rockies)
  .github/workflows/pytest-remote-data.yml
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
  docs/examples/spectrum/average_photon_energy.py
  docs/examples/spectrum/plot_spectrl2_fig51A.py
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/reference/solarposition.rst
  docs/sphinx/source/user_guide/getting_started/installation.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
  docs/tutorials/tmy_to_power.ipynb
  pvlib/atmosphere.py
  pvlib/bifacial/infinite_sheds.py
  pvlib/clearsky.py
  pvlib/inverter.py
  pvlib/iotools/midc.py
  pvlib/iotools/psm4.py
  pvlib/iotools/tmy.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/snow.py
  pvlib/solarposition.py
  pvlib/spa.py
  pvlib/spa_c_files/README.md
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/spectrl2.py
  pvlib/tracking.py
  tests/conftest.py
  tests/iotools/test_midc.py
  tests/iotools/test_tmy.py
  tests/spectrum/test_spectrl2.py
  tests/test_shading.py
  tests/test_solarposition.py
  tests/test_temperature.py
  tests/test_tracking.py
Due: core, remote-data

Apply suggestions from code review
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
  docs/examples/spectrum/average_photon_energy.py
  docs/examples/spectrum/plot_spectrl2_fig51A.py
  docs/sphinx/source/whatsnew/v0.15.1.rst
  docs/tutorials/tmy_to_power.ipynb
  pvlib/clearsky.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/snow.py
  pvlib/solarposition.py
  pvlib/spa.py
  pvlib/spectrum/spectrl2.py
  tests/test_shading.py
Due: core

Fix broken links in tmy_to_power tutorial
  docs/tutorials/tmy_to_power.ipynb
Due: none

Fix reference formatting in irradiance.py and pvsystem.py
  pvlib/pvsystem.py
  pvlib/spectrum/irradiance.py
Due: core

Migrate github.com/NREL URLs to github.com/NatLabRockies
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/sphinx/source/user_guide/extras/faq.rst
  pvlib/bifacial/loss_models.py
  pvlib/ivtools/utils.py
  pvlib/snow.py
Due: core

Add docs page explaining NREL to NLR rename
  docs/sphinx/source/user_guide/extras/nrel_nlr.rst
  docs/sphinx/source/user_guide/index.rst
Due: none

Note that PRs must include the template checklist
  docs/sphinx/source/contributing/how_to_contribute_new_code.rst
Due: none

Fix line too long in conftest.py docstring
  tests/conftest.py
Due: core

Fix inexistent function reference in poa_components docstring
  pvlib/irradiance.py
Due: core

Add whatsnew entry for #2089
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Add is_backtracking and is_at_limit outputs to singleaxis
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Fix docstring reference and update contributors list
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Fix poa components docstring (#2708)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/irradiance.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
