Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

remove list input
  pvlib/iam.py
  tests/test_iam.py
Due: core

Fix calc_surface_orientation broadcasting for >1-D tracker_theta
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

feedback from review
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/bifacial/utils.py
Due: core

BUG: fix dirint KeyError with scalar inputs on pandas >= 2.0
  pvlib/irradiance.py
Due: core

TST,CHANGELOG: add test and whatsnew entry for dirint scalar fix GH#2751
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

BUG: fix dirint KeyError for scalar inputs on pandas >= 2.0
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

STY: fix flake8 whitespace and blank line errors
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Address review: use np.linspace instead of RNG
  tests/test_tracking.py
Due: core

Add albedo to get_nasa_power variable map
  pvlib/iotools/nasa_power.py
Due: remote-data

BUG: add test coverage for dirint with array-like inputs GH#2751
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Add bifacial scaling to Townsend snow loss
  pvlib/snow.py
  tests/test_snow.py
Due: core

Update tests/test_snow.py
  tests/test_snow.py
Due: core

Address review comments
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/snow.py
  tests/test_snow.py
Due: core

Updated test_snow.py
  tests/test_snow.py
Due: core

Update docs/sphinx/source/whatsnew/v0.15.2.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Update pvlib/snow.py to change parentheses and period position
  pvlib/snow.py
Due: core

Fix calc_surface_orientation broadcasting for >1-D tracker_theta (#2749)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

"Watt" -> "watt"
  tests/iotools/test_meteonorm.py
Due: remote-data

Add WhatsNew entry
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Update pvlib/bifacial/utils.py
  pvlib/bifacial/utils.py
Due: core

"Watt" -> "watt" (#2759)
  tests/iotools/test_meteonorm.py
Due: remote-data

adopt new description for `phi`
  pvlib/bifacial/utils.py
Due: core

Add albedo to get_nasa_power variable map (#2753)
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/nasa_power.py
Due: remote-data

fix: avoid using internal property _zoneinfo
  pvlib/tools.py
Due: core

docs: version deprecation in pytz
  pvlib/location.py
Due: core

test: add deprecation check on pytz property
  tests/test_location.py
Due: core

refactor: deprecate pytz in favor of builtin zoneinfo
  docs/sphinx/source/whatsnew/v0.15.2.rst
  pvlib/iotools/pvgis.py
  pvlib/location.py
  pvlib/solarposition.py
  pvlib/tools.py
  tests/iotools/test_midc.py
  tests/test_clearsky.py
  tests/test_location.py
  tests/test_solarposition.py
Due: core, remote-data

doc: deprecated in pytz property
  pvlib/location.py
Due: core

docs: whatsnew
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

docs: error comments
  pvlib/solarposition.py
Due: core

docs: timezone location description
  pvlib/location.py
Due: core

lint: flake8 lint
  pvlib/location.py
  pvlib/solarposition.py
  tests/test_location.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

TST: fix test_dirint_array_inputs to use 2 time points
  tests/test_irradiance.py
Due: core

BUG: raise ValueError in dirint when use_delta_kt_prime=True and len(times)<2
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core
