Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Move rh_from_tdew whatsnew entry to v0.15.3
  docs/sphinx/source/whatsnew/v0.15.2.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

Apply suggestions from code review
  pvlib/bifacial/ants2d.py
Due: core

update tests per review
  tests/bifacial/test_ants2d.py
Due: core

add notes on fixed-tilt
  pvlib/bifacial/ants2d.py
Due: core

Add support for return_components to irradiance.isotropic (#2787)
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

fix bad whatsnew auto-merge
  docs/sphinx/source/whatsnew/v0.15.3.rst
Due: none

generate get_surfrad
  pvlib/iotools/surfrad.py
Due: remote-data

function documentation
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/iotools/__init__.py
Due: remote-data

fix linter
  pvlib/iotools/surfrad.py
Due: remote-data

linter v2
  pvlib/iotools/surfrad.py
Due: remote-data

add tests
  tests/iotools/test_surfrad.py
Due: remote-data

fix test linter
  tests/iotools/test_surfrad.py
Due: remote-data

minor error
  pvlib/iotools/surfrad.py
Due: remote-data

linter again
  pvlib/iotools/surfrad.py
Due: remote-data

Remove invalid url in agripv gallery example
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Update photo caption
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

tweaks to user's guide page
  docs/sphinx/source/user_guide/modeling_topics/bifacial.rst
Due: none

changes from review
  pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/utils.py
Due: core

Update pvlib/bifacial/utils.py
  pvlib/bifacial/utils.py
Due: core

Update pvlib/bifacial/ants2d.py
  pvlib/bifacial/ants2d.py
Due: core

lint
  pvlib/bifacial/ants2d.py
Due: core

update function to use new API endpoint
  pvlib/iotools/merra2.py
Due: remote-data

tweaks
  pvlib/iotools/merra2.py
Due: remote-data

Update pytest-remote-data.yml
  .github/workflows/pytest-remote-data.yml
Due: none

Update pytest-remote-data.yml (#2840)
  .github/workflows/pytest-remote-data.yml
Due: none

Remove invalid url in agripv gallery example (#2838)
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

fix tests
  pvlib/iotools/merra2.py
  tests/iotools/test_merra2.py
Due: remote-data

Correct column names in logical record 0500 in get/read_bsrn
  pvlib/iotools/bsrn.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

lint
  pvlib/iotools/merra2.py
  tests/iotools/test_merra2.py
Due: remote-data

Implement ANTS-2D bifacial irradiance model (#2740)
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
  docs/sphinx/source/reference/bifacial.rst
  docs/sphinx/source/user_guide/modeling_topics/bifacial.rst
  docs/sphinx/source/whatsnew/v0.15.3.rst
  pvlib/bifacial/__init__.py
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/utils.py
  tests/bifacial/test_ants2d.py
  tests/bifacial/test_infinite_sheds.py
  tests/bifacial/test_utils.py
Due: core

Add missing empty column names
  pvlib/iotools/bsrn.py
Due: remote-data

Add deprecation warning for irradiance.king (#2783)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

Update v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.0.rst
Due: none

Add test
  tests/iotools/test_bsrn.py
Due: remote-data

DOC: fix read_bsrn reference (#2831)
  pvlib/iotools/bsrn.py
Due: remote-data

Add direct irradiance to VARIABLE_MAP in get_era5 iotools function (#2819)
  docs/sphinx/source/whatsnew/v0.16.0.rst
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data
