Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

change axis_azimuth default when surface_tilt=0
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

subtract 90, not add 90
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

Add lambertw_pvlib (#2723)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/ivtools/utils.py
  tests/ivtools/test_utils.py
Due: core

use _lambertw_pvlib etc.
  pvlib/singlediode.py
Due: core

whatsnew, lint
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/singlediode.py
Due: core

Update contributing guidelines (#2726)
  docs/sphinx/source/contributing/introduction_to_contributing.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

use _lambertw_pvlib in ivtools
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/ivtools/sdm/desoto.py
Due: core

Update pvlib/singlediode.py
  pvlib/singlediode.py
Due: core

avoid warning
  pvlib/singlediode.py
Due: core

pacify flake8
  pvlib/singlediode.py
Due: core

Update broken links in get_solaranywhere
  pvlib/iotools/solaranywhere.py
Due: remote-data

Fix missing bracket
  pvlib/iotools/solaranywhere.py
Due: remote-data

another instance replaced
  pvlib/pvarray.py
Due: core

Update broken links in get_solaranywhere (#2733)
  pvlib/iotools/solaranywhere.py
Due: remote-data

use _lambertw_pvlib etc. (#2732)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/ivtools/sdm/desoto.py
  pvlib/pvarray.py
  pvlib/singlediode.py
Due: core

clarify returned shape, fix a missing assert
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

line length
  tests/test_tracking.py
Due: core

Update docs/sphinx/source/whatsnew/v0.15.1.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

calculate surface angles using unit normal (#2702)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

miscellaneous RST fixes
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/user_guide/modeling_topics/iam.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/tracking.py
Due: core

add missing contributors
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

whatsnew tweak
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

fix typo
  docs/sphinx/source/user_guide/modeling_topics/iam.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/tracking.py
Due: core

fixes and suggestions
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

fix typo
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

one more fix
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

fix spelling inconsistency in previous whatsnew file
  docs/sphinx/source/whatsnew/v0.15.0.rst
Due: none

release date += 1
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Finalize v0.15.1 (#2737)
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/user_guide/modeling_topics/iam.rst
  docs/sphinx/source/whatsnew/v0.15.0.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/tracking.py
Due: core

create and list v0.15.2 whatsnew file
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Create v0.15.2 whatsnew file (#2739)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

use `poa_` for `return_components=True` after #2627
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

Replace interp1d #2394
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
  pvlib/spectrum/response.py
  tests/test_iam.py
Due: core

fix indentation
  pvlib/irradiance.py
Due: core

Fix indentation in `pvlib.irradiance.louche` docstring (#2742)
  pvlib/irradiance.py
Due: core

Replace CubicSpline by make_interp_spline k=3
  pvlib/iam.py
  pvlib/spectrum/response.py
Due: core

misc cleanup
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/utils.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
