Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

compatibility with older pandas
  pvlib/solarposition.py
Due: core

make tests make sense for pandas < and > 2
  pvlib/tests/test_solarposition.py
Due: core

Update citation in pvlib readme (#1939)
  README.md
  docs/sphinx/source/index.rst
Due: none

Remove comment about removing or statement in infer_temperature_model in modelchain.py
  pvlib/modelchain.py
Due: core

Added test to verify that error indicating inability to infer temperature model is raised when not providing temperature model to arrays
  pvlib/tests/test_modelchain.py
Due: core

Update docs/sphinx/source/whatsnew/v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

include pvarray in `__init__.py`
  pvlib/__init__.py
Due: core

Update pvlib/tests/test_modelchain.py
  pvlib/tests/test_modelchain.py
Due: core

1759 resolve attrib error model chain (#1947)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/modelchain.py
  pvlib/tests/test_modelchain.py
Due: core

Include pvarray in `__init__.py` (#1951)
  pvlib/__init__.py
Due: core

Update shading.py
  pvlib/shading.py
Due: core

Update docstring
  pvlib/shading.py
Due: core

Add comments from `tracking.singleaxis`
  pvlib/shading.py
Due: core

Singleaxis implementation port & test addition, based on old pvlib.tracking.singleaxis
  pvlib/shading.py
  pvlib/tests/test_shading.py
  pvlib/tracking.py
Due: core

Update v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Linter
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Code review
  pvlib/shading.py
  pvlib/tracking.py
Due: core

improve docstring for get_ground_diffuse
  pvlib/irradiance.py
Due: core

fix formatting. Reduce description text. Whatsnew
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/irradiance.py
Due: core

try to get the sphinx reference
  pvlib/irradiance.py
Due: core

sphinx reference
  pvlib/irradiance.py
Due: core

use doi
  pvlib/irradiance.py
Due: core

Add Fig 5 [1] (still gotta check the built output)
  docs/sphinx/source/_images/Anderson_Mikofski_2020_Fig5.jpg
  pvlib/shading.py
Due: core

Add caption, change size and describe in alternate text
  pvlib/shading.py
Due: core

rST fixes ?
  pvlib/shading.py
Due: core

Figures have captions, images do not
  pvlib/shading.py
Due: core

use math
  pvlib/irradiance.py
Due: core

r
  pvlib/irradiance.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

fix some broken links
  pvlib/iam.py
  pvlib/iotools/srml.py
  pvlib/irradiance.py
  pvlib/solarposition.py
  pvlib/temperature.py
Due: core, remote-data

add note about negative power at low irradiance
  pvlib/pvarray.py
Due: core

Remove trailing white space
  pvlib/temperature.py
Due: core

Update pvlib/iotools/srml.py
  pvlib/iotools/srml.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

fix link formatting
  pvlib/iotools/srml.py
  pvlib/irradiance.py
Due: core, remote-data

Update pvlib/pvarray.py
  pvlib/pvarray.py
Due: core

tweak the note
  pvlib/pvarray.py
Due: core

Apply suggestions from code review
  pvlib/iotools/srml.py
Due: remote-data
