Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Addresses flake8 formatting issues.
  pvlib/pvsystem.py
Due: core

add name to contributers list for closing issue #2628
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

contributers list updated
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Updates contribution md file.
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Minor change in docstring.
  pvlib/irradiance.py
Due: core

Adds test for ross option, placeholder for faiman_rad.
  tests/test_pvsystem.py
Due: core

Corrects flake8 issues.
  tests/test_pvsystem.py
Due: core

Adds missing wind_speed=None when testing get_cell_temperature for ross.
  tests/test_pvsystem.py
Due: core

Corrects wrong function naming.
  tests/test_pvsystem.py
Due: core

Adds missing input to functions within tests.
  tests/test_pvsystem.py
Due: core

Corrects test + flake8 issue.
  tests/test_pvsystem.py
Due: core

Minor update in documentation + flake8 issue.
  tests/test_pvsystem.py
Due: core

Another flake8 issue handled.
  tests/test_pvsystem.py
Due: core

Improve faiman_rad test and completes get_cell_temperature doc.
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Addresses flake8.
  tests/test_pvsystem.py
Due: core

Update installation.rst
  docs/sphinx/source/user_guide/getting_started/installation.rst
Due: none

Update whatsnew doc.
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Defines ir_down as weather variable Within faiman_rad.
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Handles flake8 issues.
  pvlib/pvsystem.py
Due: core

Corrects bug in test.
  tests/test_pvsystem.py
Due: core

Handles flake8.
  pvlib/pvsystem.py
Due: core

Adding functions for retrieving NSRDB PSM4 Polar datasets
  pvlib/iotools/psm4.py
Due: remote-data

Handle flake8 issues in part of the codebase.
  pvlib/clearsky.py
  pvlib/iotools/acis.py
  pvlib/iotools/midc.py
  pvlib/irradiance.py
  pvlib/singlediode.py
  pvlib/solarposition.py
  pvlib/spa.py
  pvlib/spectrum/mismatch.py
  pvlib/temperature.py
Due: core, remote-data

Use ValueError instead of IndexError in _degrees_to_index
  pvlib/tools.py
Due: core

Update tests to expect ValueError in _degrees_to_index
  tests/test_tools.py
Due: core

Fix flake8 line length in _degrees_to_index test
  tests/test_tools.py
Due: core

Updating __init__.py
  pvlib/iotools/__init__.py
Due: remote-data

make v13.3 whatsnew
  docs/sphinx/source/whatsnew/v0.13.3.rst
Due: none

make v13.3 whatsnew (#2650)
  docs/sphinx/source/whatsnew/v0.13.3.rst
Due: none

Add note to release notes
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Update installation.rst (#2638)
  docs/sphinx/source/user_guide/getting_started/installation.rst
Due: none

misc
  .github/workflows/welcome.yml
Due: none

Update v0.13.2.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

lint
  tests/test_irradiance.py
Due: core

remove issue +tag co-authors
  .github/workflows/welcome.yml
Due: none

Cleans dict create + forces output as dataframe.
  pvlib/irradiance.py
Due: core

Update docs/sphinx/source/whatsnew/v0.13.2.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Add `poa_` prefix to returned names when `return_components=True` in transposition functions (#2627)
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/bifacial/infinite_sheds.py
  pvlib/irradiance.py
  tests/test_irradiance.py
Due: core

rename v0.13.2 to v0.14.0
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.14.0.rst
Due: none

rename 0.13.3 to 0.14.1
  docs/sphinx/source/whatsnew/v0.14.1.rst
Due: none
