Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

reinstate test
  tests/test_modelchain.py
Due: core

Apply suggestions from code review
  pvlib/iotools/nasa_power.py
Due: remote-data

Adam's corrections
  pvlib/iotools/nasa_power.py
Due: remote-data

Update tests according to new code
  tests/iotools/test_nasa_power.py
Due: remote-data

come on now linter!
  pvlib/iotools/nasa_power.py
Due: remote-data

minor change
  pvlib/iotools/nasa_power.py
Due: remote-data

update removal schedule
  pvlib/modelchain.py
Due: core

reinstate function in docs
  docs/sphinx/source/reference/modelchain.rst
Due: none

Fix Flake8 linter errors
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

Fix Flake8 errors:
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

Apply suggestions from code review
  pvlib/iotools/nasa_power.py
  tests/iotools/test_nasa_power.py
Due: remote-data

Kevin's suggestions (function)
  pvlib/iotools/nasa_power.py
Due: remote-data

Kevin's suggestions (tests)
  tests/iotools/test_nasa_power.py
Due: remote-data

revert to default deprecation message
  pvlib/modelchain.py
Due: core

restructure lookup and test
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

fix test and formatting
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

adjust error message
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

add whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

remove aoi range statement
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

add units
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

rephrase pvlib azimuth angle convention
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

remove "for example" from azimuth defintion
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

remove zenith/azimuth range constraints
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

remove "for example" again
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

remove tests for angle range
  tests/test_solarposition.py
Due: core

delete example.py
  example.py
Due: none

remove blank line
  tests/test_solarposition.py
Due: core

nomenclature revision
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

so that -> so
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

Update v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

add general technical descriptions/definitions
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

vector pointed up and a vector...
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

surface_azimuth definition
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

Apply suggestions from code review
  pvlib/pvarray.py
Due: core

Update pvlib/pvarray.py
  pvlib/pvarray.py
Due: core

remove solar_elevation link
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none
