Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

add deprecation warning
  pvlib/clearsky.py
  pvlib/irradiance.py
Due: core

Add section label to contributing page index.rst (#2301)
  docs/sphinx/source/contributing/index.rst
Due: none

Update clearsky.py
  pvlib/clearsky.py
Due: core

fix unrelated linting issues
  pvlib/clearsky.py
Due: core

fix unrelated linting issue
  pvlib/irradiance.py
Due: core

update the various PVGIS test data files
  pvlib/data/pvgis_tmy_test.csv
  pvlib/data/pvgis_tmy_test.dat
  pvlib/data/tmy_45.000_8.000_2005_2020.csv
  pvlib/data/tmy_45.000_8.000_2005_2020.epw
  pvlib/data/tmy_45.000_8.000_2005_2020.json
  pvlib/data/tmy_45.000_8.000_2005_2020.txt
  pvlib/data/tmy_45.000_8.000_2005_2023.csv
  pvlib/data/tmy_45.000_8.000_2005_2023.epw
  pvlib/data/tmy_45.000_8.000_2005_2023.json
  pvlib/data/tmy_45.000_8.000_2005_2023.txt
  pvlib/data/tmy_45.000_8.000_userhorizon.json
Due: core

update test_pvgis.py
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.11.2.rst
Due: none

Implement hoverxref for floating tooltips (#2290)
  docs/sphinx/source/conf.py
  pvlib/irradiance.py
  pyproject.toml
Due: core

Update docs/sphinx/source/user_guide/nomenclature.rst
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

remove transposition factor
  docs/sphinx/source/user_guide/nomenclature.rst
Due: none

Update pvlib/atmosphere.py
  pvlib/atmosphere.py
Due: core

Update test_clearsky.py
  pvlib/tests/test_clearsky.py
Due: core

Revert "Update test_clearsky.py"
  pvlib/tests/test_clearsky.py
Due: core

Reapply "Update test_clearsky.py"
  pvlib/tests/test_clearsky.py
Due: core

Revert "fix unrelated linting issue"
  pvlib/irradiance.py
Due: core

Revert "fix unrelated linting issues"
  pvlib/clearsky.py
Due: core

Revert "Merge remote-tracking branch 'upstream/main' into ghi_clear"
  .github/workflows/publish.yml
  .github/workflows/top-ranked-issues.yml
  README.md
  docs/sphinx/source/_images/example_function_screenshot.png
  docs/sphinx/source/contributing/index.rst
  docs/sphinx/source/contributing/style_guide.rst
  docs/sphinx/source/contributing/testing.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/nomenclature.rst
  docs/sphinx/source/user_guide/singlediode.rst
  docs/sphinx/source/user_guide/variables_style_rules.rst
  docs/sphinx/source/user_guide/weather_data.rst
  docs/sphinx/source/whatsnew/v0.11.2.rst
  docs/sphinx/source/whatsnew/v0.3.0.txt
  pvlib/_deprecation.py
  pvlib/clearsky.py
  pvlib/data/aod550_tcwv_20121101_test.nc
  pvlib/data/variables_style_rules.csv
  pvlib/iam.py
  pvlib/iotools/midc.py
  pvlib/irradiance.py
  pvlib/ivtools/sdm.py
  pvlib/pvsystem.py
  pvlib/spa.py
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/spectrl2.py
  pvlib/tests/ivtools/test_sdm.py
  pvlib/tests/test__deprecation.py
  pvlib/tests/test_clearsky.py
  pvlib/tests/test_conftest.py
  pvlib/tests/test_pvsystem.py
  pvlib/tests/test_spa.py
  scripts/update_top_ranking_issues.py
Due: core, remote-data

Revert "Update clearsky.py"
  pvlib/clearsky.py
Due: core

Revert "add deprecation warning"
  pvlib/clearsky.py
  pvlib/irradiance.py
Due: core

Revert "modify tests"
  pvlib/tests/test_irradiance.py
Due: core

Revert "irradiance.py: dirindex()"
  pvlib/irradiance.py
Due: core

Revert "clearsky.py: detect_clearsky"
  pvlib/clearsky.py
Due: core

Revert "clearsky.py: haurwitz(), detect_clearsky"
  pvlib/clearsky.py
Due: core

Revert "irradiance.py: ghi_from_poa() and clearsky_index()"
  pvlib/irradiance.py
Due: core

non-breaking: clearsky_ghi -> ghi_clear
  pvlib/clearsky.py
Due: core

breaking: clearsky_ghi & ghi_clearsky -> ghi_clear
  pvlib/irradiance.py
Due: core

*_test_not_working_*
  pvlib/tests/test_irradiance.py
Due: core

Apply suggestions from code review
  pvlib/irradiance.py
Due: core

change all variables
  pvlib/irradiance.py
Due: core

Fix Contribution Guidelines url in PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix Contribution Guidelines url in PR Template (#2308)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update pvlib/tests/test_irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

dirindex deprecation test
  pvlib/tests/test_irradiance.py
Due: core
