Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Update irradiance.py
  pvlib/irradiance.py
Due: core

more lint
  pvlib/tests/test_solarposition.py
Due: core

typo
  pvlib/irradiance.py
Due: core

Update v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Add py3.9-min
  .github/workflows/pytest-remote-data.yml
  ci/requirements-py3.9-min.yml
Due: none

Update min numpy in pyproject.toml
  pyproject.toml
Due: none

Update asv.conf.json
  benchmarks/asv.conf.json
Due: none

Update versions in asv.conf.json
  benchmarks/asv.conf.json
Due: none

Bumping numpy version in asv.conf.json
  benchmarks/asv.conf.json
Due: none

Update codecov python version
  .github/workflows/pytest-remote-data.yml
Due: none

update model description
  pvlib/irradiance.py
Due: core

whatsnew, update and merge entries
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

whatsnew (missing word)
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Update pvlib/spa.py
  pvlib/spa.py
Due: core

add test with varying delta_t
  pvlib/tests/test_solarposition.py
Due: core

Update PVGIS TMY tests and files
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/data/pvgis_tmy_meta.json
  pvlib/data/pvgis_tmy_test.dat
  pvlib/data/tmy_45.000_8.000_2005_2016.csv
  pvlib/data/tmy_45.000_8.000_2005_2016.epw
  pvlib/data/tmy_45.000_8.000_2005_2016.json
  pvlib/data/tmy_45.000_8.000_2005_2016.txt
  pvlib/data/tmy_45.000_8.000_2005_2020.csv
  pvlib/data/tmy_45.000_8.000_2005_2020.epw
  pvlib/data/tmy_45.000_8.000_2005_2020.json
  pvlib/data/tmy_45.000_8.000_2005_2020.txt
  pvlib/data/tmy_45.000_8.000_userhorizon.json
  pvlib/tests/iotools/test_pvgis.py
Due: core, remote-data

Remove dataclassees in requirements-py3.9-min.yml
  ci/requirements-py3.9-min.yml
Due: none

Remove Python version 3.8 (#2213)
  .github/workflows/publish.yml
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  benchmarks/asv.conf.json
  ci/requirements-py3.8.yml
  ci/requirements-py3.9-min.yml
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pyproject.toml
Due: none

Update to actions/setup-python@v5
  .github/workflows/flake8.yml
  .github/workflows/pytest.yml
Due: none

Update to actions/checkout@v4
  .github/workflows/asv_check.yml
  .github/workflows/flake8.yml
  .github/workflows/publish.yml
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

Bring up to #2218
  .github/workflows/asv_check.yml
  .github/workflows/pytest-remote-data.yml
Due: none

Update docs/sphinx/source/whatsnew/v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Address reviewer comments
  .github/workflows/publish.yml
Due: none

move references (klucher and haydavies)
  pvlib/irradiance.py
Due: core

R_b definition
  pvlib/irradiance.py
Due: core

Update PVGIS TMY tests and files (#2222)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/data/pvgis_tmy_meta.json
  pvlib/data/pvgis_tmy_test.dat
  pvlib/data/tmy_45.000_8.000_2005_2016.csv
  pvlib/data/tmy_45.000_8.000_2005_2016.epw
  pvlib/data/tmy_45.000_8.000_2005_2016.json
  pvlib/data/tmy_45.000_8.000_2005_2016.txt
  pvlib/data/tmy_45.000_8.000_2005_2020.csv
  pvlib/data/tmy_45.000_8.000_2005_2020.epw
  pvlib/data/tmy_45.000_8.000_2005_2020.json
  pvlib/data/tmy_45.000_8.000_2005_2020.txt
  pvlib/data/tmy_45.000_8.000_userhorizon.json
  pvlib/tests/iotools/test_pvgis.py
Due: core, remote-data

Update GH action versions (#2223)
  .github/workflows/asv_check.yml
  .github/workflows/flake8.yml
  .github/workflows/publish.yml
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

Update irradiance.klucher docs (#2192)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/irradiance.py
Due: core

Allow `delta_t` to be array in SPA functions (#2190)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/solarposition.py
  pvlib/spa.py
  pvlib/tests/test_solarposition.py
Due: core

add missing contributors
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

set release date; misc whatsnew cleanup
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

more whatsnew cleanup
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

address review comments
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none
