Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

Add spectral mismatch model comparison table (#2353)
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Update references in inverter.py (#2531)
  pvlib/inverter.py
Due: core

°C, Wm⁻²
  pvlib/ivtools/sdm/cec.py
  pvlib/ivtools/sdm/desoto.py
  pvlib/ivtools/sdm/pvsyst.py
Due: core

Update units formatting on SDM pages (°C, Wm⁻²) (#2545)
  pvlib/ivtools/sdm/cec.py
  pvlib/ivtools/sdm/desoto.py
  pvlib/ivtools/sdm/pvsyst.py
Due: core

Allows reading TMY data from a Path or file-like object (#2544)
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/tmy.py
  pvlib/tools.py
  tests/iotools/test_tmy.py
Due: core, remote-data

drop py 3.9, update min numpy and scipy
  ci/requirements-py3.10-min.yml
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.13.yml
  ci/requirements-py3.9.yml
  pyproject.toml
Due: none

drop unnecessary test warning filters
  pyproject.toml
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

revise numpy and scipy versions
  ci/requirements-py3.10-min.yml
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.13.yml
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pyproject.toml
Due: none

pandas too
  ci/requirements-py3.10-min.yml
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.13.yml
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pyproject.toml
Due: none

drop py 3.9 from test workflows
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

bump publish workflow to 3.10
  .github/workflows/publish.yml
Due: none

fix broken pytest and asv jobs
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  benchmarks/asv.conf.json
Due: none

try fixing asv again
  benchmarks/asv.conf.json
Due: none

more asv fix
  benchmarks/asv.conf.json
Due: none

Dax review
  docs/sphinx/source/user_guide/extras/nomenclature.rst
Due: none

Fix failing Meteonorm tests
  tests/iotools/test_meteonorm.py
Due: remote-data

bump py3.10-min h5py to 3.6.0
  ci/requirements-py3.10-min.yml
Due: none

tweaks
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/temperature.py
Due: core

a few tweaks
  pvlib/temperature.py
  tests/test_temperature.py
Due: core

Update pvlib/temperature.py
  pvlib/temperature.py
Due: core

Add k parameter to temperature.ross (#2521)
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/temperature.py
  tests/test_temperature.py
Due: core

Drop Python 3.9 (#2547)
  .github/workflows/publish.yml
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  benchmarks/asv.conf.json
  ci/requirements-py3.10-min.yml
  ci/requirements-py3.10.yml
  ci/requirements-py3.11.yml
  ci/requirements-py3.12.yml
  ci/requirements-py3.13.yml
  ci/requirements-py3.9.yml
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pyproject.toml
Due: none

publish.yml: use trusted publishing instead of API token
  .github/workflows/publish.yml
Due: none

better job names
  .github/workflows/publish.yml
Due: none

better name for overall workflow
  .github/workflows/publish.yml
Due: none

Update irradiance.py
  pvlib/irradiance.py
Due: core

linting
  pvlib/irradiance.py
Due: core

use inferred wind length in detect clearsky check fix 2542
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/clearsky.py
  tests/test_clearsky.py
Due: core

publish.yml: use trusted publishing instead of API token (#2549)
  .github/workflows/publish.yml
Due: none

irradiance.py updates: glossary term links and units (#2311)
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/irradiance.py
Due: core

Update test_tracking.py
  tests/test_tracking.py
Due: core

Replace `apparent_azimuth` with `solar_azimuth` in `test_low_sun_angle()` (#2551)
  tests/test_tracking.py
Due: core

lint
  pvlib/clearsky.py
Due: core

use inferred window length in detect clearsky check (#2550)
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/clearsky.py
  tests/test_clearsky.py
Due: core

Apply suggestions from code review
  pvlib/pvarray.py
Due: core

fix quote characters
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none
