Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Fix linter
  pvlib/pvsystem.py
Due: core

Enhanced the Software with Semi-Integration
  tests/test_semi_integration.py
Due: core

Remove basic option from PVGIS_TMY
  pvlib/iotools/pvgis.py
Due: remote-data

Remove pvgis_tmy outputformat='basic' option
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Add whatsnew
  docs/sphinx/source/whatsnew/v0.13.0.rst
  pvlib/iotools/pvgis.py
Due: remote-data

Enhancement Changes Updated
  pvlib/pvsystem.py
  pvlib/temperature.py
  tests/test_pvsystem.py
  tests/test_semi_integration.py
Due: core

Delete tmy_45.000_8.000_2005_2023.txt
  tests/data/tmy_45.000_8.000_2005_2023.txt
Due: core

Add basic warning
  pvlib/iotools/pvgis.py
Due: remote-data

Fix linter
  pvlib/iotools/pvgis.py
Due: remote-data

Fix dtypes in get_pvgis_tmy when outputformat='epw'
  pvlib/iotools/pvgis.py
Due: remote-data

Add example whatsnew file
  docs/sphinx/source/whatsnew/v0.X.Y-example.rst
Due: none

Fix flake8-linter issues in PR #2401: resolve W293, E501, and E303 errors
  docs/examples/shading/plot_partial_module_shading_simple.py
  pvlib/iam.py
  pvlib/spectrum/response.py
Due: core

add reference
  pvlib/atmosphere.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

underscores
  pvlib/atmosphere.py
Due: core

reference order
  pvlib/atmosphere.py
Due: core

docs: tentative wording
  pvlib/spectrum/irradiance.py
Due: core

test: single+all nan (series+df)
  tests/spectrum/test_irradiance.py
Due: core

insert blank line
  tests/spectrum/test_irradiance.py
Due: core

fix test assert statement
  tests/spectrum/test_irradiance.py
Due: core

fix tests
  tests/spectrum/test_irradiance.py
Due: core

combine assert out1 lines
  tests/spectrum/test_irradiance.py
Due: core

improve references
  pvlib/atmosphere.py
Due: core

fix errors
  pvlib/atmosphere.py
Due: core

add url
  pvlib/atmosphere.py
Due: core

addressed many of adamrjensen's initial comments
  pvlib/iotools/psm4.py
Due: remote-data

addressed more of adam's comments
  pvlib/iotools/psm4.py
Due: remote-data

Add reference for Gueymard 93 relative airmass model (#2424)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/atmosphere.py
Due: core

equal->is
  pvlib/spectrum/irradiance.py
Due: core

Update v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

move nrel api key fixture to conftest
  pvlib/tests/conftest.py
  pvlib/tests/iotools/test_psm3.py
  pvlib/tests/iotools/test_psm4.py
Due: core

move whatsnew entry to 0.12.1
  docs/sphinx/source/whatsnew/v0.11.3.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

move data files to new test data location
  tests/data/test_psm4_2023.csv
  tests/data/test_psm4_2023_5min.csv
  tests/data/test_psm4_tmy-2023.csv
  tests/data/test_read_psm4.csv
  tests/iotools/test_psm4.py
Due: core, remote-data

lint
  pvlib/iotools/psm4.py
Due: remote-data

Document and test `np.nan` handling in `spectrum.average_photon_energy` (#2426)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/spectrum/irradiance.py
  tests/spectrum/test_irradiance.py
Due: core

Add GH # comment in code
  pvlib/iotools/pvgis.py
Due: remote-data

rebuild for new pvlib test structure and other changes
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/ivtools/sdm.py
  pvlib/ivtools/sdm/__init__.py
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/ivtools/sdm/cec.py
  pvlib/ivtools/sdm/desoto.py
  pvlib/ivtools/sdm/pvsyst.py
  tests/ivtools/sdm/conftest.py
  tests/ivtools/sdm/test__fit_desoto_pvsyst_sandia.py
  tests/ivtools/sdm/test_cec.py
  tests/ivtools/sdm/test_desoto.py
  tests/ivtools/sdm/test_pvsyst.py
  tests/ivtools/test_sdm.py
Due: core

lint
  pvlib/ivtools/sdm/cec.py
  tests/ivtools/sdm/test_desoto.py
Due: core

Split up `pvlib.ivtools.sdm` into a subpackage organized by SDM (#2256)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/ivtools/sdm.py
  pvlib/ivtools/sdm/__init__.py
  pvlib/ivtools/sdm/_fit_desoto_pvsyst_sandia.py
  pvlib/ivtools/sdm/cec.py
  pvlib/ivtools/sdm/desoto.py
  pvlib/ivtools/sdm/pvsyst.py
  tests/ivtools/sdm/conftest.py
  tests/ivtools/sdm/test__fit_desoto_pvsyst_sandia.py
  tests/ivtools/sdm/test_cec.py
  tests/ivtools/sdm/test_desoto.py
  tests/ivtools/sdm/test_pvsyst.py
  tests/ivtools/test_sdm.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
