Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

use IEEE style for pvwatts v5 citation
  pvlib/inverter.py
  pvlib/pvsystem.py
Due: core

adapt pytest config to work with pytest 9.0
  pyproject.toml
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

use IEEE style for pvwatts v5 citation (#2595)
  pvlib/inverter.py
  pvlib/pvsystem.py
Due: core

Fix pytest config for new pytest 9.0 release (#2596)
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pyproject.toml
Due: none

Add python 3.14 to test matrix (#2590)
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  ci/requirements-py3.14.yml
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

add a few more variables to docstring
  pvlib/iotools/merra2.py
Due: remote-data

Apply suggestions from code review
  pvlib/spectrum/mismatch.py
Due: core

replace `altitude` parameter with `pressure`
  pvlib/spectrum/mismatch.py
  tests/spectrum/test_mismatch.py
Due: core

`albedo : numeric`
  pvlib/spectrum/mismatch.py
Due: core

make albedo coefficients user-specified as well
  pvlib/spectrum/mismatch.py
Due: core

complete tests
  tests/spectrum/test_mismatch.py
Due: core

docstring cleanup
  pvlib/spectrum/mismatch.py
Due: core

whatsnew note and contributors
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

add to user guide SMM model comparison table
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

lint
  tests/spectrum/test_mismatch.py
Due: core

minor doc fixes
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
  pvlib/spectrum/mismatch.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

add mention of parameter conversion with GenericLinearModel
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

add note about IR
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

move "other functions" up to below the table
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

fix spelling
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

test_sodapro.py: use ME instead of M
  tests/iotools/test_sodapro.py
Due: remote-data

acis.py: use mask instead of replace
  pvlib/iotools/acis.py
Due: remote-data

Add detailed docstrings for WEATHER_KEYS, POA_KEYS, and TEMPERATURE_KEYS
  pvlib/modelchain.py
Due: core

Remove unused parameter in _fuentes_hconv
  pvlib/temperature.py
Due: core

Pandas deprecations (#2600)
  pvlib/iotools/acis.py
  tests/iotools/test_sodapro.py
Due: remote-data

Remove unused parameter in _fuentes_hconv (#2605)
  pvlib/temperature.py
Due: core

fix output when surface angle is scalar but irrad is array
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

simplify numpy import
  tests/bifacial/test_ants2d.py
Due: core

add option to return irradiance incident on ground surface
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

more tests for ground irradiance
  tests/bifacial/test_ants2d.py
Due: core

one more test
  tests/bifacial/test_ants2d.py
Due: core

Fixed indentation in run_model_from_poa function
  pvlib/modelchain.py
Due: core
