Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

docs, tests
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

docs, data checks, tests
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Cliff suggestion
  pvlib/bifacial/loss_models.py
Due: core

Apply suggestions from code review
  pvlib/spectrum/__init__.py
  pvlib/tests/test_spectrum.py
Due: core

remove comments, inverse fraction
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Update docs/examples/irradiance-transposition/use_perez_modelchain.py
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

linter
  docs/examples/irradiance-transposition/use_perez_modelchain.py
Due: none

Split test_spectrum.py files
  pvlib/tests/spectrum/__init__.py
  pvlib/tests/spectrum/test_irradiance.py
  pvlib/tests/spectrum/test_mismatch.py
  pvlib/tests/spectrum/test_response.py
  pvlib/tests/spectrum/test_spectrl2.py
Due: core

fix conftest import
  pvlib/tests/spectrum/test_irradiance.py
  pvlib/tests/spectrum/test_mismatch.py
  pvlib/tests/spectrum/test_spectrl2.py
Due: core

Update test_mismatch.py
  pvlib/tests/spectrum/test_mismatch.py
Due: core

changed nan condition
  pvlib/atmosphere.py
Due: core

remove comment
  pvlib/spectrum/mismatch.py
Due: core

changed function name
  docs/sphinx/source/reference/airmass_atmospheric.rst
  pvlib/atmosphere.py
  pvlib/tests/test_atmosphere.py
Due: core

Apply suggestions from code review
  pvlib/atmosphere.py
Due: core

changed name (again)
  docs/sphinx/source/reference/airmass_atmospheric.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/atmosphere.py
  pvlib/tests/test_atmosphere.py
Due: core

condition fix
  pvlib/atmosphere.py
Due: core

corrected the Sandia wording
  pvlib/atmosphere.py
Due: core

Function to estimate wind speed at different heights (#2124)
  docs/sphinx/source/reference/airmass_atmospheric.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/atmosphere.py
  pvlib/tests/test_atmosphere.py
Due: core

restructure pvlib/spectrum (#2136)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/response.py
Due: core

Update v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Update irradiance.py
  pvlib/spectrum/irradiance.py
Due: core

preliminary PSA implementation
  pvlib/solarposition.py
Due: core

preliminary michalsky implementation
  pvlib/solarposition.py
Due: core

rename _coerce_and_roll_tmy, remove 'pvgis'
  pvlib/iotools/pvgis.py
Due: remote-data

rename index with new tz in coerce pvgis tmy
  pvlib/iotools/pvgis.py
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

allow tz of None in _coerce_and_roll_tmy
  pvlib/iotools/pvgis.py
Due: remote-data

create pvlib\tests\spectrum\conftest.py
  pvlib/tests/spectrum/conftest.py
  pvlib/tests/spectrum/test_mismatch.py
  pvlib/tests/spectrum/test_spectrl2.py
Due: core

Removed unused input as stated in issue #2105
  pvlib/tests/test_irradiance.py
Due: core

Added entries for fix for issue #2105
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

style(pvlib.data.variables_style_rules.csv): fixed power typo
  pvlib/data/variables_style_rules.csv
Due: core

Split test_spectrum.py (#2151)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/tests/spectrum/__init__.py
  pvlib/tests/spectrum/conftest.py
  pvlib/tests/spectrum/test_irradiance.py
  pvlib/tests/spectrum/test_mismatch.py
  pvlib/tests/spectrum/test_response.py
  pvlib/tests/spectrum/test_spectrl2.py
Due: core

Removed unused input as shown in issue #2105 (#2156)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/tests/test_irradiance.py
Due: core

style(pvlib.data.variables_style_rules.csv): fixed power typo (#2157)
  pvlib/data/variables_style_rules.csv
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
