Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

fix test
  tests/iotools/test_ecmwf.py
Due: remote-data

single comp path on numpy array
  pvlib/pvsystem.py
Due: core

added some comments
  pvlib/pvsystem.py
Due: core

fix tests, again
  pvlib/iotools/ecmwf.py
  tests/conftest.py
  tests/iotools/test_ecmwf.py
Due: core, remote-data

unit formatting
  pvlib/pvsystem.py
Due: core

one more
  tests/iotools/test_ecmwf.py
Due: remote-data

Fix comment typo in plot_simple_irradiance_adjustment
  docs/examples/shading/plot_simple_irradiance_adjustment_for_horizon_shading.py
Due: none

Fix comment typo in plot_simple_irradiance_adjustment (#2576)
  docs/examples/shading/plot_simple_irradiance_adjustment_for_horizon_shading.py
Due: none

use Timeout instead of Exception
  pvlib/iotools/ecmwf.py
  tests/iotools/test_ecmwf.py
Due: remote-data

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.13.2.rst
  pvlib/iotools/ecmwf.py
Due: remote-data

rename from ECMWF to ERA5
  pvlib/iotools/__init__.py
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

and fix tests
  tests/iotools/test_era5.py
Due: remote-data

add modules_per_string to adr_inverter test system
  tests/test_modelchain.py
Due: core

call keyword arguments as keyword arguments
  tests/test_pvsystem.py
Due: core

quick fix
  tests/test_pvsystem.py
Due: core

a few more missed keyword args
  tests/test_pvsystem.py
Due: core

simplify with_k_and_cap_adjustmen
  tests/test_pvsystem.py
Due: core

Refactor variable names for clarity in APE example
  docs/examples/spectrum/average_photon_energy.py
Due: none

make unit conversion funcs private
  pvlib/iotools/era5.py
Due: remote-data

Update pvlib/pvsystem.py
  pvlib/pvsystem.py
Due: core

doc formatting/linting
  pvlib/pvsystem.py
Due: core

Refactor variable names for clarity in APE example (#2578)
  docs/examples/spectrum/average_photon_energy.py
Due: none

better inspection of values
  tests/test_modelchain.py
Due: core

Change DHI to GHI and fix some units in plot_diffuse_fraction.py
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
Due: none

Change DHI to GHI and fix some units in plot_diffuse_fraction.py (#2580)
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
Due: none

Changes from code review
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  pvlib/spectrum/mismatch.py
Due: core

Add function to spectrum/__init__.py
  pvlib/spectrum/__init__.py
Due: core

Update test_mismatch.py
  tests/spectrum/test_mismatch.py
Due: core

Fix module import in tests
  tests/spectrum/test_mismatch.py
Due: core

Fix linter
  tests/spectrum/test_mismatch.py
Due: core

Remove tab character
  tests/spectrum/test_mismatch.py
Due: core

Apply suggestions from code review
  pvlib/iotools/era5.py
Due: remote-data

convert input times to UTC if not localized
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

lint
  pvlib/iotools/era5.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
