Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Add detailed docstrings for WEATHER_KEYS, POA_KEYS, and TEMPERATURE_KEYS
  pvlib/modelchain.py
Due: core

Fixed indentation in run_model_from_poa function
  pvlib/modelchain.py
Due: core

Denote Faiman default coefficients are for module temperature
  pvlib/temperature.py
Due: core

Same update for faiman_rad
  pvlib/temperature.py
Due: core

Fix NOCT-SAM effective irradiance handling and add tests
  pvlib/temperature.py
  tests/test_noct_sam_effective_irradiance.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

feedback from review
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

more changes from review
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

Apply suggestions from code review
  pvlib/iotools/merra2.py
Due: remote-data

add link to datasets; add table with variable description
  pvlib/iotools/merra2.py
Due: remote-data

tweak tests
  tests/iotools/test_merra2.py
Due: remote-data

Denote Faiman default coefficients are for module temperature (#2607)
  pvlib/temperature.py
Due: core

fix solargist test; expect new error message
  tests/iotools/test_solargis.py
Due: remote-data

sodapro: fix ME issue on old pandas
  tests/iotools/test_sodapro.py
Due: remote-data

use atol in meteonorm tests
  tests/iotools/test_meteonorm.py
Due: remote-data

Fix failing iotools tests (#2609)
  tests/iotools/test_meteonorm.py
  tests/iotools/test_sodapro.py
  tests/iotools/test_solargis.py
Due: remote-data

add LWGNT, LWGEM to variable map and docstring
  pvlib/iotools/merra2.py
Due: remote-data

Update docs/sphinx/source/user_guide/modeling_topics/temperature.rst
  docs/sphinx/source/user_guide/modeling_topics/temperature.rst
Due: none

Add tests for effective irradiance behavior in noct_sam
  tests/test_noct_sam_effective_irradiance.py
Due: core

Add tests for effective irradiance behavior in noct_sam
  tests/test_noct_sam_eff_irradiance.py
Due: core

Ignore Sphinx build artifacts
  .gitignore
Due: none

Fix broken GitHub user links in whatsnew contributor lists
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.12.0.rst
  docs/sphinx/source/whatsnew/v0.6.0.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
  docs/sphinx/source/whatsnew/v0.7.1.rst
  docs/sphinx/source/whatsnew/v0.7.2.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  docs/sphinx/source/whatsnew/v0.8.1.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.3.rst
  docs/sphinx/source/whatsnew/v0.9.4.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
Due: none

use `assert_allclose`, not `assert np.isclose`
  tests/bifacial/test_ants2d.py
Due: core

allow specifying custom row/ground subsets
  pvlib/bifacial/ants2d.py
  tests/bifacial/test_ants2d.py
Due: core

lint
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/utils.py
  tests/bifacial/test_ants2d.py
Due: core

change pvlib names to "longwave_net", "longwave_up"
  pvlib/iotools/merra2.py
Due: remote-data

Fix broken :ghuser: links and correct contributor usernames in whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.12.0.rst
  docs/sphinx/source/whatsnew/v0.6.0.rst
  docs/sphinx/source/whatsnew/v0.7.1.rst
  docs/sphinx/source/whatsnew/v0.7.2.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  docs/sphinx/source/whatsnew/v0.8.1.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.3.rst
  docs/sphinx/source/whatsnew/v0.9.4.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
Due: none

Add longwave_down to ERA5 variable map
  pvlib/iotools/era5.py
Due: remote-data

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.7.1.rst
  docs/sphinx/source/whatsnew/v0.7.2.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  docs/sphinx/source/whatsnew/v0.8.1.rst
  docs/sphinx/source/whatsnew/v0.9.0.rst
  docs/sphinx/source/whatsnew/v0.9.1.rst
  docs/sphinx/source/whatsnew/v0.9.2.rst
  docs/sphinx/source/whatsnew/v0.9.3.rst
  docs/sphinx/source/whatsnew/v0.9.4.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
Due: none

Fix NOCT SAM effective irradiance behavior and add tests
  pvlib/temperature.py
  tests/test_noct_sam_effective_irradiance.py
  tests/test_pvsystem.py
  tests/test_temperature.py
Due: core

Remove unrelated modelchain changes
  pvlib/modelchain.py
Due: core

correct argument and value order
  tests/ivtools/test_sde.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

move note to Testing section
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.13.2.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

create sedes2, include in docs
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/sedes2.py
Due: core

Update sedes2.py
  pvlib/spectrum/sedes2.py
Due: core

axis_azimuth description revision feat. cwhanse
  pvlib/tracking.py
Due: core

Move definition from pvsystem's SingleAxisTrackerMount to nomenclature
  docs/sphinx/source/_images/Anderson_Mikofski_2020_Fig4.png
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/tracking.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
