Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

[DOC] update scipy intersphinx url
  docs/sphinx/source/conf.py
Due: none

Update pvgis test data files (#2431)
  tests/data/pvgis_tmy_test.csv
  tests/data/tmy_45.000_8.000_2005_2023.csv
  tests/data/tmy_45.000_8.000_2005_2023.epw
  tests/data/tmy_45.000_8.000_2005_2023.json
  tests/data/tmy_45.000_8.000_2005_2023.txt
Due: core

add note regarding temp coeff consistency
  pvlib/ivtools/sdm/pvsyst.py
Due: core

make IXO and IXXO optional too
  pvlib/pvsystem.py
  tests/test_modelchain.py
  tests/test_pvsystem.py
Due: core

[DOC] update scipy intersphinx url (#2436)
  docs/sphinx/source/conf.py
Due: none

Add function for estimating PVsyst SDM parameters from IEC 61853-1 data (#2429)
  docs/sphinx/source/reference/pv_modeling/parameters.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/ivtools/sdm/__init__.py
  pvlib/ivtools/sdm/pvsyst.py
  tests/ivtools/sdm/test_pvsyst.py
Due: core

multiple instances of C -> °C
  pvlib/pvsystem.py
Due: core

name change (#825)
  pvlib/pvsystem.py
Due: core

Update v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

link to pvlib.solarposition.nrel_earthsun_distance
  pvlib/irradiance.py
Due: core

add solar constant units
  pvlib/irradiance.py
Due: core

(incomplete) reference updates
  pvlib/irradiance.py
Due: core

correct huld reference
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

use :term: role
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

reduce width
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

update terms
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

`-` -> `any single junction`
  docs/sphinx/source/user_guide/spectrum.rst
Due: none

accommodate new user guide folder structure
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

missing `
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

remove unused package
  pvlib/pvsystem.py
Due: core

change to kwarg only parameters
  pvlib/pvsystem.py
Due: core

add nrel reference, remove ``
  pvlib/irradiance.py
Due: core

ieee formatting [4]
  pvlib/irradiance.py
Due: core

Undo review change
  pvlib/iotools/pvgis.py
Due: remote-data

text suggestion to link Reno and Beckman refs
  pvlib/irradiance.py
Due: core

remove partridge, update uoregon
  pvlib/irradiance.py
Due: core

blank space
  pvlib/irradiance.py
Due: core

close url
  pvlib/irradiance.py
Due: core

long url
  pvlib/irradiance.py
Due: core

# noqa: E501
  pvlib/irradiance.py
Due: core

two spaces
  pvlib/irradiance.py
Due: core

formatting
  pvlib/irradiance.py
Due: core

beckman reference
  pvlib/irradiance.py
Due: core

add captions back in
  docs/sphinx/source/user_guide/index.rst
Due: none

re-separate columns
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

add duramat sr library reference
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

Update spectrum.rst
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

fix doi link
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none
