Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Remove whatsme entries
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Apply suggestions from code review
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/shading.py
Due: core

"the row axis/axes" instead of ``axis_azimuth``
  pvlib/shading.py
Due: core

Unnecessary math mode
  pvlib/shading.py
Due: core

Example suggestions and text trimming
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
  pvlib/shading.py
Due: core

whatsmes
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Add test to fix coverage issue
  pvlib/tests/test_shading.py
Due: core

Initial work
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/sphinx/source/reference/effects_on_pv_system_output/shading.rst
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Little things
  docs/examples/shading/plot_martinez_shade_loss.py
  pvlib/shading.py
Due: core

Can't test with the paper data, wtf
  pvlib/tests/test_shading.py
Due: core

More improvements
  docs/examples/shading/plot_martinez_shade_loss.py
  pvlib/shading.py
Due: core

Update plot_martinez_shade_loss.py
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Be4 rebase
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Fix fixture
  pvlib/tests/test_shading.py
Due: core

docstring
  pvlib/shading.py
Due: core

whatsnew :pencil:
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Minor thingies
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Initial work
  docs/examples/shading/plot_martinez_shade_loss.py
Due: none

Fix tests
  pvlib/tests/test_shading.py
Due: core

Add figure, improve docs :100:
  docs/sphinx/source/_images/Centralized_and_split_PV_junction_boxes.jpg
  pvlib/shading.py
Due: core

Increase python requirement to >= 3.8 (#2029)
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Fix silently ignoring file path in `pvsystem.retrieve_sam` when `name` is provided (#2020)
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Fix Ixx equation in pvsystem.sapm (#2019)
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Finalize 0.10.5 (#2035)
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

update whatsnews
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Update test_shading.py
  pvlib/tests/test_shading.py
Due: core

Add whatsnew
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
Due: none

Fix whatsnew files
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Fix whatsnew entries
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Fix whatsnew files
  docs/sphinx/source/whatsnew/v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Add whatsnew entry
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Apply suggestions from code review (Adam)
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
Due: none

Apply suggestions from code review (Adam)
  docs/examples/agrivoltaics/plot_diffuse_PAR_Spitters_relationship.py
  pvlib/par.py
  pvlib/tests/test_par.py
Due: core

Update par.py
  pvlib/par.py
Due: core

Move function to spectrum (mismatch.py)
  docs/examples/agrivoltaics/plot_diffuse_PAR_Spitters_relationship.py
  docs/sphinx/source/reference/agrivoltaics.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/__init__.py
  pvlib/par.py
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_par.py
  pvlib/tests/test_spectrum.py
Due: core

Improve units formatting
  docs/examples/agrivoltaics/plot_diffuse_PAR_Spitters_relationship.py
  pvlib/spectrum/mismatch.py
Due: core

Split legends
  docs/examples/agrivoltaics/plot_diffuse_PAR_Spitters_relationship.py
Due: none

Remove api page, move to spectrum index
  docs/sphinx/source/reference/agrivoltaics.rst
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/reference/index.rst
Due: none

Update v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Create meteonorm.py
  pvlib/iotools/meteonorm.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
