Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

create v0.10.3 whatsnew
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

formatting tweaks
  docs/sphinx/source/whatsnew/v0.10.2.rst
Due: none

remove GH actions workflow for joss-pdf
  .github/workflows/joss-pdf.yml
  docs/sphinx/source/whatsnew.rst
Due: none

Update infinite_sheds.py
  pvlib/bifacial/infinite_sheds.py
Due: core

Remove repeated words
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
  pvlib/ivtools/sdm.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
Due: core

Simplify int() conversions
  pvlib/solarposition.py
  pvlib/spa.py
  pvlib/tests/conftest.py
Due: core

Finalize 0.10.2 (#1868)
  .github/workflows/joss-pdf.yml
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.2.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

prototype (#1)
  docs/sphinx/source/reference/iotools.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/solcast.py
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

Update v0.10.3.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update test_infinite_sheds.py
  pvlib/tests/bifacial/test_infinite_sheds.py
Due: core

Update pvlib/ivtools/sdm.py
  pvlib/ivtools/sdm.py
Due: core

dynamic period
  pvlib/iotools/solcast.py
Due: remote-data

docstring
  pvlib/iotools/solcast.py
Due: remote-data

feedback
  pvlib/iotools/solcast.py
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

linting
  pvlib/iotools/__init__.py
Due: remote-data

Definitely not ready for review!
  pvlib/irradiance.py
Due: core

Big step forward.
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Add entry in docs.
  docs/sphinx/source/reference/irradiance/transposition.rst
Due: none

A working model but just one test sofar.
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Add new model as option in get_sky_diffuse. Docstring edits pending.
  pvlib/irradiance.py
Due: core

Completed doc strings. Also a bit of fine-tuning code.
  pvlib/irradiance.py
Due: core

Updated whatsnew.
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Insert proposed function signatures.
  pvlib/temperature.py
Due: core

fix invalid escape sequence '\c'
  pvlib/iam.py
Due: core

Bugfix, formatting fix, and add all tests.
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Test warning plus some other small changes.
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Make flake happy.
  pvlib/irradiance.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

Address comments.
  pvlib/irradiance.py
Due: core

Add to list of contributors
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Runnable code with partial doc strings.
  pvlib/temperature.py
Due: core

remove files for 2018 paper
  paper/2018/codemeta.json
  paper/2018/paper.bib
  paper/2018/paper.md
Due: none

Comlete doc strings.
  pvlib/temperature.py
Due: core

Add contributor code comments.
  pvlib/irradiance.py
Due: core

Add TOC entries for docs.
  docs/sphinx/source/reference/pv_modeling/temperature.rst
Due: none

Remove various repeated words in documentation (#1872)
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
  pvlib/ivtools/sdm.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
Due: core

fix invalid escape sequence '\c' (#1879)
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iam.py
Due: core

Replace use of deprecated `pkg_resources` (#1881)
  benchmarks/benchmarks/location.py
  benchmarks/benchmarks/solarposition.py
  benchmarks/benchmarks/solarposition_numba.py
  benchmarks/benchmarks/temperature.py
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/tests/conftest.py
  setup.py
Due: core

Replace use of deprecated `pkg_resources` (#1881) (#1882)
  benchmarks/benchmarks/location.py
  benchmarks/benchmarks/solarposition.py
  benchmarks/benchmarks/solarposition_numba.py
  benchmarks/benchmarks/temperature.py
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/tests/conftest.py
  setup.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
