Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Update tests/iotools/test_era5.py
  tests/iotools/test_era5.py
Due: remote-data

Apply suggestion from @RDaxini
  tests/iotools/test_era5.py
Due: remote-data

Fix _m_to_cm: multiply by 100 to convert meters to cm (#2725)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

Update introduction_to_contributing.rst
  docs/sphinx/source/contributing/introduction_to_contributing.rst
Due: none

order/formatting
  docs/sphinx/source/contributing/introduction_to_contributing.rst
Due: none

typos
  docs/sphinx/source/contributing/introduction_to_contributing.rst
Due: none

Apply suggestions from code review
  docs/sphinx/source/contributing/introduction_to_contributing.rst
Due: none

formatting, whatsnew, section reference
  docs/sphinx/source/contributing/introduction_to_contributing.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

fix section reference link in whatsnew
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

move whatsnew note
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

undo edit to v0.14.0.rst
  docs/sphinx/source/whatsnew/v0.14.0.rst
Due: none

Apply suggestions from code review
  pvlib/pvsystem.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/reference/solarposition.rst
  docs/sphinx/source/user_guide/getting_started/installation.rst
  pvlib/iotools/tmy.py
  pvlib/snow.py
  pvlib/solarposition.py
  pvlib/spa.py
  pvlib/spectrum/spectrl2.py
  tests/iotools/test_tmy.py
  tests/test_shading.py
Due: core, remote-data

remove nrel_nlr.rst
  docs/sphinx/source/user_guide/extras/nrel_nlr.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

call out the PSM4 URLs as a bugfix
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Update docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/reference/iotools.rst
Due: none

replace ir_down with longwave_down
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Fix CRN and SODAPRO test failures with pandas 3 StringDtype
  tests/iotools/test_crn.py
  tests/iotools/test_sodapro.py
Due: remote-data

fix iotools.crn tests
  tests/iotools/test_crn.py
Due: remote-data

fix iotools.midc tests
  tests/iotools/test_midc.py
Due: remote-data

fix iotools.psm4 tests
  tests/iotools/test_psm4.py
Due: remote-data

fix iotools.sodapro tests
  tests/iotools/test_sodapro.py
Due: remote-data

fix iotools.tmy tests
  tests/iotools/test_tmy.py
Due: remote-data

address pandas4 deprecation warnings
  pvlib/iotools/bsrn.py
  pvlib/iotools/solrad.py
Due: remote-data

fix one lint issue
  tests/iotools/test_crn.py
Due: remote-data

finish replacing ir_down with longwave_down
  pvlib/temperature.py
  tests/test_pvsystem.py
Due: core

undo edits to temperature.py
  pvlib/temperature.py
Due: core

temperature.faiman_rad doesn't use longwave_down yet
  pvlib/pvsystem.py
Due: core

remove v0.13.2 entries
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

v0.15.1 whatsnew
  docs/sphinx/source/whatsnew/v0.15.1.rst
Due: none

Remove pandas series usage from ephemeris (#2626)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/solarposition.py
Due: core

Update tests/test_pvsystem.py
  tests/test_pvsystem.py
Due: core

Adds faiman_rad and ross models to get_cell_temperature(). (#2631)
  docs/sphinx/source/whatsnew/v0.15.1.rst
  pvlib/pvsystem.py
  tests/test_pvsystem.py
Due: core

Fix `iotools` tests for pandas 3 (#2730)
  pvlib/iotools/bsrn.py
  pvlib/iotools/solrad.py
  tests/iotools/test_crn.py
  tests/iotools/test_midc.py
  tests/iotools/test_psm4.py
  tests/iotools/test_sodapro.py
  tests/iotools/test_tmy.py
Due: remote-data

Migrate NREL references to NLR (National Laboratory of the Rockies) (#2705)
  .github/workflows/pytest-remote-data.yml
  .gitignore
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/examples/irradiance-decomposition/plot_diffuse_fraction.py
  docs/examples/spectrum/average_photon_energy.py
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/user_guide/extras/faq.rst
  docs/sphinx/source/user_guide/getting_started/installation.rst
  docs/sphinx/source/whatsnew/v0.15.1.rst
  docs/tutorials/tmy_to_power.ipynb
  pvlib/atmosphere.py
  pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/loss_models.py
  pvlib/clearsky.py
  pvlib/inverter.py
  pvlib/iotools/midc.py
  pvlib/iotools/psm4.py
  pvlib/irradiance.py
  pvlib/ivtools/utils.py
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/snow.py
  pvlib/solarposition.py
  pvlib/spa.py
  pvlib/spa_c_files/README.md
  pvlib/spectrum/irradiance.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/spectrl2.py
  pvlib/tracking.py
  tests/conftest.py
  tests/iotools/test_midc.py
  tests/iotools/test_psm4.py
  tests/spectrum/test_spectrl2.py
  tests/test_solarposition.py
  tests/test_temperature.py
  tests/test_tracking.py
Due: core, remote-data

comments from review
  pvlib/tracking.py
Due: core

forgot to delete "significant" somehow?
  docs/sphinx/source/contributing/introduction_to_contributing.rst
Due: none

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
