Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

add mathjax config to conf.py
  docs/sphinx/source/conf.py
Due: none

mathjax3
  docs/sphinx/source/conf.py
Due: none

apply normalization to functions
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

v0.11 whatsnew
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Trying new things
  pvlib/pvsystem.py
Due: core

Revert "Trying new things"
  pvlib/pvsystem.py
Due: core

Update pvsystem.py
  pvlib/pvsystem.py
Due: core

Update docs/sphinx/source/reference/transformer.rst
  docs/sphinx/source/reference/transformer.rst
Due: none

Update pvlib/transformer.py
  pvlib/transformer.py
Due: core

Update docs/sphinx/source/whatsnew/v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Update pvlib/tests/test_transformer.py
  pvlib/tests/test_transformer.py
Due: core

:(
  pvlib/pvsystem.py
Due: core

:((
  pvlib/pvsystem.py
Due: core

I hope we dont miss that reference
  pvlib/pvsystem.py
Due: core

Add configuration options for math mode (#2056)
  docs/sphinx/source/conf.py
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

fix indentation issues
  pvlib/iam.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/spectrl2.py
Due: core

miscellaneous other math issues
  pvlib/irradiance.py
  pvlib/pvsystem.py
Due: core

Minor documentation rendering improvements (#2058)
  pvlib/iam.py
  pvlib/irradiance.py
  pvlib/pvsystem.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/spectrl2.py
Due: core

Update plot_standard_ASTM_G173-03.py
  docs/examples/spectrum/plot_standard_ASTM_G173-03.py
Due: none

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

reference->standard & docs
  pvlib/spectrum/mismatch.py
Due: core

docs
  pvlib/spectrum/mismatch.py
Due: core

Fixes
  docs/examples/spectrum/plot_standard_ASTM_G173-03.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Fix tests, I'm kinda stupid
  pvlib/tests/test_spectrum.py
Due: core

Deprecation announcement in condition
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/spectrum/mismatch.py
Due: core

duh
  pvlib/tests/test_spectrum.py
Due: core

Remove ``read_srml_month_from_solardat``
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.0.rst
  docs/sphinx/source/whatsnew/v0.6.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/srml.py
  pvlib/tests/iotools/test_srml.py
Due: remote-data

Add fail on version
  pvlib/tests/test_spectrum.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
