Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Add pvsyst solar position to solarposition.py
  pvlib/solarposition.py
Due: core

Update spectrl2.py
  pvlib/spectrum/spectrl2.py
Due: core

Add to solarposition.rst
  docs/sphinx/source/reference/solarposition.rst
  pvlib/solarposition.py
Due: core

linter
  pvlib/solarposition.py
Due: core

linting4ever
  pvlib/solarposition.py
Due: core

coerce and rotate pvgis TMY data to desired tz and year (#2138)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/iotools/pvgis.py
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

fix spa numthreads warning interpolation
  pvlib/spa.py
Due: core

add test
  pvlib/tests/test_spa.py
Due: core

In detect_clearsky, implement closed-form solution to optimization problem for alpha
  pvlib/clearsky.py
Due: core

Adjust test for clearsky optimizer, which would previously fail for window_length 15, but will now always succeed.
  pvlib/tests/test_clearsky.py
Due: core

Update contribution list for issue 2712
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

fix_typo_calcparams_desoto
  pvlib/pvsystem.py
Due: core

issue 2159
  pvlib/clearsky.py
Due: core

typofixing of pvwatts_dc
  pvlib/pvsystem.py
Due: core

Update v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Update whatsnew
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

fix typo on calcparams_desoto help (#2174)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/pvsystem.py
Due: core

name issue 2159
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

fix a typo at the singlediode function
  pvlib/singlediode.py
Due: core

Fixed typo
  pvlib/modelchain.py
Due: core

Fixed typo
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

add a new colaborator name
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Signed in contributors
  pvlib/modelchain.py
Due: core

Code style and flake8 corrections
  pvlib/clearsky.py
Due: core

plot limits added
  docs/examples/iv-modeling/plot_singlediode.py
Due: none

ephemeris description fixed
  pvlib/solarposition.py
Due: core

muneer transposition model
  pvlib/irradiance.py
Due: core

typo fixing of pvwatts_dc (#2175)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/pvsystem.py
Due: core

Update pvlib/irradiance.py
  pvlib/irradiance.py
Due: core

references modified and doi added
  docs/examples/irradiance-transposition/test_muneer.py
  pvlib/irradiance.py
Due: core

removed unwanted file
  docs/examples/irradiance-transposition/test_muneer.py
Due: none

formating autopep8
  pvlib/irradiance.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
