Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Fix quote characters in pytest GH Actions (#2552)
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

Add 2025 coefficients for Huld model (#2486)
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

Change: deprecate *axis_tilt in favour of *axis_slope
  benchmarks/benchmarks/infinite_sheds.py
  benchmarks/benchmarks/tracking.py
  docs/examples/bifacial/plot_bifi_model_mc.py
  docs/examples/irradiance-transposition/plot_transposition_gain.py
  docs/examples/shading/plot_martinez_shade_loss.py
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
  docs/examples/solar-tracking/plot_discontinuous_tracking.py
  docs/examples/solar-tracking/plot_single_axis_tracking.py
  docs/examples/solar-tracking/plot_single_axis_tracking_on_sloped_terrain.py
  docs/sphinx/source/reference/tracking.rst
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/shading.py
  pvlib/tracking.py
  tests/test_pvsystem.py
  tests/test_shading.py
  tests/test_tracking.py
Due: core

Typo in v0.13.1 whatnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

flake8 may forgive me
  docs/examples/solar-tracking/plot_single_axis_tracking_on_sloped_terrain.py
Due: none

whatsnew improvements
  docs/sphinx/source/whatsnew/v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.8.0.rst
Due: none

fix up whatsnew formatting
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

add missing contributors for 0.13.1
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Fix failing Meteonorm tests (#2548)
  tests/iotools/test_meteonorm.py
Due: remote-data

allow ValueError for older pandas versions
  pvlib/iotools/meteonorm.py
Due: remote-data

add explanatory comment
  pvlib/iotools/meteonorm.py
Due: remote-data

Fix meteonorm tests for older pandas versions (#2553)
  pvlib/iotools/meteonorm.py
Due: remote-data

correct a few sphinx issues
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/irradiance.py
Due: core

Update docs/sphinx/source/whatsnew/v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

updates from review
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

remove :term: from missing items
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

Finalize v0.13.1 (#2554)
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/irradiance.py
Due: core

add whatsnew file for 0.13.2
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Add whatsnew file for v0.13.2 (#2555)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

Add note in Hay-Davies model that horizon component is zero
  pvlib/irradiance.py
Due: core

Add documentation section on reverse transposition
  docs/sphinx/source/reference/irradiance/decomposition.rst
  docs/sphinx/source/reference/irradiance/index.rst
  docs/sphinx/source/reference/irradiance/reverse-transposition.rst
  docs/sphinx/source/reference/irradiance/transposition.rst
Due: none

Rename DNI Estimation Models to Decomposition Models
  docs/sphinx/source/reference/irradiance/decomposition.rst
Due: none

Add note in Hay-Davies model that horizon component is zero (#2556)
  pvlib/irradiance.py
Due: core

Add documentation section on reverse transposition (#2557)
  docs/sphinx/source/reference/irradiance/decomposition.rst
  docs/sphinx/source/reference/irradiance/index.rst
  docs/sphinx/source/reference/irradiance/reverse-transposition.rst
  docs/sphinx/source/reference/irradiance/transposition.rst
Due: none

ants2d and new VF code
  pvlib/bifacial/__init__.py
  pvlib/bifacial/ants2d.py
  pvlib/bifacial/utils.py
Due: core

remove some cruft
  pvlib/bifacial/utils.py
Due: core

use tan_phi instead of base solar position angles
  pvlib/bifacial/infinite_sheds.py
  pvlib/bifacial/utils.py
  tests/bifacial/test_infinite_sheds.py
  tests/bifacial/test_utils.py
Due: core

lint
  tests/bifacial/test_infinite_sheds.py
Due: core

Update plot_agrivoltaics_ground_irradiance.py
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

move whatsnew entry to v0.13.2
  docs/sphinx/source/whatsnew/v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

fix test and lint issues
  pvlib/pvsystem.py
  tests/conftest.py
Due: core

adapt to new organization
  pvlib/ivtools/convert.py
  tests/ivtools/test_convert.py
Due: core

paths, names, reference
  pvlib/ivtools/convert.py
  tests/ivtools/test_convert.py
Due: core

Add location class functions to location documentation section
  docs/sphinx/source/reference/location.rst
Due: none

fixes
  pvlib/ivtools/convert.py
  tests/ivtools/test_convert.py
Due: core

why does cells_in_series have to be special
  tests/ivtools/test_convert.py
Due: core

move whatsnew entries
  docs/sphinx/source/whatsnew/v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.2.rst
Due: none

rm whatnew duplicated from merge entry
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

correct IEC61853 matrix, add comments
  pvlib/ivtools/convert.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
