Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Move whatsnew to deprecations
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Change server parameter to url in get_cams (#2463)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/sodapro.py
  tests/iotools/test_sodapro.py
Due: remote-data

Update input values to match European Energy's site
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Fix linter
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

add line about commercial data spatial coverage
  docs/sphinx/source/reference/iotools.rst
Due: none

Organize `iotools` reference page by data provider (#2447)
  docs/sphinx/source/reference/iotools.rst
Due: none

[DOC] Fix `Edit on Github` sidebar link always points to latest commit (#2460)
  docs/sphinx/source/conf.py
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Break url in multiple lines
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Add versionchanged entries
  pvlib/iotools/pvgis.py
Due: remote-data

Update build Python versions
  .github/workflows/asv_check.yml
  .github/workflows/flake8.yml
  .github/workflows/publish.yml
  readthedocs.yml
Due: none

Update thumbnail path
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Add agrivPV gallery example (#2459)
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
  docs/sphinx/source/_images/agrivoltaics_system.jpg
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Undo update of Python version in publish.yml
  .github/workflows/publish.yml
Due: none

Add comment about publish.yml Python version
  .github/workflows/publish.yml
Due: none

Update whatsnews
  docs/sphinx/source/whatsnew/v0.12.1.rst
  docs/sphinx/source/whatsnew/v0.13.0.rst
  pvlib/pvsystem.py
Due: core

Standardize pvgis_hourly to return (data,meta) (#2462)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
  tests/iotools/test_pvgis.py
Due: remote-data

Remove raise exception comment
  pvlib/iotools/pvgis.py
Due: remote-data

Remove pvgis_tmy outputformat='basic' (#2416)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/pvgis.py
  tests/data/tmy_45.000_8.000_2005_2023.txt
  tests/iotools/test_pvgis.py
Due: core, remote-data

Update build Python versions to 3.12 (#2465)
  .github/workflows/asv_check.yml
  .github/workflows/flake8.yml
  .github/workflows/publish.yml
  readthedocs.yml
Due: none

Update spectrum.rst
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

fix table 1 formatting
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

un-split rows with ticks
  docs/sphinx/source/user_guide/modeling_topics/spectrum.rst
Due: none

deprecate parse_bsrn
  pvlib/iotools/bsrn.py
Due: remote-data

tests
  tests/iotools/test_bsrn.py
Due: remote-data

whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

fixes
  pvlib/iotools/bsrn.py
Due: remote-data

lint
  pvlib/iotools/bsrn.py
  tests/iotools/test_bsrn.py
Due: remote-data

deprecate parse_epw
  pvlib/iotools/epw.py
  pvlib/iotools/pvgis.py
Due: remote-data

tests
  tests/iotools/test_epw.py
Due: remote-data

lint
  pvlib/iotools/epw.py
  tests/iotools/test_epw.py
Due: remote-data

PR number in whatsnew
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

fix and whatsnew
  docs/examples/system-models/plot_oedi_9068.py
  docs/sphinx/source/whatsnew/v0.12.1.rst
Due: none

Remove removal year
  pvlib/pvsystem.py
Due: core

Update plot_agrivoltaics_ground_irradiance.py
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
Due: none

Deprecate `parse_bsrn` (#2466)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/bsrn.py
  tests/iotools/test_bsrn.py
Due: remote-data

Change g_poa_effective to effective_irradiance (#2235)
  docs/examples/agrivoltaics/plot_agrivoltaics_ground_irradiance.py
  docs/sphinx/source/user_guide/modeling_topics/pvsystem.rst
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/pvsystem.py
Due: core

Deprecate `parse_epw` (#2467)
  docs/sphinx/source/whatsnew/v0.12.1.rst
  pvlib/iotools/epw.py
  pvlib/iotools/pvgis.py
  tests/iotools/test_epw.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
