Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Appease flake8
  pvlib/pvsystem.py
Due: core

Appease flake8 more
  pvlib/tests/test_pvsystem.py
Due: core

Improve solver, streamline, and add tests
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Remove unused import
  pvlib/pvsystem.py
Due: core

Add test for exceptional case
  pvlib/tests/test_pvsystem.py
Due: core

Linting
  pvlib/tests/test_pvsystem.py
Due: core

Catch exceptions in i_mp_ic computation and update docstring
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Appease flake8 even more
  pvlib/pvsystem.py
Due: core

add note about clearsky_model
  pvlib/modelchain.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Test both exceptional cases
  pvlib/tests/test_pvsystem.py
Due: core

Monkey patch solver to test exception
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Appease the flake8 monster
  pvlib/tests/test_pvsystem.py
Due: core

Add fixmes for remaining items to do
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Oh flake8 how I love you!
  pvlib/tests/test_pvsystem.py
Due: core

Final(?) changes.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Update reference in erbs_driesse().
  pvlib/irradiance.py
Due: core

Fix links in examples.
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

edits from editor review
  paper/paper.bib
  paper/paper.md
Due: none

Add atand function
  pvlib/tools.py
Due: core

Fix
  pvlib/tools.py
Due: core

Fix me again
  pvlib/tools.py
Due: core

Last fix promise
  pvlib/tools.py
Due: core

Update docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
Due: none

Address review comments.
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
Due: none

PR 1875 (#2)
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Update pvlib/tools.py
  pvlib/tools.py
Due: core

Apply suggestions from code review
  pvlib/tools.py
Due: core

Final renames.
  docs/sphinx/source/reference/irradiance/transposition.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

Add doc string changes from adriesse
  pvlib/iotools/sodapro.py
Due: remote-data

Add atand function (#1927)
  pvlib/tools.py
Due: core

Docstring cleanup: "default None", doi (#1828)
  pvlib/bifacial/utils.py
  pvlib/clearsky.py
  pvlib/iam.py
  pvlib/iotools/epw.py
  pvlib/iotools/pvgis.py
  pvlib/iotools/sodapro.py
  pvlib/iotools/tmy.py
  pvlib/irradiance.py
  pvlib/ivtools/sde.py
  pvlib/ivtools/sdm.py
  pvlib/ivtools/utils.py
  pvlib/location.py
  pvlib/modelchain.py
  pvlib/pvsystem.py
  pvlib/scaling.py
  pvlib/shading.py
  pvlib/soiling.py
  pvlib/solarposition.py
  pvlib/spectrum/mismatch.py
  pvlib/spectrum/spectrl2.py
  pvlib/temperature.py
Due: core, remote-data

Implement reverse transposition using Perez-Driesse forward transposition (#1907)
  docs/examples/irradiance-transposition/plot_rtranpose_limitations.py
  docs/examples/irradiance-transposition/plot_rtranpose_year.py
  docs/sphinx/source/reference/irradiance/transposition.rst
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

increase min scipy to 1.5; update comments
  ci/requirements-py3.12.yml
Due: none

Flake8 correction
  pvlib/iotools/sodapro.py
Due: remote-data

Fix CAMS message error handler (#1905)
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iotools/sodapro.py
  pvlib/tests/iotools/test_sodapro.py
Due: remote-data

Add python 3.12 to CI (#1886)
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  ci/requirements-py3.12.yml
  docs/sphinx/source/whatsnew/v0.10.3.rst
Due: none

chore: support for PEP621
  pyproject.toml
  setup.py
Due: none

kandersolar feedback (#3)
  docs/sphinx/source/whatsnew/v0.10.3.rst
  pvlib/iotools/solcast.py
  pvlib/tests/iotools/test_solcast.py
Due: remote-data

Review (#4)
  pvlib/iotools/solcast.py
Due: remote-data

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
