Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

correct coefficients for 2025 and references
  pvlib/pvarray.py
  tests/test_pvarray.py
Due: core

fix docstring
  pvlib/pvarray.py
Due: core

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Apply suggestions from code review
  tests/iotools/test_nasa_power.py
Due: remote-data

Update pvlib/spectrum/mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

remove warnings
  pvlib/spectrum/mismatch.py
Due: core

drop warning checks in tests
  tests/spectrum/test_mismatch.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Update docs/sphinx/source/whatsnew/v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

update installation page link
  README.md
Due: none

Update zenith and azimuth angle documentation (#2485)
  docs/sphinx/source/user_guide/extras/nomenclature.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Update broken installation page link in README (#2514)
  README.md
Due: none

update documentation
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/pan_binary.py
Due: remote-data

add binary reader
  pvlib/iotools/pan_binary.py
Due: remote-data

update line lengths
  pvlib/iotools/pan_binary.py
Due: remote-data

flake8 errors
  pvlib/iotools/pan_binary.py
Due: remote-data

flake8
  pvlib/iotools/pan_binary.py
Due: remote-data

Update pvlib/iotools/pan_binary.py
  pvlib/iotools/pan_binary.py
Due: remote-data

line length
  pvlib/iotools/pan_binary.py
Due: remote-data

Repairs pvgis broken link.
  pvlib/iotools/pvgis.py
Due: remote-data

Corrects typo on example in documentation.
  pvlib/modelchain.py
Due: core

Reverts change in previous commit.
  pvlib/modelchain.py
Due: core

Apply suggestions from code review
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/nasa_power.py
Due: remote-data

Put URL at the end of the function
  pvlib/iotools/nasa_power.py
Due: remote-data

Add NASA POWER to iotools (#2500)
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/nasa_power.py
  tests/iotools/test_nasa_power.py
Due: remote-data

Remove out-of-range warnings from `pvlib.spectrum.spectral_factor_firstsolar` (#2512)
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/spectrum/mismatch.py
  tests/spectrum/test_mismatch.py
Due: core

remove removal date from whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Adds k parameter to temperature.ross
  pvlib/temperature.py
Due: core

Updates whatsnew file for v13.1
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Repair broken link in `get_pvgis_hourly` documentation (#2517)
  pvlib/iotools/pvgis.py
Due: remote-data

test deprecationwarning
  tests/test_modelchain.py
Due: core
