Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Fix whitespace
  pvlib/tests/test_solarposition.py
Due: core

removed duplicate import of datetime
  pvlib/solarposition.py
Due: core

Update mismatch.py
  pvlib/spectrum/mismatch.py
Due: core

Remove unneeded imports
  pvlib/atmosphere.py
Due: core

Update pvlib/floating.py
  pvlib/floating.py
Due: core

fixed linter
  pvlib/floating.py
Due: core

removed duplicate import of datetime (#2134)
  pvlib/solarposition.py
Due: core

update spectral_factor_firstsolar (#2100)
  docs/sphinx/source/whatsnew/v0.11.1.rst
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Fix handling of ambiguous times during DST shift
  pvlib/solarposition.py
  pvlib/tests/test_solarposition.py
Due: core

Raise excption on ambiguous time
  pvlib/solarposition.py
  pvlib/tests/test_solarposition.py
Due: core

Update docs version switcher text
  docs/sphinx/source/_static/version-alert.js
  docs/sphinx/source/user_guide/faq.rst
Due: none

restructure pvlib/spectrum
  pvlib/spectrum/__init__.py
  pvlib/spectrum/spectral_irradiance.py
  pvlib/spectrum/spectral_mismatch.py
  pvlib/spectrum/spectral_response.py
Due: core

update irr and mismatch
  pvlib/spectrum/spectral_irradiance.py
  pvlib/spectrum/spectral_mismatch.py
Due: core

update irr mismatch
  pvlib/spectrum/spectral_irradiance.py
  pvlib/spectrum/spectral_mismatch.py
Due: core

Update __init__.py
  pvlib/spectrum/__init__.py
Due: core

Update spectral_mismatch.py
  pvlib/spectrum/spectral_mismatch.py
Due: core

Update v0.11.1.rst
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

Update pvlib/solarposition.py
  pvlib/solarposition.py
Due: core

coerce and rotate pvgis TMY data to desired tz and year
  pvlib/iotools/pvgis.py
Due: remote-data

test get_pvgis_tmy_coerce_year
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

fix flake8 in test_pvgis_coerce_year
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

remove iloc for index in test pvgis coerce
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

deal with leap year in pvgis when coercing
  pvlib/iotools/pvgis.py
Due: remote-data

fix space around operator in coerce pvgis
  pvlib/iotools/pvgis.py
Due: remote-data

fix pd.Timestamp in pvgis coerce year
  pvlib/tests/iotools/test_pvgis.py
Due: remote-data

Apply suggestions from code review
  pvlib/windspeed.py
Due: core

Update pvlib/tests/test_windspeed.py
  pvlib/tests/test_windspeed.py
Due: core

changed function name
  pvlib/tests/test_windspeed.py
  pvlib/windspeed.py
Due: core

Update pvlib/windspeed.py
  pvlib/windspeed.py
Due: core

Update v0.11.1 what's new for coerce pvgis tmy
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

create
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Update spectrum.rst
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
Due: none

Update test_spectrum.py
  pvlib/tests/test_spectrum.py
Due: core

Remove warnings in docs (#2128)
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/examples/floating-pv/plot_floating_pv_cell_temperature.py
  docs/sphinx/source/_static/version-alert.js
  docs/sphinx/source/user_guide/faq.rst
Due: none

change measured height to reference
  pvlib/windspeed.py
Due: core

Add scttnlsn to 0.11.1 contributors list
  docs/sphinx/source/whatsnew/v0.11.1.rst
Due: none

moved wind speed to atmosphere
  docs/sphinx/source/reference/airmass_atmospheric.rst
  docs/sphinx/source/reference/pv_modeling/index.rst
  docs/sphinx/source/reference/pv_modeling/windspeed.rst
  pvlib/__init__.py
  pvlib/atmosphere.py
  pvlib/tests/test_atmosphere.py
  pvlib/tests/test_windspeed.py
  pvlib/windspeed.py
Due: core

Path conditions:
  core: any of: pvlib/, but not: pvlib/iotools/, pvlib/tests/iotools/
  remote-data: any of: pvlib/iotools/, pvlib/tests/iotools
