Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

More docs build fixes (#2030)
  docs/sphinx/source/whatsnew/v0.3.0.txt
  docs/sphinx/source/whatsnew/v0.9.1.rst
  pvlib/iotools/srml.py
  pvlib/pvarray.py
  pvlib/pvsystem.py
  pvlib/scaling.py
  pvlib/singlediode.py
  pvlib/snow.py
Due: core, remote-data

modify bishop88_mpp
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

lint
  pvlib/singlediode.py
Due: core

extend coverage to v_from_i, i_from_v
  pvlib/tests/test_singlediode.py
Due: core

lint
  pvlib/tests/test_singlediode.py
Due: core

Fix Ixx equation in pvsystem.sapm (#2019)
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Get the asv benchmarking job working again (#2028)
  .github/workflows/asv_check.yml
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Modify initial Voc for bishop88 functions (#2032)
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/singlediode.py
  pvlib/tests/test_singlediode.py
Due: core

update asv config for python 3.8
  benchmarks/asv.conf.json
Due: none

fix asv config syntax error
  benchmarks/asv.conf.json
Due: none

one more asv config edit
  benchmarks/asv.conf.json
Due: none

New PAR module with spitters_relationship
  docs/examples/agrivoltaics/README.rst
  docs/examples/agrivoltaics/plot_diffuse_PAR_Spitters_relationship.py
  pvlib/__init__.py
  pvlib/par.py
  pvlib/tests/test_par.py
Due: core

Fix implementation
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Format with Ruff, thx Ruff :green_heart:
  pvlib/spectrum/mismatch.py
Due: core

My old implementation was buggy
  pvlib/spectrum/mismatch.py
Due: core

Increase python requirement to >= 3.8 (#2029)
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  benchmarks/asv.conf.json
  ci/requirements-py3.7.yml
  ci/requirements-py3.8-min.yml
  docs/examples/shading/plot_partial_module_shading_simple.py
  docs/examples/solar-position/plot_sunpath_diagrams.py
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/version.py
  pyproject.toml
  readthedocs.yml
Due: core

whatsnew cleanup
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

add v0.11.0 file
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

forgot to include myself in the contributors
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

par shading factor dev commit - to be reverted
  .gitignore
  PAR_direct_and_diffuse_sfs.py
Due: none

update release date
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Comments from review
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Finalize 0.10.5 (#2035)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Update v0.11.0.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Add issue-discussenners
  docs/sphinx/source/whatsnew/v0.11.0.rst
Due: none

Linter
  pvlib/tests/test_spectrum.py
Due: core

More linter xD
  pvlib/tests/test_spectrum.py
Due: core

Remove reference links from first sentence
  pvlib/spectrum/mismatch.py
Due: core

remove old whatsme entries
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

rename funcs and change versionadded's
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  docs/sphinx/source/whatsnew/v0.11.0.rst
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Update v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Update versionadded
  pvlib/pvsystem.py
Due: core

Add example
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/sphinx/source/_images/Dominguez_et_al_PVSC2023.png
  pvlib/pvsystem.py
Due: core

docstring update
  pvlib/pvsystem.py
Due: core

who would have guessed it's always the linter?
  pvlib/pvsystem.py
Due: core
