Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Add function
  pvlib/iotools/solrad.py
Due: remote-data

Add tests
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

Update v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Remove double testfile
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

Change elevation to altitude
  pvlib/iotools/solrad.py
  pvlib/tests/iotools/test_solrad.py
Due: remote-data

Initial commit
  docs/sphinx/source/reference/iotools.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/iotools/__init__.py
  pvlib/iotools/solargis.py
Due: remote-data

Linting
  pvlib/iotools/solargis.py
Due: remote-data

Include v0.10.4 whatsnew
  docs/sphinx/source/whatsnew.rst
Due: none

Add example
  pvlib/iotools/solargis.py
Due: remote-data

Update raises message
  pvlib/iotools/solargis.py
Due: remote-data

Update doc section order
  pvlib/iotools/solargis.py
Due: remote-data

Fix typo
  pvlib/irradiance.py
Due: core

Add test
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

why is always the linter
  pvlib/tests/test_irradiance.py
Due: core

Update test_irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Am I faster that the linter?
  pvlib/tests/test_irradiance.py
Due: core

Again the linter
  pvlib/tests/test_irradiance.py
Due: core

Clear up comments
  pvlib/irradiance.py
Due: core

Update asv.conf.json
  benchmarks/asv.conf.json
Due: none

Update v0.9.5.rst
  docs/sphinx/source/whatsnew/v0.9.5.rst
Due: none

Update irradiance.py
  pvlib/irradiance.py
Due: core

Correct usage of `xtol` in `ghi_from_poa_driesse_2023` (#1971)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/irradiance.py
  pvlib/tests/test_irradiance.py
Due: core

Set parser to etree
  pvlib/iotools/solargis.py
Due: remote-data

Add tests
  pvlib/iotools/solargis.py
  pvlib/tests/iotools/test_solargis.py
Due: remote-data

Add test skip for pandas<1.3.0
  pvlib/iotools/solargis.py
  pvlib/tests/iotools/test_solargis.py
Due: remote-data

Fix nan replacement and add variable conversion
  pvlib/iotools/solargis.py
Due: remote-data

Delete SPA_NOTICE.md
  pvlib/spa_c_files/SPA_NOTICE.md
Due: core

Add time_resolution conversion
  pvlib/iotools/solargis.py
Due: remote-data

Fix precipitable_water conversion in solcast
  pvlib/iotools/solcast.py
Due: remote-data

Delete SPA_NOTICE.md (#1974)
  pvlib/spa_c_files/SPA_NOTICE.md
Due: core

Update error message in infer_temperature_model
  pvlib/modelchain.py
Due: core

Updated whats new rst doc
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Minor wording update to bug fix description about error message update
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

Fix various solar position calculations when `DatetimeIndex.unit` is not `ns` (#1948)
  docs/sphinx/source/whatsnew/v0.10.4.rst
  pvlib/solarposition.py
  pvlib/tests/conftest.py
  pvlib/tests/test_solarposition.py
Due: core

fix numba version check in `conftest.py`
  pvlib/tests/conftest.py
Due: core

add `noqa: F401` to other import checks
  pvlib/tests/conftest.py
Due: core

add fit_huld
  pvlib/pvarray.py
  pvlib/tests/test_pvarray.py
Due: core

docs
  docs/sphinx/source/reference/pv_modeling/system_models.rst
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none
