Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
      - '!pvlib/tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - pvlib/tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'pvlib/tests/.*'
          - '!pvlib/tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'pvlib/tests/iotools/.*'
        flags:
          - remote-data


comment: off

Forgot to update tests :skull:
  pvlib/tests/test_shading.py
Due: core

Remove more references to notebooks
  docs/sphinx/source/contributing.rst
  docs/sphinx/source/index.rst
Due: none

move Matlab references to history
  README.md
  docs/sphinx/source/contributing.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/comparison_pvlib_matlab.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/package_overview.rst
Due: none

whatsnew
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Update docs/sphinx/source/index.rst
  docs/sphinx/source/index.rst
Due: none

move Matlab references to history (#2012)
  README.md
  docs/sphinx/source/contributing.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/comparison_pvlib_matlab.rst
  docs/sphinx/source/user_guide/index.rst
  docs/sphinx/source/user_guide/package_overview.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Remove link to outdated tutorials (#2009)
  docs/sphinx/source/contributing.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/user_guide/installation.rst
Due: none

list spectrum.spectral_factor_sapm, correct PVsyst capitalization
  docs/sphinx/source/reference/pv_modeling/system_models.rst
Due: none

Minor improvements to "PV System Models" reference page (#2014)
  docs/sphinx/source/reference/pv_modeling/system_models.rst
Due: none

Add examples section
  pvlib/shading.py
Due: core

respond to comments
  docs/sphinx/source/whatsnew/v0.10.4.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/pvarray.py
  pvlib/tests/test_pvarray.py
Due: core

put v0.10.4.rst back
  docs/sphinx/source/whatsnew/v0.10.4.rst
Due: none

roles assumption messin w/ me docs :astonished:
  pvlib/shading.py
Due: core

Update shading.py
  pvlib/shading.py
Due: core

Add subscripts to dni mapping
  pvlib/iotools/midc.py
Due: remote-data

Update v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Update midc.py
  pvlib/iotools/midc.py
Due: remote-data

Add gallery example
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
  pvlib/shading.py
Due: core

This was fixed in recent sphinx-gallery releases IIRC
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
Due: none

Extra empty line or admonition type unsupported
  pvlib/shading.py
Due: core

Fix example link (hopefully :pray: )
  pvlib/shading.py
Due: core

Fix subsubsections?
  pvlib/shading.py
Due: core

Nah, bulleted list didn't work
  pvlib/shading.py
Due: core

tilted -> tracker, only affects text
  pvlib/shading.py
Due: core

Typos and unreasonable physical values
  pvlib/shading.py
Due: core

See the Examples section below, not the unlinkable link
  pvlib/shading.py
Due: core

tracker -> row, param names, code and docs
  pvlib/shading.py
  pvlib/tests/test_shading.py
Due: core

Preliminar implementation, tests, docs and gallery example
  docs/examples/bifacial/plot_irradiance_nonuniformity_loss.py
  docs/sphinx/source/reference/effects_on_pv_system_output/loss-models.rst
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Implementation, tests & docs --> ready for review at this point
  docs/sphinx/source/reference/effects_on_pv_system_output/spectrum.rst
  pvlib/data/duramat_spectral_responses.csv
  pvlib/spectrum/__init__.py
  pvlib/spectrum/mismatch.py
  pvlib/tests/test_spectrum.py
Due: core

Be4 linter comes for me
  pvlib/tests/test_spectrum.py
Due: core

fix Ixx equation, use Aimp
  docs/sphinx/source/whatsnew/v0.10.5.rst
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Update docs/sphinx/source/whatsnew/v0.10.5.rst
  docs/sphinx/source/whatsnew/v0.10.5.rst
Due: none

Fix broken example :wrench:
  docs/examples/shading/plot_shaded_fraction1d_ns_hsat_example.py
Due: none

My approach to the issue
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core

Deprecate previous parameters
  pvlib/pvsystem.py
Due: core

No reason to over-engineer, right?
  pvlib/pvsystem.py
  pvlib/tests/test_pvsystem.py
Due: core
