Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "remote_data" (pvlib.iotools) and "core" (everything else).
# Because we only run the remote_data tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run remote_data tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - tests/
      - '!pvlib/iotools/'
      - '!tests/iotools/'
    carryforward: false

  remote-data:
    paths:
      - pvlib/iotools/
      - tests/iotools
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:  # each entry here represents a check status to report to GitHub
    patch:
      default:
        target: 100%

    project:
      default: off

      core:
        target: auto
        flags:
          - core

      remote-data:
        target: auto
        flags:
          - remote-data

      tests-core:
        target: 95%
        paths:
          - 'tests/.*'
          - '!tests/iotools/.*'
        flags:
          - core

      tests-remote-data:
        target: 95%
        paths:
          - 'tests/iotools/.*'
        flags:
          - remote-data


comment: off

linter blank line
  tests/test_modelchain.py
Due: core

Corrects minor typos.
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/temperature.py
Due: core

Corrects doi formatting.
  pvlib/temperature.py
Due: core

Update docs/sphinx/source/whatsnew/v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Deprecate `modelchain.get_orientation` (#2495)
  docs/sphinx/source/whatsnew/v0.13.1.rst
  pvlib/modelchain.py
  tests/test_modelchain.py
Due: core

Improve docstring and initial test messages.
  pvlib/temperature.py
Due: core

Update README.md
  README.md
Due: none

Update spa_python doc string
  pvlib/solarposition.py
Due: core

Change refraction correction limit in ephemeris solar position algorithm
  pvlib/solarposition.py
Due: core

Change delta_t dtype to numeric
  pvlib/solarposition.py
Due: core

Update solarposition.py
  pvlib/solarposition.py
Due: core

Adds tests for temperature.ross
  tests/test_temperature.py
Due: core

Changes variables in test from int to float.
  tests/test_temperature.py
Due: core

Addresses flake8 issues.
  tests/test_temperature.py
Due: core

Fixes flake8 issue.
  tests/test_temperature.py
Due: core

Covers errors in testing temperature.ross
  tests/test_temperature.py
Due: core

bump micromamba action version
  .github/workflows/pytest.yml
Due: none

try disabling cache
  .github/workflows/pytest.yml
Due: none

Improves documentation on temperature.ross
  pvlib/temperature.py
Due: core

Corrects minor typo.
  pvlib/temperature.py
Due: core

Update pvlib/solarposition.py
  pvlib/solarposition.py
Due: core

Update spa_python doc string (#2523)
  pvlib/solarposition.py
Due: core

Add testing and whatsnew
  docs/sphinx/source/whatsnew/v0.13.1.rst
  tests/test_solarposition.py
Due: core

Apply suggestions from code review
  pvlib/iotools/meteonorm.py
Due: remote-data

Update v0.13.1.rst
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Improve docstring
  pvlib/iotools/meteonorm.py
Due: remote-data

Improve functions
  pvlib/iotools/meteonorm.py
Due: remote-data

Add first round of tests
  tests/iotools/test_meteonorm.py
Due: remote-data

Update tests
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Full test coverage
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Fix linter
  tests/iotools/test_meteonorm.py
Due: remote-data

Fix tests
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Increase test coverage
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Adapts irradiance.isotropic to return_components framework.
  pvlib/irradiance.py
Due: core

Update README.md (#2522)
  README.md
  docs/sphinx/source/whatsnew/v0.13.1.rst
Due: none

Implement feedback from Meteonorm review
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data

Implement feedback from code review from kandersolar
  pvlib/iotools/meteonorm.py
Due: remote-data

basic endpoint only support '1h', rename terrain_situation
  pvlib/iotools/meteonorm.py
  tests/iotools/test_meteonorm.py
Due: remote-data
