Repository pvlib/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, remote-data

Create and list v0.16.1 whatsnew
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.16.1.rst
Due: none

Create and list v0.16.1 whatsnew (#2866)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.16.1.rst
Due: none

fix sphinx issue
  docs/sphinx/source/reference/bifacial.rst
  docs/sphinx/source/whatsnew/v0.16.1.rst
Due: none

PR number
  docs/sphinx/source/whatsnew/v0.16.1.rst
Due: none

Fix sphinx linking issue (#2867)
  docs/sphinx/source/reference/bifacial.rst
  docs/sphinx/source/whatsnew/v0.16.1.rst
Due: none

create and list v0.16.2 whatsnew
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

Create and list v0.16.2 whatsnew (#2868)
  docs/sphinx/source/whatsnew.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

Move whatsnew entry to v0.16.2
  docs/sphinx/source/whatsnew/v0.16.0.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

Clarify AOI-minimizing principle in tracking.singleaxis docstring
  pvlib/tracking.py
Due: core

Add files via upload
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

instruct submitter to include the PR checklist
  .github/workflows/welcome.yml
Due: none

Apply reviewer suggestions and add contributor tag
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/tracking.py
Due: core

Loop over multiple returned files
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/iotools/era5.py
  tests/iotools/test_era5.py
Due: remote-data

Remove old whatsnew entry
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Lint
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Restore whatsnew
  docs/sphinx/source/whatsnew/v0.15.2.rst
Due: none

Add pvlib.spa.transit_sunrise_sunset to documentation
  docs/sphinx/source/reference/solarposition.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/spa.py
Due: core

Update v0.16.2.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

force conda-forge on py3.14
  ci/requirements-py3.14.yml
Due: none

Pin tk<9 for py3.14
  ci/requirements-py3.14.yml
Due: none

Update crash date
  ci/requirements-py3.14.yml
Due: none

Edit the "first time contributor" message to instruct submitter to include the PR checklist (#2870)
  .github/workflows/welcome.yml
Due: none

Add files via upload
  pvlib/ivtools/sdm/Villalva.ipynb
Due: core

Better align perez and perez_driesse
  pvlib/irradiance.py
Due: core

return scalar when input is scalar
  pvlib/tracking.py
  tests/test_tracking.py
Due: core

whatsnew
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

Remove new default value for airmass in perez
  pvlib/irradiance.py
Due: core

Appease linter
  pvlib/irradiance.py
Due: core

docs: clarify multiple IV curve requirement for Sandia fits
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/ivtools/sdm/desoto.py
  pvlib/ivtools/sdm/pvsyst.py
Due: core

Document module-level constants
  docs/sphinx/source/conf.py
  docs/sphinx/source/reference/constants.rst
  docs/sphinx/source/reference/index.rst
  docs/sphinx/source/reference/pv_modeling/temperature.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/albedo.py
  pvlib/atmosphere.py
Due: core

docs: remove redundant IV curve wording
  pvlib/ivtools/sdm/desoto.py
  pvlib/ivtools/sdm/pvsyst.py
Due: core

Apply review suggestions to the find_minimum bracket
  pvlib/singlediode.py
Due: core

Remove trailing whitespace (fix flake8 W291)
  pvlib/tracking.py
Due: core

Apply suggestion from @RDaxini
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

Clarify AOI-minimizing principle in tracking.singleaxis docstring (#2869)
  docs/sphinx/source/whatsnew/v0.16.2.rst
  pvlib/tracking.py
Due: core

docs: place constants near related reference pages
  docs/sphinx/source/conf.py
  docs/sphinx/source/reference/airmass_atmospheric.rst
  docs/sphinx/source/reference/constants.rst
  docs/sphinx/source/reference/index.rst
  docs/sphinx/source/reference/irradiance/other.rst
  docs/sphinx/source/reference/pv_modeling/temperature.rst
  docs/sphinx/source/whatsnew/v0.16.2.rst
Due: none

no ras
  pvlib/spa.py
Due: core

flake8
  pvlib/spa.py
Due: core

another instance + link reference
  pvlib/spa.py
Due: core

Path conditions:
  core: any of: pvlib/, tests/, but not: pvlib/iotools/, tests/iotools/
  remote-data: any of: pvlib/iotools/, tests/iotools
